<div class="clearfix child">
  <div class="col-md-6 col-sm-4 col-xs-12">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :academico_evaluation_scheme_id %>
    <%= f.collection_select(:academico_evaluation_parameter_id, Academico::EvaluationParameter.all, :id, :name, {:include_blank => false},{:class=>"select2_single form-control parameter_detail_element", :tabindex=>"-1"}) %>
    </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <%= f.number_field :percentage, :class=>"form-control col-md-3 col-xs-12",:required=>"required", :type=>"number", :"data-validate-minmax"=>"0,100", min: "0", max:"100" %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <% if f.object.persisted? %>
      <%= f.check_box :_destroy, :class=>"flat" %>
      <%= f.label :_destroy, "Eliminar" %>
    <% else%>
      <%= f.hidden_field :_destroy, :class => 'removable' %>
      <%= remove_child_button "Eliminar"%>
    <% end %>
  </div>
</div>