<%= form_for(academico_evaluation_scheme, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_evaluation_scheme.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_evaluation_scheme.errors.count, "error") %> prohibited this academico_evaluation_scheme from being saved:</h2>

      <ul>
      <% academico_evaluation_scheme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Description
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :description, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <%= new_fields_template f, :academico_evaluation_methods %>

  <div class="x_title">
    <h2>Llenar Parámetros de Evaluación (100%)</h2>
    <div class="clearfix"></div>
  </div>
  <div class="item form-group">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
      <br>
      <div id="academico_evaluation_method">
        <%= f.fields_for :academico_evaluation_methods do |ff| %>
          <div class="children">
            <%= render "academico_evaluation_method_fields", :f => ff %>
          </div>
        <% end %>
      </div>
      <br><%= add_child_button "Agregar Detalle",:academico_evaluation_methods,"academico_evaluation_method" %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="item form-group">
    <br/>
    <br/>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="x_title">
        <h2>Nivel y Programa</h2>
        <div class="clearfix"></div>
      </div>
      <br/>
      <table class="table table-striped">
        <tr>
          <th class="bg-primary text-white"></th>
          <% @programs.each do |program| %>
            <th class="bg-primary text-white"><%= check_box_tag '', '', false, {class: 'select_col flat'} %> <%= program.name %></th>
          <% end %>
        </tr>
        <% @levels.each do |level| %>
          <tr>
            <th class="bg-info text-white"><%= check_box_tag '', '', false, {class: 'select_row flat'} %> <%= level.name %></th>
            <%= f.fields_for :academico_evaluation_level_programs, programs_for_level(f.object.academico_evaluation_level_programs, level) do |ff| %>
              <td>
                <%= ff.hidden_field :id %>
                <%= ff.hidden_field :academico_evaluation_schemes_id %>
                <%= ff.hidden_field :academico_level_programs_id %>
                <%= ff.check_box :_destroy, {:checked => ff.object.persisted?, :class => 'flat'}, '0', '1' %>
              </td>
            <% end %>
          </tr>
        <% end %>
    </table>
  </div>
</div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_evaluation_schemes_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
<script src="/assets/academico/evaluation_schemes.js"></script>