<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Editar Esquema de Evaluación ()</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<%= render "shared/alert" %>
						<%= render 'form', academico_evaluation_scheme: @academico_evaluation_scheme %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
