<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Esquema de Evaluación: </h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>
                <h2>Descripción:</h2>
                <h4><%= @academico_evaluation_scheme.description %></h4>
              </blockquote>

              <blockquote class="blockquote-reverse">

                <table class="table table-striped">
                    <thead>
                      <th>Parámetro</th>
                      <th>Peso</th>
                    </thead>
                    <tbody>
                      <% @academico_evaluation_scheme.academico_evaluation_methods.each do |evaluation_method| %>
                        <tr>
                          <td><%= evaluation_method.academico_evaluation_parameter.name %></td>
                          <td><%= evaluation_method.percentage %> %</td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                  <%= link_to 'Editar', edit_academico_evaluation_scheme_path(@academico_evaluation_scheme), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_evaluation_schemes_path, :class=>"btn btn-success" %>
              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
