<% # this partial is reused in ajax responses so that's why input names are hardcoded so that they fields_for builds them correctly, also note the use of indexes and template_index1 and template_index2 
# The f.fields_for form of the method is not used to eliminate a dependency that prevents of from using the template in ajax
%>

<% subform_builder_name = "academico_temary[academico_sessions_attributes][#{first_index}][academico_session_parameters_attributes]" %>
<div class="child">
  <%= fields_for subform_builder_name, academico_session_parameter, { index: second_index } do |f| %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :academico_session_id %>
    <%= f.hidden_field :academico_evaluation_parameter_id %>
    <div class="session-parameter">
      <div class="col-md-8 col-sm-8 col-xs-6">
        <div class="x_title">
        <h2><%= f.object.parameter_name  %></h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <% if f.object.persisted? %>
          <%= f.check_box :_destroy, :class=>"flat" %>
          <%= f.label :_destroy, "Eliminar" %>
        <% else %>
          <%= f.hidden_field :_destroy, :class => 'removable' %>
          <%= remove_child_button "Eliminar"%>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
    <% subform_builder_assignments = "#{subform_builder_name}[#{second_index}][academico_session_assignments_attributes]" %>

    <%= new_fields_template f, :academico_session_assignments, {template_index1: first_index, template_index2: second_index, association_name: subform_builder_assignments} %>

    <div class="panel">
      <div class="panel-body">
        <div id="<%= "academico_session_assignment_#{first_index}_#{second_index}" %>">
          <% academico_session_parameter.academico_session_assignments.each_with_index do |academico_session_assignment, index| %>
            <%= fields_for "#{subform_builder_assignments}[]", academico_session_assignment, { index: index } do |ff| %>
              <div class="children">
                <%= render(:partial => "academico/temaries/academico_session_assignment_fields", :locals => {:f => ff}) %>
              </div>
            <% end %>
          <% end %>
        </div>
        <br/><br/>
        <div class="col-md-8 col-sm-8 col-xs-12">
        <%= add_child_button "Agregar Asignación",:academico_session_assignments,"academico_session_assignment_#{first_index}_#{second_index}" %>

        </div>
      </div>
    </div>
  <% end %>
</div>