<% # note use of each and locals, we rely in the index passed some levels deep down  %>
<% academico_session.academico_session_parameters.each_with_index do |academico_session_parameter, index| %>
  <%= render(:partial => "academico_session_parameter", :locals => {:academico_session_parameter => academico_session_parameter, :first_index => first_index, :second_index => index}) %>
<% end %>