<div class="container child">
  <div class="row well-lg">
    <div class="col-md-8 col-sm-7 col-xs-12 form-group">
  
      <%= f.hidden_field :id %>
      <%= f.hidden_field :academico_session_parameters_id %>
      <%= f.text_field :description, :class=>"form-control",:required=>"required" %>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 form-group">
      <%= f.number_field :scale, :class=>"form-control",:required=>"required", :type=>"number", :"data-validate-minmax"=>"0,100", min: "0", max:"100" %>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-8">
      <% if f.object.persisted? %>
        <%= f.check_box :_destroy, :class=>"flat" %>
        <%= f.label :_destroy, "Eliminar" %>
      <% else%>
        <%= f.hidden_field :_destroy, :class => 'removable' %>
        <%= remove_child_button "Eliminar"%>
      <% end %>
    </div>
  </div>
</div>