<div class="clearfix child">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <fieldset class="col-md-3 col-sm-3 col-xs-12">
          <div class="control-group">
            <div class="controls">
              <div class="xdisplay_inputx form-group has-feedback">
                <%= f.text_field :schedulle, :value => f.object.formatted_date(:schedulle), :class=>"form-control field_datepicker", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
                <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <%= f.hidden_field :id %>
          <%= f.hidden_field :academico_temary_id %>
          <%= f.text_field :topic, :class=>"form-control",:required=>"required" %>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <% if f.object.persisted? %>
            <%= f.check_box :_destroy, :class=>"flat" %>
            <%= f.label :_destroy, "Eliminar" %>
          <% else %>
            <%= f.hidden_field :_destroy, :class => 'removable' %>
            <%= remove_child_button "Eliminar"%>
          <% end %>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #5cb85c;">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="center-block" style="color:white;" href="<%= "#collapse#{f.index}" %>">Asignaciones 
                  <i class="fa fa-plus-square-o pull-right" style="font-size: 15px;"></i></a>
              </h4>
            </div>
            <div id="<%= "collapse#{f.index}" %>" class="parameters-panel panel-collapse collapse <%= f.object.session_assignments_count > 0 ? ' in ' : '' %>" data-widget-index="<%= f.index %>">
              <div class="panel-body">
                <%= render "academico_session_parameters", {:academico_session => f.object, :first_index => f.index} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>