<%= form_for(academico_temary, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <%= hidden_field_tag 'change_course_allowed'  , value=@academico_temary.persisted? && @academico_temary.has_any_session_with_assignments? ?  'no' : 'yes', { id: 'change_course_allowed' } 
  %>
  <% if academico_temary.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_temary.errors.count, "error") %> prohibited this schedulle from being saved:</h2>

      <ul>
        <% academico_temary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :academico_courses_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Curso <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :academico_courses_id, @courses, :id, :description_of_the_course, { include_blank: true, selected: params[:course_id] || f.object.academico_courses_id}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>
  <div class="item form-group">
    <span class="control-label col-md-3 col-sm-3 col-xs-12">Esquema de evaluación:</span>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= link_to(f.object.fetch_evaluation_scheme.try(:description), f.object.fetch_evaluation_scheme) %>
    </div>
  </div>
  <%= new_fields_template f, :academico_sessions %>
  <div class="x_title">
    <h2>Programación de las sesiones</h2>
    <div class="clearfix"></div>
  </div>
  <div class="item form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <br>
      <div id="academico_session">
        <%= f.fields_for :academico_sessions do |ff| %>
          <div class="children">
            <%= render "academico_session_fields", :f => ff %>
          </div>
        <% end %>
      </div>
      <br><%= add_child_button "Agregar Detalle",:academico_sessions,"academico_session" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_temaries_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
<script src="/assets/academico/temaries.js"></script>