<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Temarios</h2>
            
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <div class="digg_pagination">
                <div class="pagination_pages">
                  <%= will_paginate @academico_temaries, :container => false %>
                </div>
              </div>
              <%= form_tag destroy_multiple_academico_temaries_path, method: :delete, data: { confirm: "Are you sure?"}, :class=>"multi_delete_form" do %>
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">Nombre</th>
                      <th class="column-title">Descripción</th>
                      <th class="column-title">Creado por</th>
                      <th class="column-title">Fecha de creación</th>
                      <th class="column-title no-link last" colspan="3">Action</th>
                      </th>
                      <th class="bulk-actions" colspan="7">
                        <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @academico_temaries.each_with_index do |academico_temary, index| %>
                      <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                        <td class="center">
                                    <input type="checkbox" name="academico_temary_ids[]" id="academico_temary_id_<%=academico_temary.id%>" value="<%=academico_temary.id%>" class="flat deletable">
                              </td>

                        <td><%= academico_temary.name %></td>
                        <td><%= academico_temary.academico_course.description_of_the_course if academico_temary.academico_course.present? %></td>
                        <td><%= academico_temary.created_by_user.name %></td>
                        <td><%= academico_temary.created_at.strftime('%d-%m-%Y') %></td>

                        <td class=" last">
                          <% if check_permission('show', academico_temary) %>
                            <%= link_to content_tag(:i,nil,:class=>"fa fa-search"), academico_temary %>
                          <% end %>
                          </td>
                        <td class=" last">
                          <% if check_permission('edit', academico_temary) %>
                            <%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_academico_temary_path(academico_temary) %>
                          <% end %>
                        </td>
                        <td class=" last">
                          <% if check_permission('destroy', academico_temary) %>
                            <%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), academico_temary, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
