<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Nuevo Temario</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <%= render "shared/alert" %>
            <%= render 'form', academico_temary: @academico_temary %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
