<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Temario: <%=@academico_temary.name %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->


                <h2>Curso:</h2>
                <h4><%= @academico_temary.academico_course.description_of_the_course %></h4>
                <br />
                <% @academico_temary.academico_sessions.each do |session| %>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-12">
                          <label><%= session.topic %></label>:
                          <label><%= session.formatted_date(:schedulle) %></label>
                          <ul class="list-group">
                            <% session.academico_session_parameters.each do |session_parameter| %>
                              <li class="list-group-item">
                                <%= session_parameter.parameter_name %>
                                <table class="table table-striped jambo_table">
                                  <thead>
                                    <tr class="headings">
                                      <th class="column-title">Asignaciones</th>
                                      <th class="column-title">Máxima nota</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <% session_parameter.academico_session_assignments.each do |assignment| %>
                                    <tr>
                                      <td><%= assignment.description %></td>
                                      <td><%= assignment.scale %></td>
                                    </tr>
                                  <% end %>
                                  </tbody>
                                </table>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>


              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_academico_temary_path(@academico_temary), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_temaries_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
