<%= form_for(academico_course_modality, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_course_modality.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_course_modality.errors.count, "error") %> prohibited this modality from being saved:</h2>

      <ul>
        <% academico_course_modality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :description, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_course_modalities_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>