<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Editar Modalidad (<%=@academico_course_modality.description%>)</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <%= render 'form', academico_course_modality: @academico_course_modality %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
