<%= form_for(academico_course_result, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_course_result.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_course_result.errors.count, "error") %> prohibited course result from being saved:</h2>

      <ul>
        <% academico_course_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :academico_courses_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Curso <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <% if f.object.persisted? %>
        <%= f.hidden_field :academico_courses_id %>
        <label><%= f.object.academico_course.description_of_the_course %></label>
      <% else %>
      <%= f.collection_select :academico_courses_id, @courses, :id, :description_of_the_course, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
      <% end %>
      <br>
      <br>
    </div>
  </div>
  <%= f.hidden_field :academico_staffs_id %>
  <div class="clearfix child">

        <% if f.object.persisted? %>
            <div id="students-panel" class="panel-group">
              <%= f.fields_for :academico_student_results do |student_result| %>
                <%= student_result.hidden_field :final_grade, value: student_result.object.persisted? ? student_result.object.final_grade : student_result.object.final_score %>
                <%= student_result.hidden_field :id %>
                <%= student_result.hidden_field :academico_students_id %>
                <%= student_result.hidden_field :academico_course_results_id %>


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#students-panel" class="center-block"  href="<%= "#collapse#{student_result.index}" %>">
                        <span class="row">
                          <span class="col-xs-6">
                            <%= (student_result.index+1).to_s %> - <%= student_result.object.academico_student.try(:full_name) %>
                          </span>
                          <span class="col-xs-2">
                            <%= student_result.object.final_score %>
                          </span>
                          <span class="col-xs-4">
                            <% if student_result.object.approved %>
                              <i class="text-success glyphicon glyphicon-thumbs-up"></i>  Aprobado
                            <% else %>
                              <i class="text-danger glyphicon glyphicon-thumbs-down"></i>  Reprobado
                            <% end %>
                          </span>
                        </span>
                        </a>
                    </h4>

                  </div>
                <%= render partial: 'student_results', locals: { student_result: student_result, index: student_result.index, edit_mode: true, form_item: student_result } %>
                </div>

              <% end %>
            </div>

        <% end %>

  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_course_results_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>