<% evaluation_parameters = (teacher_evaluation[:avgs].keys || []) %>

<% if index == 0 %>

<tr>
  <th>Sesiones</th>
  <% evaluation_parameters.each do |parameter| %>
    <th>
      <%= parameter %> : <%= teacher_evaluation[:avgs][parameter] %>
    </th>
  <% end %>
</tr>

<% end %>

<tr>
  <td>
    <%= session.topic %>
  </td>

  <% evaluation_parameters.each do |parameter| %>
    <% score_item = teacher_evaluation[:scores_groups][session.topic][parameter] %>
    <td>
      <%= score_item.try(:[], :score) %> / <%= score_item.try(:[], :goal) %>
    </td>
  <% end %>

</tr>