<% student_result = edit_mode ? student_result.object : student_result %>

<div id="<%= "collapse#{index}" %>" class="panel-collapse collapse">
    <div class="panel-body">
      Aprobado: 
      <% if edit_mode %>
      <%= form_item.check_box :approved, {:class=>"js-switch"}, 1, 0 %>
      <% else %>
      <%= student_result.approved ? 'Sí' : 'No' %>
      <% end %>

      <% student_result.teachers_evaluations.each do |teacher_evaluation| %>

            <div class="table-responsive">
            <table class="table table-striped table-condensed jambo_table table-sm">
              <thead>
                <th>
                  Docente: <%= teacher_evaluation[:staff].try(:display_name) %> - <%= student_result.grade_by_teachers[teacher_evaluation[:staff].try(:id)] %>
                </th>
              </thead>
              <tbody>
              <% student_result.pull_sessions(teacher_evaluation[:staff].try(:id)).each_with_index do |session, index| %>

                <%= render partial: 'sessions_results_rows', locals: { teacher_evaluation: teacher_evaluation, session: session, index: index } %>

              <% end %>
              </tbody>
            </table>
            </div>

      <% end %>
  </div>
</div>