<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Resultados de los Cursos</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_academico_course_result_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <div class="digg_pagination">
                <div class="pagination_pages">
                  <%= will_paginate @academico_course_results, :container => false %>
                </div>
              </div>
              <%= form_tag destroy_multiple_academico_course_results_path, method: :delete, data: { confirm: "Are you sure?"}, :class=>"multi_delete_form" do %>
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">Curso</th>
                      <th class="column-title">Creado por</th>
                      <th class="column-title">Fecha de creación</th>
                      <th class="column-title">Fecha de actualización</th>
                      <th class="column-title no-link last" colspan="3">Action</th>
                      </th>
                      <th class="bulk-actions" colspan="7">
                        <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @academico_course_results.each_with_index do |academico_course_result, index| %>
                      <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                        <td class="center">
                                    <input type="checkbox" name="academico_course_result_ids[]" id="academico_course_result_id_<%=academico_course_result.id%>" value="<%=academico_course_result.id%>" class="flat deletable">
                              </td>

                        <td><%= academico_course_result.academico_course.description_of_the_course %></td>
                        <td><%= academico_course_result.coordinator.display_name %></td>
                        <td><%= academico_course_result.created_at.strftime('%d-%m-%Y') %></td>
                        <td><%= academico_course_result.updated_at.strftime('%d-%m-%Y') %></td>

                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), academico_course_result %></td>
                        <td class=" last">
                          <% if check_permission('edit', academico_course_result) %>
                            <%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_academico_course_result_path(academico_course_result) %>
                          <% end %>
                        </td>
                        <td class=" last">
                          <% if check_permission('destroy', academico_course_result) %>
                            <%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), academico_course_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          <% end %>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
