<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Curso: <%=@academico_course_result.academico_course.description_of_the_course %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-sm-12">

              <div id="students-panel" class="panel-group">
              <% @academico_course_result.academico_student_results.each_with_index do |student_result, index| %>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#students-panel" class="center-block"  href="<%= "#collapse#{index}" %>">
                        <span class="row">
                          <span class="col-xs-6">
                            <%= (index+1).to_s %> - <%= student_result.academico_student.try(:full_name) %>
                          </span>
                          <span class="col-xs-2">
                            <%= student_result.final_score %>
                          </span>
                          <span class="col-xs-4">
                            <% if student_result.approved %>
                              <i class="text-success glyphicon glyphicon-thumbs-up"></i>  Aprobado
                            <% else %>
                              <i class="text-danger glyphicon glyphicon-thumbs-down"></i>  Reprobado
                            <% end %>
                          </span>
                        </span>
                        </a>
                    </h4>

                  </div>
                <%= render partial: 'student_results', locals: { student_result: student_result, index: index, edit_mode: false } %>
                </div>

              <% end %>
            </div>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_academico_course_result_path(@academico_course_result), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_course_results_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
