<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Registro de Usuarios Facturacion</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<%= render 'form', {admin_billing_user: @admin_billing_user, url: admin_billing_users_path} %>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
