<div class="right_col" role="main">
<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Cambiar contraseña</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <%= form_for(@admin_billing_user, :url => { action: 'reset_password'}, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
            <% if @admin_billing_user.errors.any? %>
              <div id="error_explanation" class="alert-danger">
                <h2><%= pluralize(@admin_billing_user.errors.count, "error") %> prohibited this @admin_billing_user from being saved:</h2>
          
                <ul>
                  <% @admin_billing_user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%=f.label :new_password, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do%>
                Nueva Contraseña
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.password_field :new_password, autocomplete: "off", :class=>"form-control col-md-7 col-xs-12"  %>
                <% if @minimum_password_length %>
                <br />
                <em>Se requieren al menos <%= @minimum_password_length %> caracteres</em>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <%=f.label :password_confirmation, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do%>
                Confirmacion de Contraseña
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control col-md-7 col-xs-12"  %>
              </div>
            </div>
          
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <%=link_to("Cancelar", @admin_billing_users_path, :class=>"btn btn-primary")%>
                <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>