<%= form_for(admin_position) do |f| %>
  <% if admin_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_position.errors.count, "error") %> prohibited this admin_position from being saved:</h2>

      <ul>
      <% admin_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
