<p id="notice"><%= notice %></p>

<h1>Admin Positions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_positions.each do |admin_position| %>
      <tr>
        <td><%= admin_position.name %></td>
        <td><%= admin_position.description %></td>
        <td><%= link_to 'Show', admin_position %></td>
        <td><%= link_to 'Edit', edit_admin_position_path(admin_position) %></td>
        <td><%= link_to 'Destroy', admin_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Position', new_admin_position_path %>
