<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_position.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_position.description %>
</p>

<%= link_to 'Edit', edit_admin_position_path(@admin_position) %> |
<%= link_to 'Back', admin_positions_path %>
