<%= form_for(academico_student, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_student.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% academico_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">
    Estudiantes de Preregistros
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :facturacion_preregistration_id, f.object.persisted? ? Facturacion::Preregistration.all : Facturacion::Preregistration.created.with_no_students, :id, :display_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :first_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :first_name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :last_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Apellido <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :last_name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :student_code, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Código de estudiante
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <span class="label label-success"><%= f.object.student_code %></span>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :birth_date, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Fecha de nacimiento <span class="required">*
    <%end%>
    <fieldset class="col-md-6 col-sm-6 col-xs-12">
    <div class="control-group">
      <div class="controls">
        <div class="xdisplay_inputx form-group has-feedback">
          <%= f.text_field :birth_date, :class=>"form-control datepicker birth_date", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
          <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <% if !f.object.new_record? %>
      <script>
        birth_date = "<%=f.object.birth_date_formatted%>"
      </script>
    <% end %>
  </fieldset>
  </div>

  <div class="item form-group">
    <%= f.label :email, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Correo
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.email_field :email, :class=>"form-control col-md-7 col-xs-12" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :phone, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Teléfono
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :phone, :class=>"form-control col-md-7 col-xs-12" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :address, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Direccion
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :address, :class=>"form-control col-md-7 col-xs-12"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :admin_branch_office_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Sucursal <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :admin_branch_office_id, Admin::BranchOffice.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :current_level_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nivel
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <span class="label label-success">
        <%= f.object.current_level.try(:name) %>
      </span>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :level_up_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Siguiente Nivel
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <% if check_permission('edit', f.object) %>
        <%= f.collection_select :level_up_id, Academico::Level.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
      <% else %>
        <span class="label label-success"><%= f.object.level_up.try(:name) %></span>
      <% end %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :academico_course_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Curso
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <span class="label label-success"><%= f.object.academico_course.try(:description_of_the_course) %></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_students_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
