<div class='x_panel'>
  <div class='item form-group'>
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
      <div class="x_title">
        <h2>Histórico de Cursos</h2>
        <div class="clearfix"></div>
      </div>

      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <label class="control-label col-md-1 col-sm-1 col-xs-12 text-left">
          Fecha de Inicio
        </label>
        <label class="control-label col-md-1 col-sm-1 col-xs-12 text-left">
          Fecha de Finalización
        </label>
        <label class="control-label col-md-2 col-sm-2 col-xs-12 text-left">
          Curso
        </label>
        <label class="control-label col-md-2 col-sm-2 col-xs-12 text-left">
          Nivel
        </label>
        <label class="control-label col-md-2 col-sm-2 col-xs-12 text-left">
          Programa
        </label>
        <label class="control-label col-md-2 col-sm-2 col-xs-12 text-left">
          Turno
        </label>
      </div>
      <div id='facturacion_payment_detail_concept_detail_prices'>
        <div class="children">
          <% @academico_registrations.each do |regitration| %>
            <div class="clearfix child">
              <div class="col-md-1 col-sm-1 col-xs-12">
                <%= regitration.academico_course.try(:course_start_date).try(:strftime, "%d/%m/%Y") %>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-12">
                <%= regitration.academico_course.try(:course_end_date).try(:strftime, "%d/%m/%Y") %>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <%= link_to regitration.academico_course.description_of_the_course, academico_course_path(regitration.academico_course) if regitration.academico_course.present? %>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <%= regitration.academico_course.try(:academico_level_program).try(:level_name) %>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <%= regitration.academico_course.try(:academico_level_program).try(:program_name) %>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <%= regitration.academico_course.try(:course_schedulle) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>