<%content_for :dialog do%>
  <%= form_tag academico_students_path, method: "get" do %>


    <!-- Trigger the modal with a button -->
    <%=filter_button_tag "Filtrar" %>
    <!-- Modal -->
    <div id="ModalFilter" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Filtrar Estudiantes</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <%= label_tag "Nombres", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= text_field :filter, :first_name_like, {:class=>"form-control"} %>
                </div>
              </div>
              <br><br>
              <div class="form-group">
                <%= label_tag "Apellidos", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= text_field :filter, :last_name_like, {:class=>"form-control"} %>
                </div>
              </div>
          </div>
          <br><br>
          <div class="modal-footer">
            <!--data-dismiss="modal"-->
            <a type="button" href="<%=academico_students_path%>" class="btn btn-default">Quitar Filtros</a>
            <button type="submit" class="btn btn-default">Filtrar</button>
          </div>
        </div>

      </div>
    </div>
  <% end %>
<%end%>

<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Estudiantes</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%=content_for :dialog%>
              </li>
              
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <div class="digg_pagination">
                <div class="pagination_pages">
                  <%= will_paginate @academico_students, :container => false %>
                </div>
              </div>
              <%= form_tag destroy_multiple_academico_students_path, method: :delete, data: { confirm: "Are you sure?"}, :class=>"multi_delete_form" do %>
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">Nombre</th>
                      <th class="column-title">Apellido</th>
                      <th class="column-title">Código</th>
                      <th class="column-title">Fecha de Nacimiento</th>
                      <th class="column-title">Edad</th>
                      <th class="column-title">Nivel</th>
                      <th class="column-title">Correo</th>
                      <th class="column-title">Teléfono</th>
                      <th class="column-title">Sucursal</th>
                      <th class="column-title">Estado</th>
                      <th class="column-title no-link last" colspan="3">Action</th>
                      </th>
                      <th class="bulk-actions" colspan="4">
                        <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @academico_students.each_with_index do |academico_student, index| %>
                      <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                        <td class="center">
                          <input type="checkbox" name="academico_student_ids[]" id="academico_student_id_<%=academico_student.id%>" value="<%=academico_student.id%>" class="flat deletable">
                        </td>

                        <td><%= academico_student.first_name %></td>
                        <td><%= academico_student.last_name %></td>
                        <td><span class="label label-success"><%= academico_student.student_code %></span></td>
                        <td><%= academico_student.birth_date_formatted %></td>
                        <td><%= academico_student.age %></td>
                        <td><span class="label label-success"><%= academico_student.current_level.try(:name) %></span></td>
                        <td><%= academico_student.email %></td>
                        <td><%= academico_student.phone %></td>
                        <td><%= academico_student.branch_name %></td>
                        <td><span class="label label-success"><%= academico_student.active ? "activo" : "inactivo" %></span></td>
                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), academico_student %></td>
                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_academico_student_path(academico_student) %></td>
                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), academico_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
