<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Estudiante: <%=@academico_student.first_name %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Nombre:</h2>
                <h4><%= @academico_student.first_name %></h4>

                <h2>Apellido:</h2>
                <h4><%= @academico_student.last_name %></h4>

                <h2>Código:</h2>
                <h4><%= @academico_student.student_code %></h4>

                <h2>Fecha de Nacimiento:</h2>
                <h4><%= @academico_student.birth_date %></h4>

                <h2>Dirección:</h2>
                <h4><%= @academico_student.address %></h4>

                <h2>Teléfono:</h2>
                <h4><%= @academico_student.phone %></h4>

                <h2>Correo:</h2>
                <h4><%= @academico_student.email %></h4>

                <h2>Sucursal:</h2>
                <h4><%= @academico_student.branch_name %></h4>

                <h2>Nivel Actual:</h2>
                <h4><%= @academico_student.try(:current_level).try(:name) %></h4>

                <h2>Curso Actual:</h2>
                <h4><%= @academico_student.try(:academico_course).try(:description_of_the_course) %></h4>

                <h2>Próximo Nivel:</h2>
                <h4><%= @academico_student.try(:level_up).try(:name) %></h4>

              </blockquote>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'academico/students/show_academico_registrations'%>


  <blockquote class="blockquote-reverse">

      <%= link_to 'Editar', edit_academico_student_path(@academico_student), :class=>"btn btn-primary" %>
      <%= link_to 'Atrás', academico_students_path, :class=>"btn btn-success" %>

  </blockquote>
</div>
