<%= form_for(facturacion_tutor, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
	<% if facturacion_tutor.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(facturacion_tutor.errors.count, "error") %> prohibited this facturacion_tutor from being saved:</h2>

			<ul>
				<% facturacion_tutor.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="item form-group">
		<%= f.label :first_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Nombres <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_field :first_name, :class=>"form-control col-md-7 col-xs-12", :required=>"required" %>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :last_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Apellidos <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_field :last_name, :class=>"form-control col-md-7 col-xs-12", :required=>"required" %>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :phone, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Teléfono <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_field :phone, :class=>"form-control col-md-7 col-xs-12", :required=>"required" %>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :email, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		eMail <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_field :email, :class=>"form-control col-md-7 col-xs-12", :required=>"required" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-6 col-md-offset-3">
			<%=link_to("Cancelar", facturacion_tutors_path, :class=>"btn btn-primary")%>
			<button id="send" type="submit" class="btn btn-success">Guardar</button>
		</div>
	</div>
<% end %>
