<div class="clearfix child">
	<div class="col-md-2 col-sm-2 col-xs-12">
		<%= f.collection_select(:facturacion_payment_detail_concept_id, Facturacion::PaymentDetailConcept.all, :id, :name, {:include_blank => true},{:class=>"select2_single form-control invoice_detail_element payment_detail_concept_id", :tabindex=>"-1",:required=>"required"}) %>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-12">
		<%= f.text_field :amount, :class=>"form-control col-md-7 col-xs-12 detail_amount", :readonly => :readonly %>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-12 <%= f.object.facturacion_payment_detail_concept_id.present? && f.object.facturacion_payment_detail_concept.is_book ? 'invisible' : ''%>" data-role="discount-box">
		<%= select_tag "facturacion_invoice[facturacion_invoice_details_attributes][#{f.index}][discount_type]", options_for_select(f.object.try(:facturacion_invoice).try(:academico_student).try(:valid_discount_types) || Facturacion::InvoiceDetail.discount_types.map { |key, value| Facturacion::InvoiceDetail.discounts(value) }), :class=>"form-control discount_type col-md-7 col-xs-12", :readonly => :readonly, 'data-role': 'select-discount-type' %>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-12 <%= f.object.facturacion_payment_detail_concept_id.present? && f.object.facturacion_payment_detail_concept.is_book ? 'invisible' : ''%>" data-role="discount-box">
		<%= text_field_tag "facturacion_invoice[facturacion_invoice_details_attributes][#{f.index}][discount]", (f.object.discount || f.object.try(:facturacion_invoice).try(:academico_student).try(:my_default_discount)), class: "form-control col-md-7 col-xs-12 detail_discount", readonly: :readonly %>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-12">
		<%= f.text_field :sub_total, :class=>"form-control col-md-7 col-xs-12 subtotal", :disabled => :disabled%>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-12">
		<div class="book_hidden <%= f.object.facturacion_payment_detail_concept_id.present? && f.object.facturacion_payment_detail_concept.is_registration ? 'hide' : ''%>">
			<%= hidden_field_tag "facturacion_invoice[facturacion_invoice_details_attributes][#{f.index}][facturacion_invoice_detail_book_attributes][id]", f.object.try(:facturacion_invoice_detail_book).try(:id) %>
			<%= hidden_field_tag "facturacion_invoice[facturacion_invoice_details_attributes][#{f.index}][facturacion_invoice_detail_book_attributes][facturacion_invoice_detail_id]", f.object.try(:id) %>
			<%= select_tag "facturacion_invoice[facturacion_invoice_details_attributes][#{f.index}][facturacion_invoice_detail_book_attributes][facturacion_book_id]", options_from_collection_for_select(Facturacion::Book.all, :id, :name, f.object.try(:facturacion_invoice_detail_book).try(:facturacion_book_id)), :class=>"select2_single form-control invoice_detail_element book_id", include_blank: true %>
		</div>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-12">
		<%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12 detail_description",:required=>"required" %>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-12">
		<% if f.object.persisted? %>
	    	<%= f.check_box :_destroy, :class=>"flat" %>
	    	<%= f.label :_destroy, "Eliminar" %>
    <% else%>
    	<%= f.hidden_field :_destroy, :class => 'removable' %>
    	<%= remove_child_button "Eliminar"%>
    <% end %>
  </div>
</div>