<div class="item form-group">
  <div class="col-md-4 col-sm-4 col-xs-12"></div>
  <%= f.label :nil, :class=>"control-label col-md-4 col-sm-4 col-xs-12", :style=>"text-align: center" do %>
    Dólar (USD)
  <%end%> 
  <%= f.label :nil, :class=>"control-label col-md-4 col-sm-4 col-xs-12", :style=>"text-align: center" do %>
    Córdoba (C$)
  <%end%> 
</div>
<br>
<div class="item form-group">
  <%= f.label :retention_amount_cordoba, :class=>"control-label col-md-4 col-sm-4 col-xs-12" do %>
    Retención
  <%end%> 
  <div class="col-md-4 col-sm-4 col-xs-12"></div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :retention_amount_cordoba, :class=>"form-control col-md-7 col-xs-12 document_numeric_input payment"%>
  </div>
</div>
<hr>
<div class="item form-group">
  <%= f.label :nil, :class=>"control-label col-md-4 col-sm-4 col-xs-12" do %>
    Efectivo 
  <%end%> 
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :cash_amount_usd, :class=>"form-control col-md-7 col-xs-12 document_numeric_input payment_usd" %>
  </div>
  
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :cash_amount_cordoba, :class=>"form-control col-md-7 col-xs-12 document_numeric_input payment"%>
  </div>
</div>
<hr>
<div class="item form-group">
  <%= f.label :credit_card_amount_cordoba, :class=>"control-label col-md-4 col-sm-4 col-xs-12" do %>
    Tarj. Crédito 
  <%end%> 
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :credit_card_amount_usd, :class=>"form-control col-md-7 col-xs-12 document_numeric_input payment_usd"%>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :credit_card_amount_cordoba, :class=>"form-control col-md-7 col-xs-12 document_numeric_input payment"%>
  </div>
</div>
<hr>
<div class="item form-group">
  <%= f.label :ck_reference_cordoba, :class=>"control-label col-md-4 col-sm-4 col-xs-12" do %>
    Referencia CK
  <%end%> 
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :ck_reference_usd, :class=>"form-control col-md-7 col-xs-12"%>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :ck_reference_cordoba, :class=>"form-control col-md-7 col-xs-12" %>
  </div>
</div>
<div class="item form-group">
  <%= f.label :ck_amount_cordoba, :class=>"control-label col-md-4 col-sm-4 col-xs-12" do %>
    Monto CK
  <%end%> 
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :ck_amount_usd, :class=>"form-control col-md-7 col-xs-12 document_numeric_input payment_usd"%>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :ck_amount_cordoba, :class=>"form-control col-md-7 col-xs-12 document_numeric_input payment" %>
  </div>
</div>
<hr>
<div class="item form-group">
  <%= f.label :bank_reference_usd, :class=>"control-label col-md-4 col-sm-4 col-xs-12" do %>
    Referencia bancaria
  <%end%> 
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :bank_reference_usd, :class=>"form-control col-md-7 col-xs-12" %>
  </div>
</div>
<div class="item form-group">
  <%= f.label :bank_amount_usd, :class=>"control-label col-md-4 col-sm-4 col-xs-12" do %>
    Monto Banco USD
  <%end%> 
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :bank_amount_usd, :class=>"form-control col-md-7 col-xs-12 document_numeric_input payment_usd" %>
  </div>
</div>
<hr>
<div class="item form-group">
  <%= f.label :telepago_reference_usd, :class=>"control-label col-md-4 col-sm-4 col-xs-12" do %>
    Referencia telepago 
  <%end%> 
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :telepago_reference_usd, :class=>"form-control col-md-7 col-xs-12 document_numeric_input" %>
  </div>
</div>
<div class="item form-group">
  <%= f.label :telepago_amount_usd, :class=>"control-label col-md-4 col-sm-4 col-xs-12" do %>
    Monto telepago
  <%end%> 
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.text_field :telepago_amount_usd, :class=>"form-control col-md-7 col-xs-12 document_numeric_input payment_usd"%>
  </div>
</div>