<%= form_for(facturacion_invoice, html: {:class=>"form-horizontal form-label-left document", :novalidate => nil}) do |f| %>
  <% if facturacion_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facturacion_invoice.errors.count, "error") %> prohibited this facturacion_invoice from being saved:</h2>

      <ul>
        <% facturacion_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <!-- inicio -->

  <!-- inicio -->
  <div class="header_invoice relative">
    
    <!-- fact info -->
    <div class="max_w_25 pad_1_900 bck_body_900 absolute_900 right_0 top_0 w100p">

       <div class="inline_divs">
          <%= f.label :invoice_number, :class=>"bolder c_gray w10" do %>
            Numero de factura <span class="required">*</span>
          <%end%>  
          <div class="pad_l_05">
            <%= f.text_field :invoice_number, :class=>"default_input w6", :value => facturacion_invoice.form_invoice_number,:disabled => :disabled %>
          </div>
        </div>



        <div class="inline_divs">
          <%= f.label :exchange_rate, :class=>"bolder c_gray w10" do %>
            Tasa de cambio <span class="required">*</span>
          <%end%>
          <div class="pad_l_05">
            <%= f.text_field :exchange_rate, :class=>"default_input w6", :disabled => :disabled, :required=>"required" %>
          </div>
        </div>



         <div class="inline_divs">
          <div class="pad_l_05 hidden">
            <%= f.check_box :is_cash, { :checked => eval(f.object.is_cash.to_s || false.to_s)}%>
          </div>
        </div>




        <div class="">
          <%= f.label :invoice_date, :class=>"bolder c_gray w10" do %>
          Fecha de factura <span class="required">*
          <%end%> 
          <div class="w100p">
            <div class="xdisplay_inputx form-group has-feedback">
              <%= f.text_field :invoice_date, :class=>"form-control document_datepicker bck_white", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
              <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
            </div>
             <% if !f.object.new_record? %>
                <script>
                  document_date = "<%=f.object.invoice_date_formatted%>"
                </script>
              <% end %>
          </div>
        </div>

    </div>


    <!-- split -->
    <div class="pad_tb_2 to_900">
        <div class="split_dashed "></div>
    </div>



    <div class="pad_b_1 pad_r_28_900">


  <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :academico_students_id, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Buscar(Apellido/Cod) <span class="required">*</span>
    <%end%>
    <%= f.label :curso, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Sucursal <span class="required">*</span>
    <%end%> 
  </div>
  <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
    <div class="item form-group col-md-6 col-sm-6 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <%= select_tag "facturacion_invoice[academico_students_id]",
          options_from_collection_for_select(Academico::Student.where(id: f.object.academico_students_id),
          :id, :full_name, f.object.academico_students_id), {:include_blank => true, :class=>"select2_search form-control", :tabindex=>"-1",
          :required=>"required", 'data-endpoint': '/facturacion/invoices/search_students.json'} %>
      </div>
    </div>
    <div class="item form-group col-md-6 col-sm-6 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= f.collection_select(:admin_branch_office_id, Admin::BranchOffice.where(:id => Facturacion::Warehouse.where("admin_branch_office_id is not null").pluck(:admin_branch_office_id).uniq), :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
      </div>
    </div>
  </div>

   <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :academico_time_frame, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Curso <span class="required">*</span>
    <%end%>
  </div>

  <div class="item form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= select_tag "academico_time_frame", options_from_collection_for_select(Academico::TimeFrame.active_times_frames, :id, :display_name, ''), {:include_blank => true, :class=>"select2_single form-control"} %>
    </div>
  </div>

  <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :academico_level, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Nivel <span class="required">*</span>
    <%end%> 
    <%= f.label :academico_program, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Progama <span class="required">*</span>
    <%end%>
  </div>
  <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
    <div class="item form-group col-md-6 col-sm-6 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= select_tag "academico_level", options_from_collection_for_select(Academico::Level.all, :id, :display_name), {:include_blank => true, :class=>"select2_single form-control"} %>
      </div>
    </div>
    <div class="item form-group col-md-6 col-sm-6 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= select_tag "academico_program", options_from_collection_for_select(Academico::Program.all, :id, :display_name), {:include_blank => true, :class=>"select2_single form-control"} %>
      </div>
    </div>

  </div>

  
  <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :academico_course_id, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Grupo de Curso <span class="required">*</span>
    <%end%> 
  </div>
  <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= f.collection_select(:academico_course_id, [], :id, :description_of_the_course, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
    </div>
  </div>



  <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :invoice_concept, :class=>"control-label col-md-12 col-sm-12 col-xs-12 text-left" do %>
      Observación
    <%end%>
  </div>

  <div class="item form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= f.text_area :invoice_concept, :class=>"form-control col-md-7 col-xs-12 " %>
    </div>
  </div>

  <div class="clearfix"></div>


    </div>

  </div>



































  <div class="clearfix col-sm-12 col-md-12 col-xs-12"><hr></div>
  
  <!-- -------------------------------------------BILLING--------------------------------------------- -->
  <div class="item form-group">
    
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
      
      <div class="x_title">
        <h2>Detalles de factura</h2>
        <div class="clearfix"></div>
      </div>

      <%= new_fields_template f, :facturacion_invoice_details, {is_two_level: true, nested_builder_method: :build_facturacion_invoice_detail_book} %>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <%= f.label :nil, :class=>"control-label col-md-2 col-sm-2 col-xs-12 text-left" do %>
          Concepto<span class="required">*</span>
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-1 col-sm-1 col-xs-12 text-left" do %>
          Precio 
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-1 col-sm-1 col-xs-12 text-left" do %>
          Tipo Desc 
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-1 col-sm-1 col-xs-12 text-left" do %>
          Descuento 
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-1 col-sm-1 col-xs-12 text-left" do %>
          Subtotal 
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-2 col-sm-2 col-xs-12 text-left" do %>
          Libro 
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-2 col-sm-2 col-xs-12 text-left" do %>
          Descripcion <span class="required">*</span>
        <%end%> 
      </div>
      <div id="facturacion_invoice_detail">
        <%= f.fields_for :facturacion_invoice_details do |ff| %>
        <div class="children facturacion_invoice_details_fields detail_fields">
          <%= render "facturacion_invoice_detail_fields", :f => ff %>
        </div>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <br><%= add_child_button "Agregar Detalle",:facturacion_invoice_details,"facturacion_invoice_detail" %>

    </div>
  </div>

  <div class="item form-group">
    <div class="clearfix"><hr></div>
    <!-- -------------------------------------------PAYMENT--------------------------------------------- -->
    <% object_relation_built = build_relation f, :facturacion_invoice_payment_detail if f.object.new_record?%>
    <%= f.fields_for :facturacion_invoice_payment_detail, object_relation_built do |ff| %>
      <div id="payment_container" class="col-sm-6 col-md-6 col-xs-12" style="padding: 0">
        <div class="x_title">
          <h2>Detalles de pago</h2>
          <div class="clearfix"></div>
        </div>
         
        <div class="children payment_inputs">
          <%= render "facturacion_invoice_payment_detail_fields", :f => ff %>
        </div>
      </div>

    <% end %>
    <!-- -------------------------------------------TOTAL--------------------------------------------- -->
    <div class="col-sm-6 col-md-6 col-xs-12" style="padding: 0">
      <div class="col-sm-2 col-md-2 col-xs-12"></div>
      <div class="x_title col-sm-4 col-md-4 col-xs-12">
        <h2>Totales</h2>
        <div class="clearfix"></div>
      </div>
      <div class="item form-group">
        <%= f.label :total_invoice, :class=>"control-label col-md-8 col-sm-8 col-xs-12" do %>
          Total facturado C$
        <%end%> 
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h1 id="total_invoice" style="color:#00a1ff">0.00</h1>
        </div>
        
      </div>
      <div class="item form-group">
        <%= f.label :nil, :class=>"control-label col-md-8 col-sm-8 col-xs-12" do %>
          Total Pago C$
        <%end%> 
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h1 id="total_payment" style="">0.00</h1>
        </div>
      </div>
      <div class="item form-group">
        <%= f.label :nil, :class=>"control-label col-md-8 col-sm-8 col-xs-12" do %>
          Cambio C$
        <%end%> 
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h1 id="total_change" style="color:#ce5454">0.00</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"><hr></div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_invoices_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>
<script src="/assets/facturacion/invoices_utility.js"></script>