var readonlyColor='#333';
var editableColor='#fff';
valueSetter("<%=@domId%>", ".detail_amount", 0);
valueSetter("<%=@domId%>", ".detail_discount", 0);
valueSetter("<%=@domId%>", ".detail_description", "");
var subtotalDom = getElementBySiblings("<%=@domId%>",".subtotal");
<%if @payment_detail_concept.present?%>
	valueSetter("<%=@domId%>", ".detail_discount", <%=@payment_detail_concept.total_discount || 0%>);
	valueSetter("<%=@domId%>", ".detail_amount", <%=@price%>);
	valueSetter("<%=@domId%>", ".detail_description", "<%=@payment_detail_concept.description%>");
    setSubtotal(<%=@price%>, <%=@payment_detail_concept.total_discount || 0%>, subtotalDom);
  <%if !@payment_detail_concept.is_registration %>
        $("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find(".book_hidden select").html("<%= escape_javascript options_for_select(@books.collect { |b| [b.display_name, b.id] }, selected: @book.try(:id)) %>");
        $("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find(".book_hidden").removeClass("hide");
		$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find(".discount_type").addClass("hide");
		$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find('.discount_type').empty();
		$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find('.detail_discount').val('').addClass("hide");
	<%else%>
		$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find(".book_hidden").addClass("hide");
		<%if @student.try(:student_default_discount).nil? || @student.try(:student_default_discount) == Academico::Student::DEFAULT_DISCOUNT%>
			$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find('.detail_discount').css('background-color', editableColor).removeAttr('readonly').removeClass("hide");
		<%else%>
			$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find('.detail_discount').css('background-color', readonlyColor).attr('readonly', 'readonly');
		<%end%>
		$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find('.discount_type').empty();
		<%_options = @available_discounts.inject("") {|options, discount| options << "<option value=\"#{discount[1]}\">#{discount[0]}</option>"}%>
		$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find('.discount_type').html("<%=_options.gsub('"', '\"').html_safe%>");
		$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find(".discount_type").removeClass("hide");
	<%end%>
<%else%>
	setSubtotal(0, 0, subtotalDom);
	$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find(".book_hidden select").val('').trigger('change');
	$("#<%=@domId%>").closest(".facturacion_invoice_details_fields.detail_fields").find(".book_hidden").addClass("hide");	
<%end%>
prices_response = document.getElementsByClassName("detail_amount");
discounts_response = document.getElementsByClassName("detail_discount");
setInvoiceTotal(prices_response, discounts_response);
$(".container.spinner").hide();
$(".book_hidden select").attr( "required","required" );
$(".book_hidden.hide select").removeAttr( "required" );