<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Facturas</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_facturacion_invoice_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title"># FAC</th>
                    <th class="column-title">Estudiante</th>
                    <th class="column-title">Programa</th>
                    <th class="column-title">Nivel</th>
                    <th class="column-title">Turno</th>
                    <th class="column-title">Total</th>
                    <th class="column-title">Saldo</th>
                    <th class="column-title">Contado</th>
                    <th class="column-title">Impreso?</th>
                    <th class="column-title">Estado</th>
                    <th class="column-title">Fecha</th>
                    <th class="column-title no-link last">Action</th>
                    </th>
                    <th class="bulk-actions" colspan="8">
                      <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <% @facturacion_invoices.each_with_index do |facturacion_invoice, index| %>
                    <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                      <td><%= facturacion_invoice.invoice_number %></td>
                      <td><%= facturacion_invoice.student_name %></td>
                      <td><%= facturacion_invoice.try(:academico_course).try(:academico_program).try(:display_name) %></td>
                      <td><%= facturacion_invoice.try(:academico_course).try(:academico_level).try(:display_name) %></td>
                      <td><%= facturacion_invoice.try(:academico_course).try(:academico_course_schedulle).try(:printable_schedulle) %></td>
                      
                      <td><span class="label label-success"><%= number_with_precision(facturacion_invoice.total_invoice, precision: 2, separator: '.', delimiter: ',') %></span></td>
                      <td><span class="label label-success"><%= number_with_precision(facturacion_invoice.invoice_remain, precision: 2, separator: '.', delimiter: ',') %></span></td>
                      <td><%= facturacion_invoice.is_cash ? "<span class='label label-success'>SI</span>".html_safe : "<span class='label label-danger'>NO</span>".html_safe %></td>
                      <td><%= facturacion_invoice.printed %></td>
                      <td>
                        <span class="<%= facturacion_invoice.is_void? ? 'label label-danger' : ''%>">
                          <%= facturacion_invoice.invoice_status %>
                        </span>
                      </td>
                      <td><%= facturacion_invoice.invoice_date %></td>

                      <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), facturacion_invoice %></td>
                    </tr>
                  <% end %>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>