<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render 'show_detail', facturacion_invoice: @facturacion_invoice %>
      </div>
    </div>
  </div>
</div>

