<div class="clearfix form-group">
  <%= label_tag "Turno", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" do %>
    Turno  <span class="required">*
  <% end %>
  <div class="col-md-8 col-sm-6 col-xs-12">
    <%= collection_select(:search, :academico_course_schedulle_id, Academico::CourseSchedulle.all, :id, :printable_schedulle, {include_blank: true, selected: params.try(:[], :search).try(:[], :academico_course_schedulle_id)},{:class=>"select2_single form-control", :required=>"required"}) %>
  </div>
</div>

<div class="clearfix form-group">
  <%= label_tag "Modalidad", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" do %>
    Modalidad  <span class="required">*
  <% end %>
  <div class="col-md-8 col-sm-6 col-xs-12">
    <%= collection_select(:search, :academico_course_modality_id, Academico::CourseModality.all, :id, :description, {include_blank: true, selected: params.try(:[], :search).try(:[], :academico_course_modality_id)},{:class=>"select2_single form-control", :required=>"required"}) %>
  </div>
</div>

<div class="clearfix form-group">
  <%= label_tag "Sucursal", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12"  do %>
    Sucursal  <span class="required">*
  <% end %>
  <div class="col-md-8 col-sm-6 col-xs-12">
    <%= collection_select(:search, :branch_office_id, Admin::BranchOffice.all, :id, :description, {include_blank: true, selected: params.try(:[], :search).try(:[], :branch_office_id)},{:class=>"select2_single form-control", :required=>"required"}) %>
  </div>
</div>