<%= form_for(facturacion_company, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
	<% if facturacion_company.errors.any? %>
		<div id="error_explanation" class="alert-danger">
			<h2><%= pluralize(facturacion_company.errors.count, "error") %> prohibited this facturacion_company from being saved:</h2>

			<ul>
				<% facturacion_company.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="item form-group">
		<%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Nombre <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<!-- input validations :"data-validate-length-range"=>"6", :"data-validate-words"=>"2", -->
			<%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required"%>
		</div>
	</div>
	<div class="item form-group">
		<%= f.label :facturacion_company_type_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Tipo de Empresa <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.collection_select :facturacion_company_type_id, Facturacion::CompanyType.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control",:required=>"required", :tabindex=>"-1"} %>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :phone, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Teléfono <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<!-- input validations :"data-validate-length-range"=>"6", :"data-validate-words"=>"2", -->
			<%= f.text_field :phone, :class=>"form-control col-md-7 col-xs-12",:required=>"required"%>
		</div>
	</div>
	<div class="item form-group">
		<%= f.label :email, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		eMail <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<!-- input validations :"data-validate-length-range"=>"6", :"data-validate-words"=>"2", -->
			<%= f.text_field :email, :class=>"form-control col-md-7 col-xs-12",:required=>"required"%>
		</div>
	</div>
	<div class="item form-group">
		<%= f.label :address, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Dirección <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<!-- input validations :"data-validate-length-range"=>"6", :"data-validate-words"=>"2", -->
			<%= f.text_area :address, :class=>"form-control col-md-7 col-xs-12",:required=>"required"%>
		</div>
	</div>
	<div class="item form-group">
		<%= f.label :company_description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Descripción <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<!-- input validations :"data-validate-length-range"=>"6", :"data-validate-words"=>"2", -->
			<%= f.text_area :company_description, :class=>"form-control col-md-7 col-xs-12",:required=>"required"%>
		</div>
	</div>
	<div class="item form-group">
		<%= f.label :contact_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Nombre de Contacto <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<!-- input validations :"data-validate-length-range"=>"6", :"data-validate-words"=>"2", -->
			<%= f.text_field :contact_name, :class=>"form-control col-md-7 col-xs-12",:required=>"required"%>
		</div>
	</div>
	<div class="ln_solid"></div>
	<div class="form-group">
		<div class="col-md-6 col-md-offset-3">
			<%=link_to("Cancelar", facturacion_companies_path, :class=>"btn btn-primary")%>
			<button id="send" type="submit" class="btn btn-success">Guardar</button>
		</div>
	</div>
<% end %>