// Place all the styles related to the Academico::Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#preregistration {
  .evaluacion-examen {
    display: none;
  }
}
