<%= form_for(setup_preregistration(facturacion_preregistration), html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
	<% if facturacion_preregistration.errors.any? %>
	<div id="error_explanation" class="alert-danger">
		<h2><%= pluralize(facturacion_preregistration.errors.count, "error") %> prohibited this facturacion_preregistration from being saved:</h2>

		<ul>
			<% facturacion_preregistration.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="x_panel">
		<div class="x_content">

			<div class="" role="tabpanel" data-example-id="togglable-tabs">
				<!-- required for floating -->
				<!-- Nav tabs -->
				<ul class="nav nav-tabs bar_tabs" role="tablist">
					<li class="active"><a href="#student" role="tab" data-toggle="tab" aria-expanded="true">Alumno</a>
					</li>
					<li><a href="#tutor" role="tab" data-toggle="tab" aria-expanded="false">Tutor</a>
					</li>
					<li><a href="#company" role="tab" data-toggle="tab" aria-expanded="false">Empresa</a>
					</li>
					<li><a href="#carrier" role="tab" data-toggle="tab" aria-expanded="false">Transportista</a>
					</li>
					<li><a href="#level" role="tab" data-toggle="tab" aria-expanded="false">Nivel</a>
					</li>
					<li><a href="#discount" role="tab" data-toggle="tab" aria-expanded="false">Descuentos</a>
					</li>					
				</ul>
			</div>

			<div class="col-xs-9">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="student">
						<div class="item form-group">
							<%= f.label :first_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
							Nombres <span class="required">*
							<%end%>	
							<div class="col-md-6 col-sm-6 col-xs-12">
								<!-- input validations :"data-validate-length-range"=>"6", :"data-validate-words"=>"2", -->
								<%= f.text_field :first_name, :class=>"form-control col-md-7 col-xs-12",:required=>"required"%>
							</div>
						</div>
						<div class="item form-group">
							<%= f.label :last_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
							Apellidos <span class="required">*
							<%end%>	
							<div class="col-md-6 col-sm-6 col-xs-12">
								<%= f.text_field :last_name, :class=>"form-control col-md-7 col-xs-12", :required=>"required"%>
							</div>
						</div>
						<div class="item form-group">
							<%= f.label :birth_date, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
							Fecha de Nacimiento <span class="required">*
							<%end%>	
							<fieldset class="col-md-6 col-sm-6 col-xs-12">
								<div class="control-group">
									<div class="controls">
										<div class="xdisplay_inputx form-group has-feedback">
											<%= f.text_field :birth_date, :class=>"form-control datepicker", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
											<span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
										</div>
									</div>
								</div>
								<% if !f.object.new_record? %>
									<script>
										start_date = "<%=f.object.birth_date_formatted%>"
									</script>
								<% end %>
							</fieldset>
						</div>
            <div class="item form-group">
              <%= f.label :phone, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Teléfono
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.text_field :phone, :class=>"form-control col-md-7 col-xs-12"%>
              </div>
            </div>
            <div class="item form-group">
              <%= f.label :email, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Correo
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.text_field :email, :class=>"form-control col-md-7 col-xs-12"%>
              </div>
            </div>
            <div class="item form-group">
              <%= f.label :address, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Direccion
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.text_area :address, :class=>"form-control col-md-7 col-xs-12"%>
              </div>
            </div>
            <div class="item form-group">
              <%= f.label :note, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Observación
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.text_area :note, :class=>"form-control col-md-7 col-xs-12"%>
              </div>
            </div>
					</div>
					<div class="tab-pane" id="tutor">
						<div class="item form-group">
							<%= f.fields_for :facturacion_student_tutor do |ff| %>
							<%= ff.label :facturacion_tutor_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
							Tutor
							<%end%> 
							<div class="col-md-6 col-sm-6 col-xs-12">
								<%= ff.collection_select :facturacion_tutor_id, Facturacion::Tutor.all, :id, :full_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
							</div>
							<% end %>
						</div>
					</div>
					<div class="tab-pane" id="company">
						<div class="item form-group">
							<%= f.fields_for :facturacion_student_company do |ff| %>
							<%= ff.label :facturacion_company_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
							Procedencia
							<%end%> 
							<div class="col-md-6 col-sm-6 col-xs-12">
								<%= ff.collection_select :facturacion_company_id, Facturacion::Company.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
							</div>
							<% end %>
						</div>
					</div>
					<div class="tab-pane" id="carrier">
						<div class="item form-group">
							<%= hidden_field_tag "facturacion_preregistration[facturacion_student_carrier_attributes][id]", f.object.try(:facturacion_student_carrier).try(:id) %>
							<%= hidden_field_tag "facturacion_preregistration[facturacion_student_carrier_attributes][facturacion_preregistration_id]", f.object.try(:id) %>
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Transportista</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<%= select_tag "facturacion_preregistration[facturacion_student_carrier_attributes][facturacion_carrier_id]", options_from_collection_for_select(Facturacion::Carrier.all, :id, :name, f.object.try(:facturacion_student_carrier).try(:facturacion_carrier_id)), :class=>"select2_single form-control", :tabindex=>"-1", include_blank: true %>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="level">
						<div class="item form-group">
							<%= f.label :academico_level_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
							Nivel<span class="required">*
							<%end%> 
							<div class="col-md-6 col-sm-6 col-xs-12">
							  <%level_collection = [facturacion_preregistration.academico_student.current_level] if facturacion_preregistration.try(:academico_student).try(:current_level)%>
							  <%facturacion_preregistration.academico_level = level_collection.first if level_collection.present?%>
							  <%level_collection ||=  Academico::Level.all %>

							  <%= f.collection_select :academico_level_id, level_collection, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"true"} %>
							</div>
						</div>
						<div class="item form-group">
							<%= f.label :academico_program_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
							Programa<span class="required">*
							<%end%> 
							<div class="col-md-6 col-sm-6 col-xs-12">
							  <%= f.collection_select :academico_program_id, Academico::Program.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"true"} %>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="discount">
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Descuentos</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :facturacion_discount_ids, Facturacion::Discount.all, :id, :name, {selected: @selected_discount}, {:multiple => true, :size =>10, :class=>"select2_multiple form-control"} %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="ln_solid"></div>
	<div class="form-group">
		<div class="col-md-6 col-md-offset-3">
			<%=link_to("Cancelar", facturacion_preregistrations_path, :class=>"btn btn-primary")%>
			<button id="send" type="submit" class="btn btn-success">Guardar</button>
		</div>
	</div>
<% end %>