<%content_for :dialog do%>
<%= form_tag facturacion_preregistrations_path, method: "get" do %>


<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info navbar-right" data-toggle="modal" data-target="#ModalFilter">Filtrar</button>

<!-- Modal -->
<div id="ModalFilter" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Filtrar Preregistro</h4>
			</div>
			<div class="modal-body">
					<p>Selecciona o digita los parámetros de búsqueda.</p>
					<div class="form-group">
						<%= label_tag "Tiene tutor?", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<%=check_box(:filter, "has_tutor", :class=>"flat")%>
					</div>
					<div class="form-group">
						<%= label_tag "Tiene empresa?", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<%=check_box(:filter, "has_company", :class=>"flat")%>
					</div>
					<div class="form-group">
						<%= label_tag "Tiene transportista?", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<%=check_box(:filter, "has_carrier", :class=>"flat")%>
					</div>
					<div class="form-group">
						<%= label_tag "Tiene descuento?", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<%=check_box(:filter, "has_discount", :class=>"flat")%>
					</div>
					<br>
					<div class="form-group">
						<%= label_tag "Nombres", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<div class="col-md-8 col-sm-6 col-xs-12">
							<%=text_field(:filter, :first_name_like, size: 20, :class=>"form-control col-md-7 col-xs-12")%>
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<%= label_tag "Apellidos", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<div class="col-md-8 col-sm-6 col-xs-12">
							<%=text_field(:filter, :last_name_like, size: 20, :class=>"form-control col-md-7 col-xs-12")%>
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<%= label_tag "Tutor", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<div class="col-md-8 col-sm-6 col-xs-12">
							<%= collection_select(:filter, :tutor, Facturacion::Tutor.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control"}) %>
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<%= label_tag "Empresa", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<div class="col-md-8 col-sm-6 col-xs-12">
							<%= collection_select(:filter, :company, Facturacion::Company.all, :id, :name, {:include_blank => true},{:class=>"select2_single form-control"}) %>
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<%= label_tag "Transportista", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<div class="col-md-8 col-sm-6 col-xs-12">
							<%= collection_select(:filter, :carrier, Facturacion::Carrier.all, :id, :name, {:include_blank => true},{:class=>"select2_single form-control"}) %>
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<%= label_tag "Descuento", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<div class="col-md-8 col-sm-6 col-xs-12">
							<%= collection_select(:filter, :discount_type, Facturacion::Discount.all, :id, :name, {:include_blank => true},{:class=>"select2_single form-control"}) %>
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<%= label_tag "Edad", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<div class="clearfix"></div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<%= select_tag "filter[operator]", options_for_select(FILTER_OPERATORS.collect), :include_blank => true, :class=>"select2_single form-control" %>
						</div>
						<div class="col-md-8 col-sm-6 col-xs-12">
							<%= select_tag "filter[age]", options_for_select((4..60).to_a), :include_blank => true, :class=>"select2_single form-control" %>
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<%= label_tag "Nivel", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
						<div class="col-md-8 col-sm-6 col-xs-12">
							<%= collection_select(:filter, :level, Academico::Level.all, :id, :name, {:include_blank => true},{:class=>"select2_single form-control"}) %>
						</div>
					</div>
			</div>
			<br><br>
			<div class="modal-footer">
				<!--data-dismiss="modal"-->
				<a type="button" href="/facturacion/preregistrations" class="btn btn-default">Quitar Filtros</a>
				<button type="submit" class="btn btn-default">Filtrar</button>
			</div>
		</div>

	</div>
</div>
<% end %>
<%end%>

<div class="right_col" role="main">
	<%=content_for :dialog%>
	<div class="">

		<div class="clearfix"></div>

		<div class="row">

			<div class="clearfix"></div>

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Estudiandes Pre-registrados</h2>
						<ul class="nav navbar-right panel_toolbox panel_button">
							<li>
								<%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_facturacion_preregistration_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<div class="x_content">
						<% if notice.present?%>
						<div class="alert alert-success">
							<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
							<%= notice %>
						</div>
						<% end %>
						<div class="table-responsive">
							<%= form_tag destroy_multiple_facturacion_preregistrations_path, method: :delete, :class=>"multi_delete_form", data: { confirm: "Are you sure?"} do %>
							<table class="table table-striped jambo_table bulk_action">
								<thead>
									<tr class="headings">
										<th>
											<input type="checkbox" id="check-all" class="flat">
										</th>
										<th class="column-title">Nombres</th>
										<th class="column-title">Apellidos</th>
										<th class="column-title">Fecha de nacimiento</th>
										<th class="column-title">Edad</th>
										<th class="column-title">Nivel</th>
										<th class="column-title">Programa</th>
										<th class="column-title">Tutor</th>
										<th class="column-title">Empresa</th>
										<th class="column-title">Transportista</th>
										<th class="column-title">Descuento</th>
										<th class="column-title no-link last" colspan="3">Action</th>
									</th>
									<th class="bulk-actions" colspan="12">
										<a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></a>
									</th>
								</tr>
							</thead>

							<tbody>
								<% @facturacion_preregistrations.each_with_index do |facturacion_preregistration, index| %>
								<tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
									<td class="center">
										<input type="checkbox" name="facturacion_preregistration_ids[]" id="facturacion_preregistration_id_<%=facturacion_preregistration.id%>" value="<%=facturacion_preregistration.id%>" class="flat deletable">
									</td>
									<td><%= facturacion_preregistration.first_name %></td>
									<td><%= facturacion_preregistration.last_name %></td>
									<td><%= facturacion_preregistration.birth_date %></td>
									<td><%= facturacion_preregistration.age %></td>
									<td><%= facturacion_preregistration.academico_level.present? ? facturacion_preregistration.academico_level.name : "" %></td>
									<td><%= facturacion_preregistration.academico_program.present? ? facturacion_preregistration.academico_program.name : "" %></td>
									<td><a class='<%=facturacion_preregistration.facturacion_tutor.present? ? "fa fa-check" : "" %>'></td>
									<td><a class='<%=facturacion_preregistration.facturacion_company.present? ? "fa fa-check" : "" %>'></td>
									<td><a class='<%=facturacion_preregistration.facturacion_carrier.present? ? "fa fa-check" : "" %>'></a></td>
									<td><a class='<%=facturacion_preregistration.facturacion_discounts.count > 0 ? "fa fa-check" : "" %>'></a></td>
									<td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), facturacion_preregistration %></td>
									<td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_facturacion_preregistration_path(facturacion_preregistration) %></td>
									<td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), facturacion_preregistration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
								</tr>
								<% end %>
							</tbody>

						</table>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>