<div class="right_col" role="main" style="min-height: 1053px;">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3><%=@facturacion_preregistration.first_name + " " + @facturacion_preregistration.last_name %></h3>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12">

				<div class="x_panel">

					<div class="x_content">
						<% if notice.present?%>
							<div class="alert alert-success">
								<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
								<%= notice %>
							</div>
						<% end %>
						<div class="col-md-8 col-lg-8 col-sm-7">
							<!-- blockquote -->
							<blockquote>

								<h2>Nombres:</h2>
								<h4><%= @facturacion_preregistration.first_name %></h4>

								<h2>Apellidos:</h2>
								<h4><%= @facturacion_preregistration.last_name %></h4>

								<h2>Fecha de nacimiento:</h2>
								<h4><%= @facturacion_preregistration.birth_date %></h4>

								<h2>Edad del Estudiante:</h2>
								<h4><%= @facturacion_preregistration.age %></h4>

                <h2>Dirección:</h2>
                <h4><%= @facturacion_preregistration.address %></h4>

                <h2>Teléfono:</h2>
                <h4><%= @facturacion_preregistration.phone %></h4>

                <h2>Correo:</h2>
                <h4><%= @facturacion_preregistration.email %></h4>

                <h2>Observación:</h2>
                <h4><%= @facturacion_preregistration.note %></h4>

								<% if @facturacion_preregistration.facturacion_tutor %>
									<h2>Tutor:</h2>
									<h4><%=@facturacion_preregistration.facturacion_tutor.display_name%></h4>
								<%end%>

								<% if @facturacion_preregistration.facturacion_company %>
									<h2>Procedencia:</h2>
									<h4><%=@facturacion_preregistration.facturacion_company.display_name%></h4>
								<%end%>

								<% if @facturacion_preregistration.facturacion_carrier %>
									<h2>Transportista:</h2>
									<h4><%=@facturacion_preregistration.facturacion_carrier.display_name%></h4>
								<%end%>

								<h2>Nivel:</h2>
								<h4><%=@facturacion_preregistration.academico_level.name%></h4>

								<% if @facturacion_preregistration.facturacion_discounts %>
									<h2>Descuentos:</h2>
									<ol>
									<%@facturacion_preregistration.facturacion_discounts.each do |discount|%>
									<li><%=discount.display_name%> - <span class="label label-danger"><%=discount.discount_amount%>%</span></li>
									<%end%>
									<ol>
								<%end%>

							</blockquote>

							<blockquote class="blockquote-reverse">

									<%= link_to 'Editar', edit_facturacion_preregistration_path(@facturacion_preregistration), :class=>"btn btn-primary" %>
									<%= link_to 'Atrás', facturacion_preregistrations_path, :class=>"btn btn-success" %>

							</blockquote>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>