<%= form_for(academico_room, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_room.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% academico_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :size, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Capacidad <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :size, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :description, :class=>"form-control col-md-7 col-xs-12" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :admin_branch_office_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Sucursal <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :admin_branch_office_id, @offices, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_rooms_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>
