<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Salon: <%=@academico_room.name %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Nombre:</h2>
                <h4><%= @academico_room.name %></h4>

                <h2>Capacidad:</h2>
                <h4><%= @academico_room.size %></h4>

                <h2>Descripción:</h2>
                <h4><%= @academico_room.description %></h4>

                <h2>Sucursal:</h2>
                <h4><%= @academico_room.branch_name %></h4>
              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_academico_room_path(@academico_room), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_rooms_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
