<%= form_for(academico_staff, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_staff.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_staff.errors.count, "error") %> prohibited this staff member from being saved:</h2>

      <ul>
        <% academico_staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :academico_academic_users_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Usuario academico <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :academico_academic_users_id, @academico_staff_users, :id, 'display_name_and_position', { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :academico_staff_statuses_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Estado <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :academico_staff_statuses_id, @staff_statuses, :id, :description, { include_blank: true, selected: f.object.academico_staff_statuses_id || 1}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :academico_staffs_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Encargado
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :academico_staffs_id, @staff_liables, :id, :display_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
    </div>
  </div>

  <div class="item form-group">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <h3>Habilidades en nivel y programa</h3>
      <br/>
      <table class="table table-striped">
        <tr>
          <th class="bg-primary text-white"></th>
          <% @programs.each do |program| %>
            <th class="bg-primary text-white"><%= check_box_tag '', '', false, {class: 'select_col flat'} %> <%= program.name %></th>
          <% end %>
        </tr>
        <% @levels.each do |level| %>
          <tr>
            <th class="bg-info text-white"><%= check_box_tag '', '', false, {class: 'select_row flat'} %> <%= level.name %></th>
            <%= f.fields_for :academico_level_skills, skills_for_level(academico_staff.academico_level_skills, level) do |ff| %>
              <td>
                <%= ff.hidden_field :id %>
                <%= ff.hidden_field :academico_staffs_id %>
                <%= ff.hidden_field :academico_level_programs_id %>
                <%= ff.check_box :_destroy, {:checked => ff.object.persisted?, :class => 'flat'}, '0', '1' %>
              </td>
            <% end %>
          </tr>
        <% end %>
    </table>
  </div>
</div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_staffs_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
