<div class="clearfix child">
	<div class="col-md-3 col-sm-3 col-xs-12">
		<%= f.text_field :amount, :class=>"form-control col-md-7 col-xs-12 detail_amount" %>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12 detail_description",:required=>"required" %>
	</div>
	<% if f.object.persisted? %>
		<div class="col-md-3 col-sm-3 col-xs-12">
	    	<%= f.check_box :_destroy, :class=>"flat" %>
	    	<%= f.label :_destroy, "Eliminar" %>
	    </div>
    <% else%>
    	<%= f.hidden_field :_destroy, :class => 'removable' %>
    	<%= remove_child_button "Eliminar"%>
    <% end %>
</div>