<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Notas de débito</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_facturacion_debit_note_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title"># ND</th>
                    <th class="column-title">Estudiante</th>
                    
                    <th class="column-title">Total</th>

                    <th class="column-title">Impreso?</th>
                    <th class="column-title">Fecha</th>
                    <th class="column-title no-link last" colspan="3">Action</th>
                    </th>
                    <th class="bulk-actions" colspan="8">
                      <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <% @facturacion_debit_notes.each_with_index do |facturacion_debit_note, index| %>
                    <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                      <td><%= facturacion_debit_note.form_note_number %></td>
                      <td><%= facturacion_debit_note.academico_student.try(:display_name) %></td>

                      
                      <td><span class="label label-danger"><%= number_with_precision(facturacion_debit_note.total_note, precision: 2, separator: '.', delimiter: ',') %></span></td>
                      <td><%= facturacion_debit_note.printed ? "<span class='label label-success'>SI</span>".html_safe : "<span class='label label-primary'>NO</span>".html_safe %></td>

                      <td><%= facturacion_debit_note.note_date %></td>

                      <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), facturacion_debit_note %></td>
                      <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_facturacion_debit_note_path(facturacion_debit_note) %></td>
                      <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), facturacion_debit_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>