<!DOCTYPE html>
<html>
<head>
	<title><%=@page_title%></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!-- jVectorMap -->
	<script src="/assets/maps/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/assets/maps/jquery-jvectormap-us-aea-en.js"></script>
	<script src="/assets/maps/gdp-data.js"></script>
	<%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
	<%= favicon_link_tag 'favicon.ico'%>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
	<!-- fuente lato -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="/assets/default.css" />
  <!-- Smartphones (portrait 240 - 320) -->
  <link rel="stylesheet" href="/assets/s240_base.css" type="text/css" media="only screen and (min-width : 240px)" />
  <link rel="stylesheet" href="/assets/s240_body.css" type="text/css" media="only screen and (min-width : 240px)" />
  <link rel="stylesheet" href="/assets/s240_update.css" type="text/css" media="only screen and (min-width : 240px)" />
</head>

<body class="nav-md footer_fixed">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col menu_fixed">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="<%=session_root_path%>" class="site_title"><i class="fa fa-cogs"></i> <span>ELI Admin</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile clearfix">
						<div class="profile_pic">
							<%=image_tag(current_user.image_source("avatar"), :class=>"img-circle profile_img",  :alt=>"#{current_user.name.to_s}", :title=>"#{current_user.name.to_s}")%>
						</div>
						<div class="profile_info">
							<span>Welcome,</span>
							<h2><%=current_user.name.to_s%></h2>
						</div>
					</div>
					<!-- /menu profile quick info -->

					<br />
					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<h3>General</h3>
							<ul class="nav side-menu">
								<li class="current-page"><a href="<%=session_root_path%>"><i class="fa fa-home"></i> Dashboard</a>
								</li>
								<li><a><i class="fa fa-book"></i>Usuarios <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Académicos", admin_academic_users_path%></li>
										<li><%=link_to "Facturación", admin_billing_users_path%></li>
										<li><%=link_to "Roles Academico", admin_academico_roles_path%></li>
										<li><%=link_to "Roles Facturacion", admin_facturacion_roles_path%></li>
									</ul>
								</li>
								<li><a><i class="fa fa-book"></i>Utilidades <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Tasas de cambio", admin_exchange_rates_path%></li>
										<li><%=link_to "Sucursales", admin_branch_offices_path%></li>
										<li><%=link_to "Transacciones", admin_billing_transactions_path%></li>
										<li><%=link_to "Parámetros", admin_parameters_path%></li>
									</ul>
								</li>

							</ul>
						</div>

					</div>
					<!-- /sidebar menu -->

					<!-- /menu footer buttons -->
					<%=footer_menu%>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<%=top_nav_menu%>
			<!-- /top navigation -->

			<!-- page content -->
			<%=yield%>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div class="pull-right">
					ELI powered by<a href="#">BI</a>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>
</body>
</html>
