<%= form_for(admin_academico_role, :url => url, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if admin_academico_role.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(admin_academico_role.errors.count, "error") %> prohibited this admin_academico_role from being saved:</h2>

      <ul>
        <% admin_academico_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>
  <div class="item form-group">
    <br>
    <br>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <table class="table table-striped">
        <tr>
          <th class="bg-primary text-white"></th>
          <% @actions.each do |action| %>
            <th class="bg-primary text-white"><%= check_box_tag '', '', false, {class: 'select_col flat'} %> <%= action.description %></th>
          <% end %>
        </tr>
        <% @resources.each do |resource| %>
          <tr>
            <th class="bg-info text-white"><%= check_box_tag '', '', false, {class: 'select_row flat'} %> <%= resource.description %></th>
            <%= f.fields_for :academico_role_permissions, actions_for_resource(admin_academico_role.academico_role_permissions, resource) do |ff| %>
              <td>
                <%= ff.hidden_field :id %>
                <%= ff.hidden_field :admin_resource_id %>
                <%= ff.hidden_field :action_id %>
                <%= ff.check_box :_destroy, {:checked => ff.object.persisted?, :class => 'flat'}, '0', '1' %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", admin_academico_roles_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>
