<div class="container spinner" style="position: absolute; z-index: 2147483647; top: 0px; bottom: 0px; display:none">
  <div class="row" style="position: relative; height: 100%; width: 100%;">
    <div id="loader">
        <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="loading"></div>
    </div>
  </div>
</div>
