<div class="clearfix child">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.collection_select(:academico_program_id, Academico::Program.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control invoice_detail_element", :tabindex=>"-1",:required=>"required"}) %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.collection_select(:academico_level_id, Academico::Level.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control invoice_detail_element", :tabindex=>"-1",:required=>"required"}) %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <%= f.text_field :amount, :class=>"form-control col-md-7 col-xs-12 detail_amount"%>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <% if f.object.persisted? %>
        <%= f.check_box :_destroy, :class=>"flat" %>
        <%= f.label :_destroy, "Eliminar" %>
    <% else%>
      <%= f.hidden_field :_destroy, :class => 'removable' %>
      <%= remove_child_button "Eliminar"%>
    <% end %>
  </div>
</div>