<div class='x_panel'>
  <div class='item form-group'>
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
      <div class="x_title">
        <h2>Detalles de Precios</h2>
        <div class="clearfix"></div>
      </div>

      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 text-left">
          Programa
        </label>
        <label class="control-label col-md-2 col-sm-2 col-xs-12 text-left">
          Nivel
        </label>
        <label class="control-label col-md-2 col-sm-2 col-xs-12 text-left">
          Precio
        </label>
      </div>
      <div id='facturacion_payment_detail_concept_detail_prices'>
        <div class="children">
          <% @facturacion_payment_detail_concept.facturacion_payment_detail_concept_detail_prices.each do |detalle| %>
            <div class="clearfix child">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <%= detalle.academico_program.display_name %>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <%= detalle.academico_level.display_name %>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <%= number_with_precision(detalle.amount, precision: 2, separator: '.', delimiter: ',') %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>