<%= form_for(facturacion_payment_detail_concept, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if facturacion_payment_detail_concept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facturacion_payment_detail_concept.errors.count, "error") %> prohibited this facturacion_payment_detail_concept from being saved:</h2>

      <ul>
        <% facturacion_payment_detail_concept.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Descripción <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12", :required=>"required"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :price, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Precio <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :price, :class=>"form-control col-md-7 col-xs-12 document_numeric_input", :required=>"false" %>
    </div>
  </div>
  <div class="item form-group">
    <%= f.label :is_book, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Libro? <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.check_box :is_book, :class=>"flat" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :is_registration, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Matrícula? <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.check_box :is_registration, :class=>"flat" %>
    </div>
  </div>

  <!-- -------------------------------------------facturacion_payment_detail_concept_detail_price--------------------------------------------- 
  <div class="item form-group" id='facturacion_payment_detail_concept_detail_price_container'>

    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
      <hr>
      <br>
      <p>
        <strong>Nota:</strong> Los detalles son utilizados para definir un precio a un programa y nivel en específico,
        para los cursos y niveles que no se les defina esto se mostrara el precio general del concepto de pago en la facturación
       </p>
       <br>
      <div class="x_title">
        <h2>Detalles de Precios</h2>
        <div class="clearfix"></div>
      </div>

      <%= new_fields_template f, :facturacion_payment_detail_concept_detail_prices %>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <%= f.label :nil, :class=>"control-label col-md-4 col-sm-4 col-xs-12 text-left" do %>
          Programa<span class="required">*</span>
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-4 col-sm-4 col-xs-12 text-left" do %>
          Nivel
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-2 col-sm-2 col-xs-12 text-left" do %>
          Precio
        <%end%>
        <div class="col-md-1 col-sm-1 col-xs-12"></div>
      </div>
      <div id="facturacion_payment_detail_concept_detail_price">
        <%= f.fields_for :facturacion_payment_detail_concept_detail_prices do |ff| %>
        <div class="children facturacion_payment_detail_concept_detail_prices_fields detail_fields">
          <%= render "facturacion_payment_detail_concept_detail_price_fields", :f => ff %>
        </div>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <br><%= add_child_button "Agregar Detalle",:facturacion_payment_detail_concept_detail_prices,"facturacion_payment_detail_concept_detail_price" %>

    </div>
  </div>
-->
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_payment_detail_concepts_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>


<% end %>