<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Editar Concepto pago(<%=@facturacion_payment_detail_concept.name%>)</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<%= render 'form', facturacion_payment_detail_concept: @facturacion_payment_detail_concept %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>