<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%=@facturacion_payment_detail_concept.name %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Nombre:</h2>
                <h4><%= @facturacion_payment_detail_concept.name %></h4>

                <h2>Descripción:</h2>
                <h4><%= @facturacion_payment_detail_concept.description %></h4>

                <h2>Precio:</h2>
				<h4><span class="label label-success"><%= @facturacion_payment_detail_concept.price %></span></h4>

		      </blockquote>
            </div>
		  </div>
	  </div>

    <% if @facturacion_payment_detail_concept.facturacion_payment_detail_concept_detail_prices.any? %>
      <%= render 'facturacion_payment_detail_concept_detail_prices' %>
    <% end %>

    <blockquote class="blockquote-reverse">

        <%= link_to 'Editar', edit_facturacion_payment_detail_concept_path(@facturacion_payment_detail_concept), :class=>"btn btn-primary" %>
        <%= link_to 'Atrás', facturacion_payment_detail_concepts_path, :class=>"btn btn-success" %>

    </blockquote>
  </div>
</div>