<div class="container_login g_max_30w_s700 right_block_s700 relative z1">
	<div class="midd_container bck_cover bck_panel_login">
		<div class="midd_cell">
			
			<div class="login_wrap text-center max_w_25 mar_auto">
				<div class="logo_eli mar_auto left_block_s700">
					<img src="/assets/logo_eli.png" alt="" class="w100p">
				</div>
				<br>
				<div class="title_login bolder">
					Bienvenido a <span>ELI</span>
				</div>
				<div class="row_lm italic">
					Por favor elige tu área
				</div>

				<!-- container -->
				<div>
					<!-- areas -->
					<div class="areas_login_container max_w_20 mar_auto">
						<div class="areas_login">
							<div class="relative">
								<div class="midd_container h100p">
									<div class="midd_cell">
										<a href="<%=academico_root_path%>" class="svg_container_login">
											<svg class="svg-icon academico_icon" viewBox="0 0 20 20">
											<path fill="none" d="M19.5,7.7l-9.4-3.6c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0L0.5,7.7c-0.1,0-0.2,0.1-0.2,0.3s0.1,0.2,0.2,0.3l4.2,1.6
												v3.8c0,0,0,0,0,0c0,0.5,0.7,1.1,1.6,1.5c1.1,0.5,2.4,0.8,3.6,0.8c1.3,0,2.6-0.3,3.6-0.8c1-0.5,1.6-1,1.6-1.5c0,0,0,0,0,0V9.8l2-0.7
												v1.9c0,0,0,0,0,0c-0.4,0.1-0.6,0.5-0.6,0.9c0,0.2,0,0.3,0.1,0.4l-0.4,2.2c0,0.1,0,0.2,0.1,0.2c0.1,0.1,0.1,0.1,0.2,0.1h2
												c0.1,0,0.2,0,0.2-0.1c0.1-0.1,0.1-0.1,0.1-0.2l-0.4-2.2c0,0,0,0,0,0c0.1-0.1,0.1-0.2,0.1-0.4c0-0.4-0.3-0.8-0.6-0.9c0,0,0,0,0,0V8.8
												l1.7-0.6c0.1,0,0.2-0.1,0.2-0.3S19.6,7.7,19.5,7.7z M16.9,14.2l0.3-1.5c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0
												c0.1,0,0.3,0,0.4-0.1l0.3,1.5H16.9z M17.8,12.1C17.8,12.1,17.8,12.1,17.8,12.1C17.8,12.1,17.7,12.1,17.8,12.1
												C17.7,12.2,17.7,12.2,17.8,12.1c-0.1,0.1-0.1,0.1-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0
												c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0
												c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c-0.1-0.1-0.1-0.2-0.1-0.2c0-0.2,0.2-0.4,0.4-0.4c0.2,0,0.4,0.2,0.4,0.4
												C17.9,11.9,17.8,12,17.8,12.1z M14.7,13.6C14.7,13.6,14.7,13.6,14.7,13.6c0,0.5-2.1,1.8-4.7,1.8s-4.7-1.3-4.7-1.8c0,0,0,0,0,0V10
												l1.2,0.5l3.4,1.3c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0l3.4-1.3l1.2-0.5V13.6z
												 M17.4,8.3L10,7.1c-0.2,0-0.3,0.1-0.3,0.2c0,0.2,0.1,0.3,0.2,0.3l6.5,1.1l-1.5,0.6c0,0,0,0,0,0L13.1,10L10,11.2L6.9,10L5.1,9.3
												c0,0,0,0,0,0L1.4,7.9L10,4.6l8.6,3.3L17.4,8.3z"/>
											</svg>


											<span class="block lable_icon_login bolder">
												Académico
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="relative">
								<div class="midd_container h100p">
									<div class="midd_cell">
										<a href="<%=admin_root_path%>" class="svg_container_login">
											<svg class="svg-icon" viewBox="0 0 20 20">
												<path fill="none" d="M10,10.9c2.373,0,4.303-1.932,4.303-4.306c0-2.372-1.93-4.302-4.303-4.302S5.696,4.223,5.696,6.594C5.696,8.969,7.627,10.9,10,10.9z M10,3.331c1.801,0,3.266,1.463,3.266,3.263c0,1.802-1.465,3.267-3.266,3.267c-1.8,0-3.265-1.465-3.265-3.267C6.735,4.794,8.2,3.331,10,3.331z"></path>
												<path fill="none" d="M10,12.503c-4.418,0-7.878,2.058-7.878,4.685c0,0.288,0.231,0.52,0.52,0.52c0.287,0,0.519-0.231,0.519-0.52c0-1.976,3.132-3.646,6.84-3.646c3.707,0,6.838,1.671,6.838,3.646c0,0.288,0.234,0.52,0.521,0.52s0.52-0.231,0.52-0.52C17.879,14.561,14.418,12.503,10,12.503z"></path>
											</svg>
											<span class="block lable_icon_login bolder">
												Admin
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="relative">
								<div class="midd_container h100p">
									<div class="midd_cell">
										<a href="<%=facturacion_root_path%>" class="svg_container_login">
											<svg class="svg-icon" viewBox="0 0 20 20">
												<path fill="none" d="M4.423,9.141H3.565c-0.237,0-0.429,0.192-0.429,0.429s0.192,0.429,0.429,0.429h0.858c0.237,0,0.429-0.192,0.429-0.429S4.66,9.141,4.423,9.141 M6.997,16.861H6.139c-0.237,0-0.429,0.192-0.429,0.43s0.192,0.429,0.429,0.429h0.858c0.237,0,0.429-0.191,0.429-0.429S7.234,16.861,6.997,16.861 M4.423,16.861H3.565c-0.237,0-0.429,0.192-0.429,0.43s0.192,0.429,0.429,0.429h0.858c0.237,0,0.429-0.191,0.429-0.429S4.66,16.861,4.423,16.861M13.861,9.998h0.857c0.236,0,0.429-0.192,0.429-0.429s-0.192-0.429-0.429-0.429h-0.857c-0.237,0-0.43,0.192-0.43,0.429S13.624,9.998,13.861,9.998 M14.719,16.861h-0.857c-0.237,0-0.43,0.192-0.43,0.43s0.192,0.429,0.43,0.429h0.857c0.236,0,0.429-0.191,0.429-0.429S14.955,16.861,14.719,16.861 M15.576,13.001c-0.236,0-0.429,0.192-0.429,0.43c0,0.236,0.192,0.429,0.429,0.429c0.237,0,0.43-0.192,0.43-0.429C16.006,13.193,15.813,13.001,15.576,13.001 M6.997,9.141H6.139c-0.237,0-0.429,0.192-0.429,0.429s0.192,0.429,0.429,0.429h0.858c0.237,0,0.429-0.192,0.429-0.429S7.234,9.141,6.997,9.141M12.145,9.141h-0.857c-0.236,0-0.429,0.192-0.429,0.429s0.193,0.429,0.429,0.429h0.857c0.237,0,0.43-0.192,0.43-0.429S12.382,9.141,12.145,9.141 M17.722,10.856V7.424c0-0.948-0.769-1.716-1.716-1.716h-0.617l-1.038-3.873c-0.245-0.916-1.186-1.458-2.101-1.213L3.592,2.912C2.676,3.157,2.133,4.098,2.378,5.014l0.186,0.695H2.278c-0.947,0-1.716,0.768-1.716,1.716V17.72c0,0.947,0.769,1.716,1.716,1.716h13.728c0.947,0,1.716-0.769,1.716-1.716v-1.716c0.947,0,1.716-0.769,1.716-1.716v-1.716C19.438,11.624,18.669,10.856,17.722,10.856 M16.006,6.566c0.473,0,0.857,0.384,0.857,0.858v0.238c-0.253-0.146-0.544-0.238-0.857-0.238h-0.157l-0.229-0.858H16.006z M14.41,5.372l0.55,2.053H6.67L14.41,5.372z M3.814,3.741l8.657-2.29c0.458-0.123,0.928,0.149,1.051,0.607l0.222,0.828L3.43,5.621l-0.223-0.83C3.084,4.333,3.356,3.863,3.814,3.741M1.42,7.424c0-0.474,0.384-0.858,0.858-0.858h0.517l0.229,0.858H2.278c-0.314,0-0.605,0.091-0.858,0.238V7.424z M16.863,17.72c0,0.474-0.385,0.858-0.857,0.858H2.278c-0.474,0-0.858-0.385-0.858-0.858V9.141c0-0.474,0.384-0.858,0.858-0.858h13.728c0.473,0,0.857,0.384,0.857,0.858v1.715h-1.716c-0.947,0-1.716,0.768-1.716,1.716v1.716c0,0.947,0.769,1.716,1.716,1.716h1.716V17.72z M18.58,14.288c0,0.474-0.385,0.857-0.858,0.857h-2.574c-0.474,0-0.857-0.384-0.857-0.857v-1.716c0-0.474,0.384-0.858,0.857-0.858h2.574c0.474,0,0.858,0.385,0.858,0.858V14.288z M9.571,16.861H8.713c-0.237,0-0.429,0.192-0.429,0.43s0.192,0.429,0.429,0.429h0.858c0.236,0,0.429-0.191,0.429-0.429S9.808,16.861,9.571,16.861M12.145,16.861h-0.857c-0.236,0-0.429,0.192-0.429,0.43s0.193,0.429,0.429,0.429h0.857c0.237,0,0.43-0.191,0.43-0.429S12.382,16.861,12.145,16.861 M9.571,9.141H8.713c-0.237,0-0.429,0.192-0.429,0.429s0.192,0.429,0.429,0.429h0.858C9.808,9.998,10,9.806,10,9.569S9.808,9.141,9.571,9.141"></path>
											</svg>
											<span class="block lable_icon_login bolder">
												Factura
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- logo americano -->
				<div class="only_900 bottom_logo text-center max_w_25 mar_auto w70p">
					<div class="relative icon logo_am w100p h5 mar_auto "></div>
				</div>
				<!-- footer min height -->
				<div class="min_height_footer footer_index">
					Copyright © 2018 American Nicaraguan School. All rights reserved. 
				</div>
			</div>

		</div>
	</div>
	
	
</div>

<!-- bottom -->
<div class="pad_r_30_s700 relative_s700 container_complement_s700 wh100p_s700 absolute_default_s700 fixed_min_500">
	<div class="relative_s700 wh100p_s700 bck_cover">
		<div class="only_900 bs100">
			<div class="midd_container h100p">
				<div class="midd_cell">
					<div class="c_white bolder login_wrap max_w_40 mar_auto ">
						<div class="uppercase text-center fs_13">
							the best of your life begins at <span class="c_yellow">ELI</span>
						</div>
						<br>
						<div class="fs_12 row_lm">
							<div class="text-center">
								Con más de <span class="c_yellow">40 años</span> formando bilingües,<br>Pioneros en la enseñanza del idioma inglés a nivel nacional
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_login text-center z2">
			Copyright © 2018 American Nicaraguan School. All rights reserved. 
		</div>
	</div>
</div>