<div class="clearfix child">
	<div class="col-md-2 col-sm-2 col-xs-12">
		<%= f.text_field :amount, :class=>"form-control col-md-7 col-xs-12 detail_amount" %>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12 detail_description",:required=>"required" %>
	</div>
  <% invoice_reference_class = f.object.persisted? && f.object.facturacion_invoice_id.present? ? 'note_of_invoice' : '' %>
  <div class="col-md-2 col-sm-2 col-xs-12 <%= invoice_reference_class %>" data-role="invoice_reference">
    <div class="invoice_select">
      <%= f.collection_select :facturacion_invoice_id, defined?(parent_local) && parent_local.present? ?  Facturacion::Invoice.student_book_invoices(parent_local.academico_student_id, nil) : [], :id, :invoice_number, { include_blank: true}, {:class=>"student_invoice select2_single form-control col-md-7 col-xs-12", :tabindex=>"-1"} %>
    </div>
    <div class="associate_invoice item form-group">
      <%= check_box_tag 'associate_invoice', '0', false, class: 'js-switch' %>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 <%= invoice_reference_class %>" data-role="invoice_reference">
    <div class="payment_concept">
      <%= f.collection_select :facturacion_invoice_details_id, f.object.facturacion_invoice_id.present? ? Facturacion::Invoice.invoice_concepts(f.object.facturacion_invoice_id, nil) : [], :id, :book_name, { include_blank: true}, {:class=>"concept_select select2_single form-control col-md-7 col-xs-12", :tabindex=>"-1"} %>
    </div>
  </div>
	<% if f.object.persisted? %>
		<div class="col-md-2 col-sm-3 col-xs-12">
	    	<%= f.check_box :_destroy, :class=>"flat" %>
	    	<%= f.label :_destroy, "Eliminar" %>
	    </div>
    <% else%>
    	<%= f.hidden_field :_destroy, :class => 'removable' %>
    	<%= remove_child_button "Eliminar"%>
    <% end %>
</div>