<%= form_for(facturacion_note, html: {:class=>"form-horizontal form-label-left document", :novalidate => nil}) do |f| %>
  <% if facturacion_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facturacion_note.errors.count, "error") %> prohibited this facturacion_note from being saved:</h2>

      <ul>
        <% facturacion_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :note_number, :class=>"control-label col-md-9 col-sm-9 col-xs-12 " do %>
      Numero de Nota <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.text_field :note_number, :class=>"form-control col-md-3 col-xs-12 document_numeric_input", :value => facturacion_note.form_note_number,:disabled => :disabled %>
    </div>
  </div>

  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :note_date, :class=>"control-label col-md-9 col-sm-9 col-xs-12" do %>
    Fecha de Nota <span class="required">*
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="control-group">
        <div class="controls">
          <div class="xdisplay_inputx form-group has-feedback">
            <%= f.text_field :note_date, :class=>"form-control document_datepicker", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
            <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <% if !f.object.new_record? %>
        <script>
          document_date = "<%=f.object.note_date_formatted%>"
        </script>
      <% end %>
    </div>
  </div>

  
  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :admin_branch_office_id, :class=>"control-label col-md-9 col-sm-9 col-xs-12" do %>
      Sucursal <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.collection_select(:admin_branch_office_id, Admin::BranchOffice.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
    </div>
  </div>


  <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :academico_student_id, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Estudiante <span class="required">*</span>
    <%end%>
    
  </div>
  <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <div class="item form-group col-md-6 col-sm-6 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <%= f.collection_select(:academico_student_id, Academico::Student.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
      </div>
    </div>
    
  </div>

  <div class="clearfix"></div>


  <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :description, :class=>"control-label col-md-12 col-sm-12 col-xs-12 text-left" do %>
      Concepto <span class="required">*</span>
    <%end%> 
  </div>
  
  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">    
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12 ", :required=>"required" %>
    </div>
  </div>

  <div class="clearfix col-sm-12 col-md-12 col-xs-12"><hr></div>

  <div class="item form-group">
    
    <div class="col-md-10 col-sm-10 col-xs-10" style="padding: 0">
      
      <div class="x_title">
        <h2>Detalles de nota</h2>
        <div class="clearfix"></div>
      </div>

      <%= new_fields_template f, :facturacion_note_details, { parent_local: f.object } %>
      <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding: 0">
        <%= f.label :nil, :class=>"control-label col-md-2 col-sm-2 col-xs-12 text-left" do %>
          Monto<span class="required">*</span>
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-3 col-sm-6 col-xs-12 text-left" do %>
          Descripcion <span class="required">*</span>
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-2 col-sm-2 col-xs-12 text-left" do %>
          Factura
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-3 col-sm-3 col-xs-12 text-left" do %>
          Concepto
        <%end%>
      </div>
      <div id="facturacion_note_detail">
        <%= f.fields_for :facturacion_note_details do |ff| %>
        <div class="children">
          <%= render "facturacion_note_detail_fields", :f => ff, :parent_local => f.object %>
        </div>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <br><%= add_child_button "Agregar Detalle",:facturacion_note_details,"facturacion_note_detail" %>

    </div>
    <!-- -------------------------------------------TOTAL--------------------------------------------- -->
    <div class="col-sm-2 col-md-2 col-xs-12" style="padding: 0">
      <div class="x_title col-sm-4 col-md-4 col-xs-12">
        <h2>Total C$</h2>
        <div class="clearfix"></div>
      </div>
      <div class="item form-group"> 
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h1 id="total_note" style="color:#00a1ff">0.00</h1>
        </div>
        
      </div>
    </div>
  </div>

  <div class="clearfix"><hr></div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_notes_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>
<script src="/assets/facturacion/notes_utility.js"></script>