<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Nota <%= @facturacion_note.form_note_number %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Numero de nota:</h2>
                <h4><%= @facturacion_note.form_note_number %></h4>

                <h2>Fecha:</h2>
                <h4><%= @facturacion_note.note_date %></h4>

                <h2>Cliente:</h2>
                <h4><%= @facturacion_note.academico_student.display_name %></h4>

                <h2>Descripción:</h2>
                <h4><%= @facturacion_note.description %></h4>

                <h2>Total:</h2>
                <h4><%= @facturacion_note.total_note %></h4>

                <h2>Restante:</h2>
                <h4><%= @facturacion_note.total_detail - @facturacion_note.total_note_payment %></h4>

                <h2>Recibos Asociados:</h2>
                <h4>
                  <%@facturacion_note.facturacion_receipts.each do |receipt| %>
                    <span class="label label-primary">
                      <%= link_to receipt.form_receipt_number, facturacion_receipt_path(receipt), style: "color: white"%>
                    </span>
                  <%end%>
                </h4>


                
              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_facturacion_note_path(@facturacion_note), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', facturacion_notes_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
