<!DOCTYPE html>
<html>
<head>
	<title><%=@page_title%></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!-- jVectorMap -->
	<script src="/assets/maps/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/assets/maps/jquery-jvectormap-us-aea-en.js"></script>
	<script src="/assets/maps/gdp-data.js"></script>
	<%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
	<%= favicon_link_tag 'favicon.ico'%>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
	<!-- fuente lato -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="/assets/default.css" />
  <!-- Smartphones (portrait 240 - 320) -->
  <link rel="stylesheet" href="/assets/s240_base.css" type="text/css" media="only screen and (min-width : 240px)" />
  <link rel="stylesheet" href="/assets/s240_body.css" type="text/css" media="only screen and (min-width : 240px)" />
  <link rel="stylesheet" href="/assets/s240_update.css" type="text/css" media="only screen and (min-width : 240px)" />
</head>

<body class="nav-md footer_fixed">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col menu_fixed">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="<%=session_root_path%>" class="site_title"><i class="fa fa-graduation-cap"></i> <span>ELI Academic</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile clearfix">
						<div class="profile_pic">
							<%=image_tag(current_user.image_source("avatar"), :class=>"img-circle profile_img",  :alt=>"#{current_user.name.to_s}", :title=>"#{current_user.name.to_s}")%>
						</div>
						<div class="profile_info">
							<span>Welcome,</span>
							<h2><%=current_user.name.to_s%></h2>
						</div>
					</div>
					<!-- /menu profile quick info -->

					<br />
					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<ul class="nav side-menu">
								<li class="current-page"><a href="<%=session_root_path%>"><i class="fa fa-home"></i> Dashboard</a>
								</li>
								<li><a><i class="fa fa-folder-open"></i>Administración<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Rangos de Edad", academico_age_ranges_path%></li>
										<li><%=link_to "Programas", academico_programs_path%></li>
										<li><%=link_to "Niveles", academico_levels_path%></li>
										<li><%=link_to "Salones", academico_rooms_path %></li>
										<li><%=link_to "Colaboradores", academico_staffs_path %></li>
										<li><%=link_to "Tipo de parámetro de evaluación", academico_evaluation_parameter_types_path %></li>
										<li><%=link_to "Parámetros de evaluación", academico_evaluation_parameters_path %></li>
										<li><%=link_to "Esquema de evaluación", academico_evaluation_schemes_path %></li>
										<li><%=link_to "Horario de cursos", academico_course_schedulles_path %></li>
										<li><%=link_to "Modalidad de cursos", academico_course_modalities_path %></li>
									</ul>
								</li>
								<li><a><i class="fa fa-handshake-o"></i>Registro<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Estudiantes", academico_students_path%></li>
									</ul>
								</li>
								<li><a><i class="fa fa-calendar"></i>Cursos<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
                    <li><%=link_to "Cursos", academico_time_frames_path%></li>
										<li><%=link_to "Grupos de Cursos", academico_courses_path%></li>
										<li><%=link_to "Temario", academico_temaries_path%></li>
										<li><%=link_to "Asistencia y Notas del curso", academico_course_evaluations_path%></li>
										<li><%=link_to "Resultados de cursos", academico_course_results_path%></li>
										<li><%=link_to "Asistencia Docentes", academico_teacher_attendances_path %></li>
									</ul>
								</li>
								<li><a><i class="fa fa-book"></i>Informes<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Resumen de alumnos", academico_student_reports_index_path%></li>
										<li><%=link_to "Estudiantes por curso", academico_course_student_reports_index_path %></li>
										<li><%=link_to "Cupos por curso", academico_course_quota_reports_index_path %></li>
										<li><%=link_to "Edades por programa", academico_student_ages_reports_index_path %></li>
									</ul>
								</li>
							</ul>
						</div>

					</div>

					<!-- /sidebar menu -->

					<!-- /menu footer buttons -->
					<%=footer_menu%>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<%=top_nav_menu%>
			<!-- /top navigation -->

			<%= render "shared/alert" %>

			<!-- page content -->
			<%=yield%>
			<!-- /page content -->

			<!-- footer content -->
			<%=render "shared/footer"%>
			<!-- /footer content -->
		</div>
	</div>
	<%=render "shared/spinner"%>
</body>
</html>
