<!DOCTYPE html>
<html class="login">
<head>
  <title><%=@page_title%></title>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
  <%= favicon_link_tag 'favicon.ico'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- meta ie compatibility -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <!-- detecting devices/removing zoom -->

    <!-- favicon -->

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
    
    <!-- jquery librery -->

    <!-- google font -->
      <!-- fuente lato -->
      <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- screens -->
      <!-- css -->
      <link rel="stylesheet" type="text/css" href="/assets/default.css" />
      <!-- Smartphones (portrait 240 - 320) -->
      <link rel="stylesheet" href="/assets/s240_base.css" type="text/css" media="only screen and (min-width : 240px)" />
      <link rel="stylesheet" href="/assets/s240_body.css" type="text/css" media="only screen and (min-width : 240px)" />
      <link rel="stylesheet" href="/assets/s240_update.css" type="text/css" media="only screen and (min-width : 240px)" />
      <link rel="stylesheet" href="/assets/s240_login.css" type="text/css" media="only screen and (min-width : 240px)" />



    <!-- hacks -->
    <!--[if IE]>
    <link rel="stylesheet" href="css/s_ie.css" type="text/css" media="screen"/>
    <![endif]-->

</head>
<body class="login">
  

  <div class="container_login g_max_30w_s700 right_block_s700 relative z1">
    <div class="midd_container bck_cover bck_panel_login">
      <div class="midd_cell">
        
        <div class="login_wrap text-center max_w_25 mar_auto">
          
          <div class="logo_eli mar_auto left_block_s700">
            <img src="/assets/logo_eli.png" alt="" class="w100p">
          </div>

          <br>
          <div class="title_login bolder">
            Bienvenido a <span>ELI</span>
          </div>
          <div class="row_lm italic">
            <%=devise_error_messages!%>
          </div>
          
          <!-- container -->
          <div>
            <br>
            <%= yield%>
          </div>

          <!-- logo americano -->
          <div class="only_900 bottom_logo text-center max_w_25 mar_auto w70p">
            <div class="relative icon logo_am w100p h5 mar_auto "></div>
          </div>
          <!-- footer min height -->
          <div class="min_height_footer footer_index">
            Copyright © 2018 American Nicaraguan School. All rights reserved. 
          </div>
        </div>

      </div>
    </div>
    
    
  </div>

  <!-- bottom -->
  <div class="pad_r_30_s700 relative_s700 container_complement_s700 wh100p_s700 absolute_default_s700 fixed_min_500">
    <div class="relative_s700 wh100p_s700 bck_cover">
      <div class="only_900 bs100">
        <div class="midd_container h100p">
          <div class="midd_cell">
            <div class="c_white bolder login_wrap max_w_40 mar_auto ">
              <div class="uppercase text-center fs_13">
                the best of your life begins at <span class="c_yellow">ELI</span>
              </div>
              <br>
              <div class="fs_12 row_lm">
                <div class="text-center">
                  Con más de <span class="c_yellow">40 años</span> formando bilingües,<br>Pioneros en la enseñanza del idioma inglés a nivel nacional
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_login text-center z2">
        Copyright © 2018 American Nicaraguan School. All rights reserved. 
      </div>
    </div>
  </div>
</body>
</html>