<%= form_for(admin_academic_user, :url => url, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if admin_academic_user.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(admin_academic_user.errors.count, "error") %> prohibited this admin_academic_user from being saved:</h2>

      <ul>
        <% admin_academic_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :email, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Correo <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :email, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>
  <% if f.object.new_record? %>
    <div class="form-group">
      <%=f.label :password, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do%>
        Nueva Contraseña <i>(dejar en blanco si no deseas actualizarlo)</i>
      <%end%>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.password_field :password, autocomplete: "off", :class=>"form-control col-md-7 col-xs-12"  %>
        <% if @minimum_password_length %>
        <br />
        <em>Se requieren al menos <%= @minimum_password_length %> caracteres</em>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%=f.label :password_confirmation, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do%>
        Confirmacion de Contraseña
      <%end%>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control col-md-7 col-xs-12"  %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%=f.label :admin_position_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do%>
      Cargo
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.fields_for :admin_academic_user_position do |fp| %>
        <%= fp.hidden_field :academico_academic_user_id %>
        <%= fp.collection_select :admin_position_id, @admin_positions, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :onchange => "cleanHasOneOption(this.value)"} %>
        <%= fp.hidden_field :_destroy, {value: 1, id: "destroy_academic_user_position", disabled:  :disabled} %>
      <% end %>
    </div>
  </div>
  <div class="item form-group">
    <div><h4>Roles del usuario</h4></div>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <table class="table table-striped">
      <%= f.fields_for :academico_user_roles do |ff| %>
        <tr>
          <td>
            <%= ff.hidden_field :academico_academic_users_id %>
            <%= ff.hidden_field :academico_academico_roles_id %>
            <%= ff.object.academico_role.name %>
          </td>
          <td>
            <%= ff.check_box :_destroy, {:checked => ff.object.persisted?, :class => 'flat'}, '0', '1' %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", admin_academic_users_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
