<!DOCTYPE html>
<html>
<head>
	<title><%=@page_title%></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!-- jVectorMap -->
	<script src="/assets/maps/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/assets/maps/jquery-jvectormap-us-aea-en.js"></script>
	<script src="/assets/maps/gdp-data.js"></script>
	<%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
	<%= favicon_link_tag 'favicon.ico'%>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
	<!-- fuente lato -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="/assets/default.css" />
  <!-- Smartphones (portrait 240 - 320) -->
  <link rel="stylesheet" href="/assets/s240_base.css" type="text/css" media="only screen and (min-width : 240px)" />
  <link rel="stylesheet" href="/assets/s240_body.css" type="text/css" media="only screen and (min-width : 240px)" />
  <link rel="stylesheet" href="/assets/s240_update.css" type="text/css" media="only screen and (min-width : 240px)" />
</head>

<body class="nav-md footer_fixed">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col menu_fixed">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="<%=session_root_path%>" class="site_title"><i class="fa fa-university"></i> <span>ELI Billing</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile clearfix">
						<div class="profile_pic">
							<%=image_tag(current_user.image_source("avatar"), :class=>"img-circle profile_img",	 :alt=>"#{current_user.name.to_s}", :title=>"#{current_user.name.to_s}")%>
						</div>
						<div class="profile_info">
							<span>Bienvenido,</span>
							<h2><%=current_user.name.to_s%></h2>
						</div>
					</div>
					<!-- /menu profile quick info -->

					<br />
					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<ul class="nav side-menu">
								<li class="current-page"><a href="<%=session_root_path%>"><i class="fa fa-home"></i> Dashboard</a>
								</li>
								<li><a><i class="fa fa-book"></i>Pre Registro <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Pre-registros", facturacion_preregistrations_path%></li>
										<li><%=link_to "Tutores", facturacion_tutors_path%></li>
										<li><%=link_to "Empresas", facturacion_companies_path%></li>
										<li><%=link_to "Tipos de empresa", facturacion_company_types_path%></li>
										<li><%=link_to "Transportistas", facturacion_carriers_path%></li>
										<li><%=link_to "Descuentos", facturacion_discounts_path%></li>
									</ul>
								</li>
								<li><a><i class="fa fa-bar-chart-o"></i>Facturacion <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Facturas", facturacion_invoices_path%></li>
										<li><%=link_to "Recibos", facturacion_receipts_path%></li>
									</ul>
								</li>
								<li><a><i class="fa fa-book"></i> Notas <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Notas de crédito", facturacion_notes_path%></li>
										<li><%=link_to "Notas de débito", facturacion_debit_notes_path%></li>
									</ul>
								</li>
								<li><a><i class="fa fa-archive"></i>Inventario <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Kardex", facturacion_stocks_path%></li>
										<li><%=link_to "Libros", facturacion_books_path%></li>
										<li><%=link_to "Reportes", "#"%></li>
									</ul>
								</li>
								<li><a><i class="fa fa-cubes"></i>Bodegas <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Bodega", facturacion_warehouses_path%></li>
										<li><%=link_to "Centros de Costo", facturacion_cost_centers_path%></li>
										<li><%=link_to "Transferencias", multi_transfer_facturacion_stocks_path%></li>
									</ul>
								</li>
								<!--<li><a><i class="fa fa-line-chart"></i>Comprobantes <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Generar", "#"%></li>
									</ul>
								</li>-->
								<li><a><i class="fa fa-wrench"></i>Utilidades <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><%=link_to "Conceptos de pago", facturacion_payment_detail_concepts_path%></li>
										<li><%=link_to "Precios Libro - Matricula  / curso", facturacion_course_book_registrations_path%></li>
										<li><%=link_to "Catálogo de cuentas", facturacion_accounting_accounts_path %></li>
										<li><%=link_to "Cierre Diario", facturacion_daily_processes_path %></li>
									</ul>
								</li>
							</ul>
						</div>

					</div>
					<!-- /sidebar menu -->

					<!-- /menu footer buttons -->
					<%=footer_menu%>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<%=top_nav_menu%>
			<!-- /top navigation -->

			<!-- page content -->
			<%=yield%>
			<!-- /page content -->
			<!-- footer content -->
			<%=render "shared/footer"%>
			<!-- /footer content -->
		</div>
	</div>
	<%=render "shared/spinner"%>
</body>
</html>
