<%= form_for(admin_resource) do |f| %>
  <% if admin_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_resource.errors.count, "error") %> prohibited this admin_resource from being saved:</h2>

      <ul>
      <% admin_resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource_id %>
    <%= f.number_field :resource_id %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :resource_type_id %>
    <%= f.number_field :resource_type_id %>
  </div>

  <div class="field">
    <%= f.label :resource_types_id %>
    <%= f.text_field :resource_types_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
