<p id="notice"><%= notice %></p>

<h1>Recursos</h1>

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Description</th>
      <th>Model</th>
      <th>Resource type</th>
      <th>Resource types</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_resources.each do |admin_resource| %>
      <tr>
        <td><%= admin_resource.resource_id %></td>
        <td><%= admin_resource.description %></td>
        <td><%= admin_resource.model %></td>
        <td><%= admin_resource.resource_type_id %></td>
        <td><%= admin_resource.resource_types %></td>
        <td><%= link_to 'Show', admin_resource %></td>
        <td><%= link_to 'Edit', edit_admin_resource_path(admin_resource) %></td>
        <td><%= link_to 'Destroy', admin_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academico Resource', new_admin_resource_path %>
