<p id="notice"><%= notice %></p>

<p>
  <strong>Resource:</strong>
  <%= @admin_resource.resource_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_resource.description %>
</p>

<p>
  <strong>Model:</strong>
  <%= @admin_resource.model %>
</p>

<p>
  <strong>Resource type:</strong>
  <%= @admin_resource.resource_type_id %>
</p>

<p>
  <strong>Resource types:</strong>
  <%= @admin_resource.resource_types %>
</p>

<%= link_to 'Edit', edit_admin_resource_path(@admin_resource) %> |
<%= link_to 'Back', admin_resources_path %>
