<div class="right_col" role="main" style="min-height: 1053px;">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3><%=@facturacion_company_type.name %></h3>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12">

				<div class="x_panel">

					<div class="x_content">
						<% if notice.present?%>
							<div class="alert alert-success">
								<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
								<%= notice %>
							</div>
						<% end %>
						<div class="col-md-8 col-lg-8 col-sm-7">
							<!-- blockquote -->
							<blockquote>

								<h2>Nombre</h2>
								<h4><%= @facturacion_company_type.name %></h4>

								<h2>Descripción</h2>
								<h4><%= @facturacion_company_type.description %></h4>
								
							</blockquote>

							<blockquote class="blockquote-reverse">

									<%= link_to 'Editar', edit_facturacion_company_type_path(@facturacion_company_type), :class=>"btn btn-primary" %>
									<%= link_to 'Atrás', facturacion_company_types_path, :class=>"btn btn-success" %>

							</blockquote>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>