<%= form_for(facturacion_receipt, html: {:class=>"form-horizontal form-label-left document", :novalidate => nil}) do |credit_receipt| %>
  <% if facturacion_receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facturacion_receipt.errors.count, "error") %> prohibited this facturacion_receipt from being saved:</h2>

      <ul>
      <% facturacion_receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%=credit_receipt.text_field :credit_invoice_payment, :type=> :hidden%>
  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= credit_receipt.label :receipt_number, :class=>"control-label col-md-9 col-sm-9 col-xs-12 " do %>
      Numero de recibo <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= credit_receipt.text_field :receipt_number, :class=>"form-control col-md-3 col-xs-12 document_numeric_input", :value => facturacion_receipt.form_receipt_number,:disabled => :disabled %>
    </div>
  </div>

  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= credit_receipt.label :receipt_date, :class=>"control-label col-md-9 col-sm-9 col-xs-12" do %>
      Fecha de Recibo <span class="required">*
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="control-group">
        <div class="controls">
          <div class="xdisplay_inputx form-group has-feedback">
            <%= credit_receipt.text_field :receipt_date, :class=>"form-control document_datepicker", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
            <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <% if !credit_receipt.object.new_record? %>
        <script>
          document_date = "<%=credit_receipt.object.receipt_date_formatted%>"
        </script>
      <% end %>
    </div>
  </div>

  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= credit_receipt.label :academico_student_id, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Estudiante <span class="required">*</span>
    <%end%>
    <%= credit_receipt.label :exchange_rate, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Tasa de cambio <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= credit_receipt.text_field :exchange_rate, :class=>"form-control col-md-7 col-xs-12 document_numeric_input", :disabled => :disabled, :required=>"required" %>
    </div>
  </div>

  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= credit_receipt.collection_select(:academico_student_id, Academico::Student.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required", id: 'facturacion_receipt_academico_students_id'}) %>
    </div>
    <%= credit_receipt.label :admin_branch_office_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Sucursal <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= credit_receipt.collection_select(:admin_branch_office_id, Admin::BranchOffice.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
    </div>
  </div>

  <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= credit_receipt.label :comments, :class=>"control-label col-md-12 col-sm-12 col-xs-12 text-left" do %>
      Observaciones <span class="required">*</span>
    <%end%> 
  </div>

  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">    
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= credit_receipt.text_area :comments, :class=>"form-control col-md-7 col-xs-12 ", :required=>"required" %>
    </div>
  </div>

  <div id="changedItem"></div>
  <br>
  
  <!-- -------------------------------------------BILLING--------------------------------------------- -->
  <div class="item form-group">
    
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
      <%= new_fields_template(credit_receipt, :facturacion_receipt_details, {is_two_level: true, nested_builder_method: :build_facturacion_receipt_detail_note})%>
      <div class="x_title">
        <h2>Detalles de facturas</h2>
        <div class="clearfix"></div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <%= credit_receipt.label :nil, :class=>"control-label col-md-3 col-sm-3 col-xs-12 text-left" do %>
          Factura<span class="required">*</span>
        <%end%>
        <%= credit_receipt.label :nil, :class=>"control-label col-md-1 col-sm-1 col-xs-12 text-left" do %>
          Saldo
        <%end%>
        <%= credit_receipt.label :nil, :class=>"control-label col-md-1 col-sm-1 col-xs-12 text-left" do %>
          Paga con NC 
        <%end%>
        <%= credit_receipt.label :nil, :class=>"control-label col-md-2 col-sm-2 col-xs-12 text-left" do %>
          Nota de Crédito 
        <%end%>
        <%= credit_receipt.label :nil, :class=>"control-label col-md-2 col-sm-2 col-xs-12 text-left" do %>
          Monto <span class="required">*</span>
        <%end%>
      </div>
      <div id="facturacion_receipt_detail">
        <%= credit_receipt.fields_for :facturacion_receipt_details do |ff| %>
          <div class="children">
            <%= render "facturacion_receipt_detail_fields", {:f => ff, :parent_local => facturacion_receipt.academico_student_id} %>
          </div>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <br><%= add_child_button "Agregar Detalle",:facturacion_receipt_details,"facturacion_receipt_detail" %>

    </div>
  </div>

  
  <div class="item form-group">
    <div class="clearfix"><hr></div>
    <!-- -------------------------------------------PAYMENT--------------------------------------------- -->
    <% object_relation_built = build_relation credit_receipt, :facturacion_receipt_payment_detail if credit_receipt.object.new_record?%>
    <%= credit_receipt.fields_for :facturacion_receipt_payment_detail, object_relation_built do |ff| %>
      <div id="payment_container" class="col-sm-6 col-md-6 col-xs-12" style="padding: 0">
        <div class="x_title">
          <h2>Detalles de pago</h2>
          <div class="clearfix"></div>
        </div>
         
        <div class="children payment_inputs">
          <%= render "facturacion_receipt_payment_detail_fields", :f => ff %>
        </div>
      </div>

    <% end %>
    <!-- -------------------------------------------TOTAL--------------------------------------------- -->
    <div class="col-sm-6 col-md-6 col-xs-12" style="padding: 0">
      <div class="col-sm-2 col-md-2 col-xs-12"></div>
      <div class="x_title col-sm-4 col-md-4 col-xs-12">
        <h2>Totales</h2>
        <div class="clearfix"></div>
      </div>
      <div class="item form-group">
        <%= credit_receipt.label :nil, :class=>"control-label col-md-8 col-sm-8 col-xs-12" do %>
          Total facturado C$
        <%end%> 
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h1 id="total_receipt" style="color:#00a1ff">0.00</h1>
        </div>
        
      </div>
      <div class="item form-group">
        <%= credit_receipt.label :nil, :class=>"control-label col-md-8 col-sm-8 col-xs-12" do %>
          Total Pago C$
        <%end%> 
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h1 id="total_payment" style="">0.00</h1>
        </div>
      </div>
      <div class="item form-group">
        <%= credit_receipt.label :nil, :class=>"control-label col-md-8 col-sm-8 col-xs-12" do %>
          Cambio C$
        <%end%> 
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h1 id="total_change" style="color:#ce5454">0.00</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"><hr></div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_receipts_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>
<script src="/assets/facturacion/receipts_utility.js"></script>