<div class="clearfix child">
	<div class="col-md-3 col-sm-3 col-xs-12">
		<%if f.object.new_record?%>
			<%collection = Facturacion::Invoice.where(:academico_student => parent_local, :is_cash => false, :is_pending_invoice => true)%>
		<%else%>
			<%collection = Facturacion::Invoice.where(:id => f.object.facturacion_invoice.id)%>
		<%end%>
		<%= f.collection_select(:facturacion_invoice_id, 
			collection, 
			:id, :display_name, {:include_blank => true},
			{:class=>"select2_single form-control invoice_remain_element", :tabindex=>"-1",:required=>"required"}) %>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-12">
		<%=  f.text_field :payment_pre_balance, :class=>"form-control col-md-7 col-xs-12 payment_pre_balance" %>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-12">
		<%= f.check_box :is_credit_note, {:class=>"flat is_credit_note"}%>
	</div> 
	<div class="col-md-2 col-sm-2 col-xs-12">
		<%= f.fields_for :facturacion_receipt_detail_note do |ff| %>
			<div class="<%= f.object.is_credit_note ? '' : 'hide note_hidden'%>">
				<% if ff.object.present? && ff.object.facturacion_note.present? %>
					<%collectionNote = Facturacion::Note.where(:id => ff.object.facturacion_note.id)%>
				<% else %>
					<%collectionNote = Facturacion::Note.where(:academico_student => parent_local, :note_type => NOTA_CREDITO)%>
				<%end%>
				<% if collectionNote.present?%>
					<%= ff.collection_select(:facturacion_note_id, 
						collectionNote, 
						:id, :display_name, {:include_blank => true},
						{:class=>"select2_single form-control invoice_remain_element", :tabindex=>"-1"}) %>
				<%end%>
			</div>
		<% end %>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-12">
		<%= f.text_field :payment_amount, :class=>"form-control col-md-7 col-xs-12 payment_detail_amount", :required=>"required" %>
	</div>
	<% if f.object.persisted? %>
		<div class="col-md-1 col-sm-1 col-xs-12">
	    	<%= f.check_box :_destroy, :class=>"flat" %>
	    	<%= f.label :_destroy, "Eliminar" %>
	    </div>
    <% else%>
    	<%= f.hidden_field :_destroy, :class => 'removable' %>
    	<%= remove_child_button "Eliminar"%>
    <% end %>
</div>