<div class="show_detail">
  <div class="x_panel">
    <div class="x_title">
      <h2><%=facturacion_receipt.form_receipt_number%></h2>
      <div class="clearfix"></div>
    </div>

    <div class="item form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
      <label class="control-label col-md-9 col-sm-9 col-xs-12 text_right">
        Fecha de recibo
      </label>
      <div class="col-md-3 col-sm-3 col-xs-12 input_value">
        <%= facturacion_receipt.receipt_date %>
      </div>
    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
      <label class="control-label col-md-6 col-sm-6 col-xs-12 text-left">
        Estudiante
      </label>
      <label class="control-label col-md-3 col-sm-3 col-xs-12 text_right">
        Tasa de cambio
      </label>
      <div class="col-md-3 col-sm-3 col-xs-12 input_value">
        <%= facturacion_receipt.exchange_rate %>
      </div>
    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="item form-group col-md-6 col-sm-6 col-xs-12 input_value" >
        <%= facturacion_receipt.academico_student.display_name %>
      </div>
      <label class="control-label col-md-3 col-sm-3 col-xs-12 text_right">
        Sucursal
      </label> 
      <div class="col-md-3 col-sm-3 col-xs-12 input_value">
        <%= facturacion_receipt.admin_branch_office.display_name %>
      </div>
    </div> 

    <div class="form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">
      <label class="control-label col-md-12 col-sm-12 col-xs-12 text-left">
        Observaciones
      </label> 
    </div>
    
    <div class="item form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">    
      <div class="col-md-12 col-sm-12 col-xs-12 input_value">
        <%= facturacion_receipt.comments %>
      </div>
    </div>
  </div>
  
  <div class="x_panel">
    <!-- -------------------------------------------INVOICES--------------------------------------------- -->
    <div class="item form-group">
      
      <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
        
        <div class="x_title">
          <h2>Detalles de factura</h2>
          <div class="clearfix"></div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">
            Factura
          </label>
          <label class="control-label col-md-1 col-sm-1 col-xs-12 text-left">
            Saldo
          </label>
          <label class="control-label col-md-2 col-sm-2 col-xs-12 text-left">
            Paga con NC 
          </label>
          <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">
            Número NC 
          </label>
          <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">
            Monto 
          </label>
        </div>
        <div id="facturacion_invoice_detail">
          <div class="children">
            <% facturacion_receipt.facturacion_receipt_details.each do |facturacion_receipt_detail| %>
              <div class="clearfix child">
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <%=facturacion_receipt_detail.facturacion_invoice.form_invoice_number%>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-12">
                  <%=number_with_precision(facturacion_receipt_detail.facturacion_invoice.invoice_remain, precision: 2, separator: '.', delimiter: ',')%>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <% if facturacion_receipt_detail.is_credit_note%>
                    <span class="label label-success">SI</span>
                  <% else %>
                    <span class="label label-danger">NO</span>
                  <% end %>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <% if facturacion_receipt_detail.facturacion_note.present?%>
                    <%= link_to facturacion_receipt_detail.facturacion_note.form_note_number, facturacion_note_path(facturacion_receipt_detail.facturacion_note) %>
                  <%end%>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <%=number_with_precision(facturacion_receipt_detail.payment_amount, precision: 2, separator: '.', delimiter: ',') %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="x_panel">
    <div class="item form-group">
      <!-- -------------------------------------------PAYMENT--------------------------------------------- -->
      
      <div id="payment_container" class="col-sm-6 col-md-6 col-xs-12" style="padding: 0">
        <div class="x_title">
          <h2>Detalles de pago</h2>
          <div class="clearfix"></div>
        </div>
         
        <div class="children payment_inputs">
          <% if facturacion_receipt.facturacion_receipt_payment_detail %>
            <% receipt_payment = facturacion_receipt.facturacion_receipt_payment_detail%>
            <div class="item form-group">
              <div class="col-md-4 col-sm-4 col-xs-12"></div>
              <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align: center">
                Dólar (USD)
              </label> 
              <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align: center">
                Córdoba (C$)
              </label> 
            </div>
            <div class="clearfix"><br><br></div>
            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Retención
              </label> 
              <div class="col-md-4 col-sm-4 col-xs-12"></div>
              <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                <%=number_with_precision(receipt_payment.retention_amount_cordoba, precision: 2, separator: '.', delimiter: ',')%>
              </label>
            </div>

            <div class="clearfix"><br><hr><br></div>

            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Efectivo 
              </label> 
              <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                <%=number_with_precision(receipt_payment.cash_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
              </label>
              
              <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                <%=number_with_precision(receipt_payment.cash_amount_cordoba, precision: 2, separator: '.', delimiter: ',')%>
              </label>
            </div>

            <div class="clearfix"><br><hr><br></div>

            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Tarj. Crédito 
              </label> 
              <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                <%=number_with_precision(receipt_payment.credit_card_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
              </label>
              <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                <%=number_with_precision(receipt_payment.credit_card_amount_cordoba, precision: 2, separator: '.', delimiter: ',')%>
              </label>
            </div>

            <div class="clearfix"><br><hr><br></div>

            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Referencia CK
              </label> 
              <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                <%=receipt_payment.ck_reference_usd.size > 0 ? receipt_payment.ck_reference_usd : "N/A"%>
              </label>
              <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                <%=receipt_payment.ck_reference_cordoba.size > 0 ? receipt_payment.ck_reference_cordoba : "N/A"%>
              </label>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Monto CK
              </label> 
              <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                <%=number_with_precision(receipt_payment.ck_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
              </label>
              <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                <%=number_with_precision(receipt_payment.ck_amount_cordoba, precision: 2, separator: '.', delimiter: ',')%>
              </label>
            </div>

            <div class="clearfix"><br><br><hr><br></div>

            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Referencia bancaria USD
              </label> 
              <div class="col-md-8 col-sm-8 col-xs-12">
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  <%=receipt_payment.bank_reference_usd.size > 0 ? receipt_payment.bank_reference_usd : "N/A"%>
                </label>
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  --
                </label>
              </div>
            </div>

            <div class="clearfix"><br><hr><br></div>
           
            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Monto Banco USD
              </label> 
              <div class="col-md-8 col-sm-8 col-xs-12">
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  <%=number_with_precision(receipt_payment.bank_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
                </label>
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  --
                </label>
              </div>
            </div>
            
            <div class="clearfix"><br><hr><br></div>
            
            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Referencia telepago 
              </label>
              <div class="col-md-8 col-sm-8 col-xs-12">
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  <%=receipt_payment.telepago_reference_usd.size > 0 ? receipt_payment.telepago_reference_usd : "N/A"%>
                </label>
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  --
                </label>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Monto telepago
              </label>
              <div class="col-md-8 col-sm-8 col-xs-12">
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  <%=number_with_precision(receipt_payment.telepago_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
                </label>
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  --
                </label>
              </div> 
            </div>

            <div class="clearfix"><br><hr><br></div>

            <div class="item form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                Otro Pago
              </label>
              <div class="col-md-8 col-sm-8 col-xs-12">
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  
                </label>
                <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                  <%=number_with_precision(receipt_payment.other_payment, precision: 2, separator: '.', delimiter: ',')%>
                </label>
              </div> 
            </div>

          <%end%>
        </div>
      </div>

      <!-- -------------------------------------------TOTAL--------------------------------------------- -->
      <div class="col-sm-6 col-md-6 col-xs-12" style="padding: 0">
        <div class="col-sm-2 col-md-2 col-xs-12"></div>
        <div class="x_title col-sm-4 col-md-4 col-xs-12">
          <h2>Totales</h2>
          <div class="clearfix"></div>
        </div>
        <div class="item form-group">
          <label class="control-label col-md-8 col-sm-8 col-xs-12 text_right">
            Total facturado C$
          </label> 
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label class="text_right">
              <h1 id="total_invoice" style="color:#00a1ff"><%=number_with_precision(facturacion_receipt.total_receipt, precision: 2, separator: '.', delimiter: ',')%></h1>
            </label>
          </div>
          
        </div>
        <div class="item form-group">
          <label class="control-label col-md-8 col-sm-8 col-xs-12 text_right"%>
            Total Pago C$
          </label> 
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label class="text_right">
              <h1 id="total_payment" style=""><%=number_with_precision(facturacion_receipt.total_payment, precision: 2, separator: '.', delimiter: ',')%></h1>
            </label>
          </div>
        </div>
        <div class="item form-group">
          <label class="control-label col-md-8 col-sm-8 col-xs-12 text_right">
            Cambio C$
          </label> 
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label class="text_right">
              <h1 id="total_change" style="color:#ce5454"><%=number_with_precision(facturacion_receipt.total_change, precision: 2, separator: '.', delimiter: ',')%></h1>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <div class="clearfix"><br><br></div>
        <%= link_to 'Anular', void_document_facturacion_receipt_path(facturacion_receipt), :class=>"btn btn-danger", method: :put %>
        <%= link_to 'Atrás', facturacion_receipts_path, :class=>"btn btn-success" %>
      </div>
    </div>
  </div> 
</div>