<% facturacion_receipt.facturacion_invoices.each do |invoice| %>
  <div class="show_detail">
    <div class="x_panel">



      <div class="inline_divs text-right">
  <!--       <label class="bolder c_gray">
          Número de factura
        </label> -->



        <!-- title -->
        <div class="bolder fs_15 c_turkey">
          <%=@facturacion_receipt.form_receipt_number%>
        </div>

      </div>







    <div class="header_invoice relative">
      

      <!-- fact info -->
      <div class="max_w_20 pad_1_900 bck_body_900 absolute_900 right_0 bottom_0">


        <div class="inline_divs">
          <label class="bolder c_gray w10">
            Número de factura
          </label>
          <div class="pad_l_05">
            <%= invoice.form_invoice_number %>
          </div>
        </div>

         <div class="inline_divs">
          <label class="bolder c_gray w10">
            Fecha de factura
          </label>
          <div class="pad_l_05">
            <%= invoice.invoice_date %>
          </div>
        </div>

        <div class="inline_divs">
          <label class="bolder c_gray w10">
            Tasa de cambio
          </label>
          <div class="pad_l_05">
            <%= invoice.exchange_rate %>
          </div>
        </div>

        <div class="inline_divs v_bottom_all">
          <label class="bolder c_gray w10">
            Total facturado C$
          </label> 
          <div class="pad_l_05 fs_15">
              <span ><%=number_with_precision(invoice.total_invoice, precision: 2, separator: '.', delimiter: ',')%></span>
          </div>
        </div>

        
      </div>

      <!-- split -->
      <div class="pad_tb_2 to_900">
        <div class="split_dashed "></div>
      </div>


     <!-- fact info -->
      <div class="pad_b_1 pad_t_2_900 pad_r_30_900">
        
        <div  class="inline_divs">
          <label class="w5 c_turkey">
            Estudiante
          </label>
          <div class="pad_l_05">
            <%= invoice.academico_student.display_name %>
          </div>
        </div>
        <div  class="inline_divs">
          <label class="w5 c_turkey">
          Sucursal
          </label> 
          <div class="pad_l_05">
            <%= invoice.admin_branch_office.display_name %>
          </div>
        </div>
        <div  class="inline_divs">
          <label class="w5 c_turkey">
          Curso
          </label> 
          <div class="pad_l_05">
            <%= invoice.academico_course.try(:description_of_the_course) %>
          </div>
        </div>
        
      </div>
      
    </div>










      


    <!-- concepto -->

      <div class="pad_t_2_900">
        <label class="">
          Observación
        </label> 
      </div>
      
      <div class="item form-group col-md-12 col-sm-12 col-xs-12 absolute_form_group" style="padding: 0">    
        <div class="col-md-12 col-sm-12 col-xs-12 input_value">
          <%= invoice.invoice_concept %>
        </div>
      </div>
    </div>
      
    <div class="x_panel">
    
      <!-- -------------------------------------------BILLING--------------------------------------------- -->
      <div class="item form-group">
        
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
          
          <div class="x_title">
            <h2>Detalles de factura</h2>
            <div class="clearfix"></div>
          </div>
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">
              Concepto de pago
            </label>
            <label class="control-label col-md-1 col-sm-1 col-xs-12 text-left">
              Precio 
            </label>
            <label class="control-label col-md-1 col-sm-1 col-xs-12 text-left">
              Descuento 
            </label>
            <label class="control-label col-md-1 col-sm-1 col-xs-12 text-left">
              Subtotal 
            </label>
            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">
              Libro 
            </label>
            <label class="control-label col-md-2 col-sm-2 col-xs-12 text-left">
              Descripción
            </label> 
          </div>
          <div id="facturacion_invoice_detail">
            <div class="children">
              <% invoice.facturacion_invoice_details.each do |invoice_detail| %>
                <div class="clearfix child">
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <%=invoice_detail.facturacion_payment_detail_concept.display_name%>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-12">
                    <%=number_with_precision(invoice_detail.amount, precision: 2, separator: '.', delimiter: ',')%>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-12">
                    <%=number_with_precision(invoice_detail.discount, precision: 2, separator: '.', delimiter: ',')%>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-12">
                    <%=number_with_precision(invoice_detail.sub_total, precision: 2, separator: '.', delimiter: ',') %>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <%=invoice_detail.facturacion_invoice_detail_book.facturacion_book.display_name if invoice_detail.facturacion_invoice_detail_book.present? %>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-12">
                    <%=invoice_detail.description%>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="item form-group">
        <!-- -------------------------------------------PAYMENT--------------------------------------------- -->
        
        <div id="payment_container" class="col-sm-6 col-md-6 col-xs-12" style="padding: 0">
          <div class="x_title">
            <h2>Detalles de pago</h2>
            <div class="clearfix"></div>
          </div>
           
          <div class="children payment_inputs">
            <% if invoice.facturacion_invoice_payment_detail %>
              <% invoice_payment = invoice.facturacion_invoice_payment_detail%>
              <div class="item form-group">
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align: center">
                  Dólar (USD)
                </label> 
                <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align: center">
                  Córdoba (C$)
                </label> 
              </div>
              <div class="clearfix"><br><br></div>
              <div class="item form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                  Retención
                </label> 
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                  <%=number_with_precision(invoice_payment.retention_amount_cordoba, precision: 2, separator: '.', delimiter: ',')%>
                </label>
              </div>

              <div class="clearfix"><br><hr><br></div>

              <div class="item form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                  Efectivo 
                </label> 
                <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                  <%=number_with_precision(invoice_payment.cash_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
                </label>
                
                <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                  <%=number_with_precision(invoice_payment.cash_amount_cordoba, precision: 2, separator: '.', delimiter: ',')%>
                </label>
              </div>

              <div class="clearfix"><br><hr><br></div>

              <div class="item form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                  Tarj. Crédito 
                </label> 
                <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                  <%=number_with_precision(invoice_payment.credit_card_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
                </label>
                <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                  <%=number_with_precision(invoice_payment.credit_card_amount_cordoba, precision: 2, separator: '.', delimiter: ',')%>
                </label>
              </div>

              <div class="clearfix"><br><hr><br></div>

              <div class="item form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                  Referencia CK
                </label> 
                <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                  <%=invoice_payment.ck_reference_usd.size > 0 ? invoice_payment.ck_reference_usd : "N/A"%>
                </label>
                <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                  <%=invoice_payment.ck_reference_cordoba.size > 0 ? invoice_payment.ck_reference_cordoba : "N/A"%>
                </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                  Monto CK
                </label> 
                <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                  <%=number_with_precision(invoice_payment.ck_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
                </label>
                <label class="col-md-4 col-sm-4 col-xs-12 text_right">
                  <%=number_with_precision(invoice_payment.ck_amount_cordoba, precision: 2, separator: '.', delimiter: ',')%>
                </label>
              </div>

              <div class="clearfix"><br><br><hr><br></div>

              <div class="item form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                  Referencia bancaria USD
                </label> 
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                    <%=invoice_payment.bank_reference_usd.size > 0 ? invoice_payment.bank_reference_usd : "N/A"%>
                  </label>
                  <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                    --
                  </label>
                </div>
              </div>

              <div class="clearfix"><br><hr><br></div>
             
              <div class="item form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                  Monto Banco USD
                </label> 
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                    <%=number_with_precision(invoice_payment.bank_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
                  </label>
                  <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                    --
                  </label>
                </div>
              </div>
              
              <div class="clearfix"><br><hr><br></div>
              
              <div class="item form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                  Referencia telepago 
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                    <%=invoice_payment.telepago_reference_usd.size > 0 ? invoice_payment.telepago_reference_usd : "N/A"%>
                  </label>
                  <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                    --
                  </label>
                </div>
              </div>

              <div class="item form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text_right">
                  Monto telepago
                </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                    <%=number_with_precision(invoice_payment.telepago_amount_usd, precision: 2, separator: '.', delimiter: ',')%>
                  </label>
                  <label class="col-md-6 col-sm-6 col-xs-12 text_right">
                    --
                  </label>
                </div> 
              </div>
            <%end%>
          </div>
        </div>

        <!-- -------------------------------------------TOTAL--------------------------------------------- -->
        <div class="col-sm-6 col-md-6 col-xs-12" style="padding: 0">
          <div class="col-sm-2 col-md-2 col-xs-12"></div>
          <div class="x_title col-sm-4 col-md-4 col-xs-12">
            <h2>Totales</h2>
            <div class="clearfix"></div>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-8 col-sm-8 col-xs-12 text_right">
              Total facturado C$
            </label> 
            <div class="col-md-4 col-sm-4 col-xs-12">
              <label class="text_right">
                <h1 id="total_invoice" style="color:#00a1ff"><%=number_with_precision(invoice.total_invoice, precision: 2, separator: '.', delimiter: ',')%></h1>
              </label>
            </div>
            
          </div>
          <div class="item form-group">
            <label class="control-label col-md-8 col-sm-8 col-xs-12 text_right"%>
              Total Pago C$
            </label> 
            <div class="col-md-4 col-sm-4 col-xs-12">
              <label class="text_right">
                <h1 id="total_payment" style=""><%=number_with_precision(invoice.total_payment, precision: 2, separator: '.', delimiter: ',')%></h1>
              </label>
            </div>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-8 col-sm-8 col-xs-12 text_right">
              Cambio C$
            </label> 
            <div class="col-md-4 col-sm-4 col-xs-12">
              <label class="text_right">
                <h1 id="total_change" style="color:#ce5454"><%=number_with_precision(invoice.total_change, precision: 2, separator: '.', delimiter: ',')%></h1>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <div class="clearfix"><br><br></div>
          <%= link_to 'Anular', void_document_facturacion_receipt_path(facturacion_receipt), :class=>"btn btn-danger", method: :put %>
          <%= link_to 'Atrás', facturacion_receipts_path, :class=>"btn btn-success" %>
        </div>
      </div>
    </div> 
  </div>
<%end%>