<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Recibos</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_facturacion_receipt_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_facturacion_receipt_path(:credit_invoice=> true), :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title"># REC</th>
                    <th class="column-title">Estudiante</th>
                    <th class="column-title"># FAC</th>
                    <th class="column-title">Monto Factura</th>
                    <th class="column-title">Monto Pago</th>
                    <th class="column-title">Saldo</th>
                    <th class="column-title">Impreso?</th>
                    <th class="column-title">Fecha</th>
                    <th class="column-title no-link last">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% @facturacion_receipts.each_with_index do |facturacion_receipt, index| %>
                    <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                      <td><%= facturacion_receipt.receipt_number %></td>
                      <td><%= facturacion_receipt.academico_student.try(:display_name) %></td>
                      <td class="text-right"><%facturacion_receipt.facturacion_invoices.each_with_index do |receipt, receipt_index| %>
                          <span class="label label-warning"><%= receipt.invoice_number%></span>
                        <% end%>
                      </td>
                      
                      <td class="text-right"><span class="label label-success"><%= number_with_precision(facturacion_receipt.total_invoice, precision: 2, separator: '.', delimiter: ',') %></span></td>

                      <td class="text-right"><span class="label label-primary"><%= number_with_precision(facturacion_receipt.total_detail, precision: 2, separator: '.', delimiter: ',') %></span></td>

                      <td class="text-right"><span class="label label-success"><%= number_with_precision(facturacion_receipt.total_invoice_remain, precision: 2, separator: '.', delimiter: ',') %></span></td>
                      <td><%= facturacion_receipt.printed %></td>

                      <td><%= facturacion_receipt.receipt_date %></td>

                      <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), facturacion_receipt %></td>
                    </tr>
                  <% end %>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>