<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Registro de Recibo</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<% if alert.present?%>
							<div class="alert alert-error">
								<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
								<%= alert %>
							</div>
			            <% end %>
			            <% if @facturacion_receipt.credit_invoice_payment%>
			            	<%= render 'credit_invoice_form', facturacion_receipt: @facturacion_receipt %>
			            <%else%>
							<%= render 'form', facturacion_receipt: @facturacion_receipt %>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>