<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
      	<% if @facturacion_receipt.credit_invoice_payment%>
        	<%= render 'show_credit_invoice_detail', facturacion_receipt: @facturacion_receipt %>
        <%else%>
        	<%= render 'show_detail', facturacion_receipt: @facturacion_receipt %>
        <%end%>
      </div>
    </div>
  </div>
</div>