<% form_helper = nil %> 
<% form_for Facturacion::Receipt.new, url: '' do |f| %>
<%   form_helper = f %>
<% end %>
$(".remove_child").click();
<% if @element > 0%>
	$("#<%=@domId%>").html("<%= escape_javascript new_fields_template(form_helper, :facturacion_receipt_details, {is_two_level: true, nested_builder_method: :build_facturacion_receipt_detail_note, :parent_local => @element}) %>");
<% end %>
isCreditNote();
$(".container.spinner").hide();