<div class="clearfix child">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<%= f.collection_select(:facturacion_book_id, Facturacion::Book.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<%= f.text_field :quantity, type: :number, :class=>"form-control", :required=>"required" %>
	</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
		<%= f.text_field :unit_cost, :class=>"form-control payment_detail_amount", :required=>"required" %>
	</div>
	<% if f.object.persisted? %>
		<div class="col-md-1 col-sm-1 col-xs-12">
	    	<%= f.check_box :_destroy, :class=>"flat" %>
	    	<%= f.label :_destroy, "Eliminar" %>
	    </div>
    <% else%>
    	<%= f.hidden_field :_destroy, :class => 'removable' %>
    	<%= remove_child_button "Eliminar"%>
    <% end %>
</div>