<%= form_for(facturacion_stock, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if facturacion_stock.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(facturacion_stock.errors.count, "error") %> prohibited this facturacion_stock from being saved:</h2>

      <ul>
        <% facturacion_stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :stock_date, :class=>"control-label col-md-9 col-sm-9 col-xs-12 " do %>
      Fecha <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.text_field :stock_date, :class=>"form-control col-md-3 col-xs-12 document_datepicker",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :facturacion_document_type_id, :class=>"control-label col-md-9 col-sm-9 col-xs-12" do %>
      Tipo de documento <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.collection_select(:facturacion_document_type_id, Facturacion::DocumentType.where(:name => "Inventario"), :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
    </div>
  </div>

  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :facturacion_book_id, :class=>"control-label col-md-9 col-sm-9 col-xs-12" do %>
      Libro <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.collection_select(:facturacion_book_id, Facturacion::Book.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
    </div>
  </div>


  <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :facturacion_warehouse_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12 text-left" do %>
      Bodega <span class="required">*</span>
    <%end%>
    <%= f.label :quantity, :class=>"control-label col-md-3 col-sm-3 col-xs-12 text-left" do %>
      Cantidad <span class="required">*</span>
    <%end%>
    <%= f.label :unit_cost, :class=>"control-label col-md-3 col-sm-3 col-xs-12 text-left" do %>
      Costo Unitario <span class="required">*</span>
    <%end%> 
    <%= f.label :scenario, :class=>"control-label col-md-3 col-sm-3 col-xs-12 text-left" do %>
      Escenario <span class="required">*</span>
    <%end%> 
  </div>
  <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <div class="item form-group col-md-3 col-sm-3 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <%= f.collection_select(:facturacion_warehouse_id, Facturacion::Warehouse.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
      </div>
    </div>
    <div class="item form-group col-md-3 col-sm-3 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <%= f.text_field :quantity, :class=>"form-control",:required=>"required" %>
      </div>
    </div>
    <div class="item form-group col-md-3 col-sm-3 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= f.text_field :unit_cost, :class=>"form-control",:required=>"required" %>
      </div>
    </div>
    <div class="item form-group col-md-3 col-sm-3 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= f.select :scenario, Facturacion::Stock.scenario_map, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
      </div>
    </div>
  </div>


  <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :description, :class=>"control-label col-md-12 col-sm-12 col-xs-12 text-left" do %>
      Descripción <span class="required">*</span>
    <%end%> 
  </div>
  
  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">    
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12 resize_vertical", :required=>"required" %>
    </div>
  </div>

  <%if !f.object.new_record?%>
    <div class="item form-group">
      <%= f.label :canceled, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Cancelar <span class="required">*
      <%end%> 
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.check_box :canceled, :class=>"form-control col-md-7 col-xs-12 flat" %>
      </div>
    </div>
  <%end%>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_stocks_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>