<%= form_for(facturacion_transfer_request, :url => create_transfer_facturacion_stocks_path, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if facturacion_transfer_request.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(facturacion_transfer_request.errors.count, "error") %> prohibited this facturacion_transfer_request from being saved:</h2>

      <ul>
        <% facturacion_transfer_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :transfer_date, :class=>"control-label col-md-9 col-sm-9 col-xs-12 " do %>
      Fecha <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12"> 
      <%= f.text_field :transfer_date, :class=>"form-control col-md-3 col-xs-12 document_datepicker",:required=>"required" %>
    </div>
  </div>

  <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :facturacion_warehouse_id, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Bodega <span class="required">*</span>
    <%end%>
    <%= f.label :facturacion_warehouse_origin_id, :class=>"control-label col-md-6 col-sm-6 col-xs-12 text-left" do %>
      Bodega Orígen <span class="required">*</span>
    <%end%> 
  </div>
  <div class="form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <div class="item form-group col-md-6 col-sm-6 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <%= f.collection_select(:facturacion_warehouse_id, Facturacion::Warehouse.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
      </div>
    </div>
    <div class="item form-group col-md-6 col-sm-6 col-xs-12 absolute_form_group" style="padding: 0">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= f.collection_select(:facturacion_warehouse_origin_id, Facturacion::Warehouse.all, :id, :display_name, {:include_blank => true},{:class=>"select2_single form-control", :tabindex=>"-1",:required=>"required"}) %>
      </div>
    </div>
  </div>

  <div class="item form-group">
    
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
      
      <div class="x_title">
        <h2>Detalles de traslado</h2>
        <div class="clearfix"></div>
      </div>
      <%= new_fields_template f, :facturacion_stocks, {is_two_level: false, nested_builder_method: :nil, :partial => "/facturacion/stocks/facturacion_stocks_fields", :template => "facturacion_stocks_fields"} %>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <%= f.label :nil, :class=>"control-label col-md-4 col-sm-4 col-xs-12 text-left" do %>
          Item 
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-4 col-sm-4 col-xs-12 text-left" do %>
          Cantidad 
        <%end%>
        <%= f.label :nil, :class=>"control-label col-md-4 col-sm-4 col-xs-12 text-left" do %>
          Costo Unitario <span class="required">*</span>
        <%end%> 
      </div>
      <div id="facturacion_stock">
        <%= f.fields_for :facturacion_stocks do |ff| %>
          <div class="children">
            <%= render "/facturacion/stocks/facturacion_stocks_fields", :f => ff %>
          </div>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <br><%= add_child_button "Agregar Detalle",:facturacion_stocks,"facturacion_stock" %>

    </div>
  </div>


  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_stocks_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>

<script src="/assets/facturacion/stocks_utility.js"></script>