<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Stocks</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_facturacion_stock_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Fecha</th>
                    <th class="column-title">Tipo de Documento</th>
                    <th class="column-title">Libro</th>
                    <th class="column-title">Bodega</th>
                    <th class="column-title">Cantidad</th>
                    <th class="column-title">Costo Unitario</th>
                    <th class="column-title">Cancelado</th>
                    <th class="column-title">Escenario</th>
                    <th class="column-title no-link last" colspan="3">Action</th>
                    </th>
                    <th class="bulk-actions" colspan="8">
                      <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <% @facturacion_stocks.each_with_index do |facturacion_stock, index| %>
                    <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                      <td><%= facturacion_stock.stock_date %></td>
                      <td><%= facturacion_stock.facturacion_document_type.try(:display_name) %></td>
                      <td><%= facturacion_stock.facturacion_book.try(:display_name) %></td>
                      <td><%= facturacion_stock.facturacion_warehouse.try(:display_name) %></td>
                      <td><%= number_with_delimiter(facturacion_stock.quantity, separator: '.', delimiter: ',') %></td>
                      <td><%= number_with_precision(facturacion_stock.unit_cost, :precision => 2, separator: '.', delimiter: ',') %> NIO</td>
                      <td><%= facturacion_stock.canceled ? "<span class='label label-success'>SI</span>".html_safe : "<span class='label label-danger'>NO</span>".html_safe %></td>

                      <td><%= facturacion_stock.scenario.present? && ("carga".upcase.include? facturacion_stock.scenario.upcase) ? "<span class='label label-success'>#{facturacion_stock.scenario}</span>".html_safe : "<span class='label label-danger'>#{facturacion_stock.scenario}</span>".html_safe %></td>
                     

                      <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), facturacion_stock %></td>
                      <td class=" last">
                        <% if facturacion_stock.facturacion_document_type_id == Facturacion::DocumentType::INVENTARIO %>
                          <%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_facturacion_stock_path(facturacion_stock) %>
                        <%end%>    
                      </td>
                      <td class=" last">
                        <% if facturacion_stock.facturacion_document_type_id == Facturacion::DocumentType::INVENTARIO %>
                          <%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), facturacion_stock, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <%end%>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>