<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Stock #<%=@facturacion_stock.id %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>
                  <h2>Stock date:</h2>
                  <h4><%= @facturacion_stock.stock_date %></h4>

                  <h2>Facturacion document type:</h2>
                  <h4><%= @facturacion_stock.facturacion_document_type.display_name %></hh4>

                  <h2>Document:</h2>
                  <h4><%= @facturacion_stock.document_id %></h4>

                  <h2>Facturacion warehouse:</h2>
                  <h4><%= @facturacion_stock.facturacion_warehouse.display_name %></h4>

                  <h2>Quantity:</h2>
                  <h4><%= @facturacion_stock.quantity %></h4>

                  <h2>Unit cost:</h2>
                  <h4><%= @facturacion_stock.unit_cost %></h4>

                  <h2>Canceled:</h2>
                  <h4><%= @facturacion_stock.canceled %></h4>
                
              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_facturacion_stock_path(@facturacion_stock), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', facturacion_stocks_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>