<%= form_for(academico_program, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_program.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_program.errors.count, "error") %> prohibited this academico_program from being saved:</h2>

      <ul>
        <% academico_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="tab-pane" id="tutor">
    <div class="item form-group">
      <%= f.label :academico_age_range_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
      Rango de Edad
      <%end%> 
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.collection_select :academico_age_range_id, Academico::AgeRange.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
      </div>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :price, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Precio <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :price, :class=>"form-control col-md-7 col-xs-12 numeric-input-validated",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_programs_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>