<%= form_for(academico_evaluation_parameter, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_evaluation_parameter.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_evaluation_parameter.errors.count, "error") %> prohibited this staff member from being saved:</h2>

      <ul>
        <% academico_evaluation_parameter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :academico_evaluation_parameter_type_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Tipo de Parámetro
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :academico_evaluation_parameter_type_id, Academico::EvaluationParameterType.all, :id, 'name', {}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_evaluation_parameters_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
