<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Parámetro de Evaluación</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>
                <h2>Nombre:</h2>
                <h4><%= @academico_evaluation_parameter.name %></h4>
                <h2>Tipo:</h2>
                <h4><%= @academico_evaluation_parameter.academico_evaluation_parameter_type.name if @academico_evaluation_parameter.academico_evaluation_parameter_type.present?%></h4>
              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_academico_evaluation_parameter_path(@academico_evaluation_parameter), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_evaluation_parameters_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>