<div class="clearfix form-group">
  <%= label_tag 'Fecha inicio', nil, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
  <fieldset class="col-md-8 col-sm-8 col-xs-12">
    <div class="control-group">
      <div class="controls">
        <div class="xdisplay_inputx form-group has-feedback">
          <%= text_field_tag 'search[date_gteq]', (params.try(:[], :search).try(:[], :date_gteq) || Date.today.strftime("%d/%m/%Y")), class: "form-control field_datepicker", placeholder: "dd/mm/yyyy"%>
          <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="clearfix form-group">
  <%= label_tag 'Fecha fin', nil, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
  <fieldset class="col-md-8 col-sm-8 col-xs-12">
    <div class="control-group">
      <div class="controls">
        <div class="xdisplay_inputx form-group has-feedback">
          <%= text_field_tag 'search[date_lteq]', (params.try(:[], :search).try(:[], :date_lteq) || Date.today.strftime("%d/%m/%Y")), class: "form-control field_datepicker", placeholder: "dd/mm/yyyy"%>
          <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="clearfix form-group">
  <%= label_tag "Turno", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
  <div class="col-md-8 col-sm-6 col-xs-12">
    <%= collection_select :search, :course_schedulle_id, Academico::CourseSchedulle.all, :id, :printable_schedulle, { include_blank: true, selected: params.try(:[], :search).try(:[], :course_schedulle_id)}, {:class=>"select2_single form-control", :tabindex=>"-1", :style => 'width: 100%;'} %>
  </div>
</div>

<div class="clearfix form-group">
  <%= label_tag "Sucursal", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
  <div class="col-md-8 col-sm-6 col-xs-12">
    <%= collection_select(:search, :branch_office_id, Admin::BranchOffice.all, :id, :description, {include_blank: true, selected: params.try(:[], :search).try(:[], :branch_office_id)},{:class=>"select2_single form-control"}) %>
  </div>
</div>