<%content_for :dialog do%>
  <%= form_tag academico_student_reports_index_path, method: "get" do %>

    <!-- Trigger the modal with a button -->
    <%=filter_button_tag "Filtrar" %>
    <!-- Modal -->
    <div id="ModalFilter" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Resumen de estudiantes</h4>
          </div>
          <div class="modal-body">
            <%= render "search_form" %>
          </div>
          <br><br>
          <div class="modal-footer">
            <!--data-dismiss="modal"-->
            <a type="button" href="<%=academico_student_reports_index_path %>" class="btn btn-default">Quitar Filtros</a>
            <button type="submit" class="btn btn-default">Filtrar</button>
          </div>
        </div>

      </div>
    </div>
  <% end %>
<%end%>

<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Resumen de estudiantes</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <% if @show_results %>
                <li>
                  <%=content_for :dialog%>
                </li>
              <% end %>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <% if !@show_results %>
              <div class="col-xs-6 col-md-4 well">
                <%= form_tag academico_student_reports_index_path, method: "get" do %>
                  <%= render "search_form" %>
                  <button type="submit" class="btn btn-default">Filtrar</button>
                <% end %>
              </div>
            <% else %>
              <div class="panel">
                <%= link_to 'Excel', academico_student_reports_xlsx_file_path(format: 'xlsx', params: params), class: 'btn-success btn-lg fa fa-file-excel-o pull-right' %>
              </div>
              <% if defined?(@branch_office) %>
                <div class="form-group">
                  <label class="control-label">Sucursal: <em><%= @branch_office.description %></em></label>
                </div>
              <% end %>
              <% if defined?(@schedulle) %>
                <div class="form-group">
                  <label class="control-label">Turno: <em><%= @schedulle.printable_schedulle %></em></label>
                </div>
              <% end %>
              <% @students.each do |program, students| %>
                <div class="table-responsive">

                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th colspan="2"><%= program %></th>
                      </tr>
                      <tr class="headings">
                        <th class="column-title">Nivel</th>
                        <th class="column-title">Cantidad</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% students.each_with_index do |report_row, index| %>
                        <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                          <td><%= report_row[:level] %></td>
                          <td><%= report_row[:amount] %></td>
                        </tr>
                      <% end %>
                    </tbody>

                  </table>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
