<%= form_for(admin_parameter, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if admin_parameter.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(admin_parameter.errors.count, "error") %> prohibited this admin_parameter from being saved:</h2>

      <ul>
        <% admin_parameter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :invoice_prefix, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Prefijo Factura
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :invoice_prefix, :class=>"form-control col-md-7 col-xs-12", required: "required" %>
    </div>
  </div>
  <div class="item form-group">
    <%= f.label :invoice_number, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Número Factura
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :invoice_number, :class=>"form-control col-md-7 col-xs-12", required: "required", type: :number, :"data-validate-minmax"=>"5,8", min: "5", max:"8" %>
    </div>
  </div>
  <div class="item form-group">
    <%= f.label :receipt_prefix, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Prefijo Recibo
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :receipt_prefix, :class=>"form-control col-md-7 col-xs-12", required: "required" %>
    </div>
  </div>
  <div class="item form-group">
    <%= f.label :receipt_number, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Número Recibo
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :receipt_number, :class=>"form-control col-md-7 col-xs-12", required: "required", type: :number, :"data-validate-minmax"=>"5,8", min: "5", max:"8" %>
    </div>
  </div>
  <div class="item form-group">
    <%= f.label :credit_note_prefix, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Prefijo Nota Crédito
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :credit_note_prefix, :class=>"form-control col-md-7 col-xs-12", required: "required" %>
    </div>
  </div>
  <div class="item form-group">
    <%= f.label :credit_note_number, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Número Nota Crédito
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :credit_note_number, :class=>"form-control col-md-7 col-xs-12", required: "required", type: :number, :"data-validate-minmax"=>"5,8", min: "5", max:"8" %>
    </div>
  </div>
  <div class="item form-group">
    <%= f.label :debit_note_prefix, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Prefijo Nota Débito
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :debit_note_prefix, :class=>"form-control col-md-7 col-xs-12", required: "required" %>
    </div>
  </div>
  <div class="item form-group">
    <%= f.label :debit_note_number, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Número Nota Débito
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :debit_note_number, :class=>"form-control col-md-7 col-xs-12", required: "required", type: :number, :"data-validate-minmax"=>"5,8", min: "5", max:"8" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :student_prefix, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Prefijo Código Estudiante
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :student_prefix, :class=>"form-control col-md-7 col-xs-12", required: "required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :student_code_length, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Longitud Código Estudiante
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :student_code_length, :class=>"form-control col-md-7 col-xs-12", required: "required", type: :number, :"data-validate-minmax"=>"5,8", min: "5", max:"8" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :drivers_discount, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descuento Transportistas
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :drivers_discount, :class=>"form-control col-md-7 col-xs-12", required: "required", type: :number, :"data-validate-minmax"=>"0,", min: "0", step: ".01" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", admin_parameters_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>