<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Parámetros</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_admin_parameter_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <% if alert.present?%>
              <div class="alert alert-error">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= alert %>
              </div>
            <% end %>
            <div class="table-responsive">
             
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">#Factura</th>
                    <th class="column-title">#Recibo</th>
                    <th class="column-title">#Nota Crédito</th>
                    <th class="column-title">#Nota Débito</th>
                    <th class="column-title no-link last" colspan="3">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% @admin_parameters.each_with_index do |admin_parameter, index| %>
                    <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                      <td><%= admin_parameter.invoice_prefix %>-<%= admin_parameter.invoice_number %></td>
                      <td><%= admin_parameter.receipt_prefix %>-<%= admin_parameter.receipt_number %></td>
                      <td><%= admin_parameter.credit_note_prefix %>-<%= admin_parameter.credit_note_number %></td>
                      <td><%= admin_parameter.debit_note_prefix %>-<%= admin_parameter.debit_note_number %></td>

                      
                      <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), admin_parameter %></td>
                      <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_admin_parameter_path(admin_parameter) %></td>
                      <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), admin_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>

              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>