<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice prefix:</strong>
  <%= @admin_parameter.invoice_prefix %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @admin_parameter.invoice_number %>
</p>

<p>
  <strong>Receipt prefix:</strong>
  <%= @admin_parameter.receipt_prefix %>
</p>

<p>
  <strong>Receipt number:</strong>
  <%= @admin_parameter.receipt_number %>
</p>

<%= link_to 'Edit', edit_admin_parameter_path(@admin_parameter) %> |
<%= link_to 'Back', admin_parameters_path %>
