<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">
  <li class='fa fa-plus'></li>
</button>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Cierre Diario</h3>
      </div>
      <div class="modal-body">
        <p class='h2 text-center'>Advertencia.</p>
        <br>
        <p>
          Esta creando un <em>cierre diario</em> del día de hoy, esto bloqueara la creación y eliminación de facturas,
          recibos y notas hasta el día de mañana.
        </p>
        <br>
        <p class='text-center'>Si esta seguro de reliazar esta acción presione <em>Aceptar</em>. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <%= link_to('Aceptar', facturacion_daily_processes_path, method: :post, class: 'btn btn-secondary')%>
      </div>
    </div>
  </div>
</div>
