<div class="item form-group nested-fields">
	<label class="col-md-3 col-sm-3 col-xs-12"></label>
	<%= f.label :academico_program_id, :class=>"col-md-3 col-sm-3 col-xs-12" do %>
	Programa
	<%end%> 
	<%= f.label :facturacion_book_id, :class=>"col-md-3 col-sm-3 col-xs-12" do %>
	Libro
	<%end%> 
	<div class="clearfix"></div>
	<label class="-label col-md-3 col-sm-3 col-xs-12"></label>
	<div class="col-md-3 col-sm-3 col-xs-12">
	  <%= f.collection_select :academico_program_id, Academico::Program.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
	  <%= f.collection_select :facturacion_book_id, Facturacion::Book.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
	</div>
	<%= link_to_remove_association "Eliminar", f, :class=>"btn btn-danger" %>
</div>