<%= form_for(setup_level(academico_level), html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_level.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_level.errors.count, "error") %> prohibited this academico_level from being saved:</h2>

      <ul>
        <% academico_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :level_sequence, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Secuencia<span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :level_sequence, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Detalle de Libro y Programa</label>
    <div class="clearfix"></div>
  </div>
  <div class="item form-group">
    <%= f.fields_for :academico_level_program_books do |ff| %>
      <%= render 'academico_level_program_book_fields', f: ff %>
    <% end %>
    <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
    <%= link_to_add_association "Agregar", f, :academico_level_program_books, :class=>"btn btn-info" %>
  </div>
  <br/><br/>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_levels_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>
