<%= form_for(facturacion_warehouse, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if facturacion_warehouse.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(facturacion_warehouse.errors.count, "error") %> prohibited this facturacion_warehouse from being saved:</h2>

      <ul>
        <% facturacion_warehouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :address, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Dirección <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :address, :class=>"form-control col-md-7 col-xs-12",:required=>"required"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :facturacion_cost_center_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Centro de Costo <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :facturacion_cost_center_id, Facturacion::CostCenter.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control",:required=>"required", :tabindex=>"-1"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :admin_branch_office_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Sucursal <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :admin_branch_office_id, Admin::BranchOffice.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control",:required=>"required", :tabindex=>"-1"} %>
    </div>
  </div>

  <div class="field">
    <%= f.label :principal, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Bodega Principal <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.check_box :principal, :class=>"flat" %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12",:required=>"required"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_warehouses_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>