<%= form_for(admin_role, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if admin_role.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(admin_role.errors.count, "error") %> prohibited this admin_role from being saved:</h2>

      <ul>
        <% admin_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", admin_roles_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>
