<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Editar Rol (<%=@admin_role.name%>)</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<%= render 'form', admin_role: @admin_role %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
