<%= form_for(academico_course_schedulle, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_course_schedulle.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_course_schedulle.errors.count, "error") %> prohibited this staff member from being saved:</h2>

      <ul>
        <% academico_course_schedulle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="item form-group">
    <%= f.label :begins, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Hora de Inicio
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.time_select :begins, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :ends, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Hora de fin
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.time_select :ends, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :disabled, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Deshabilitado
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.check_box :disabled, {:class=>"js-switch"}, 1, 0 %>
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_course_schedulles_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
