<p id="notice"><%= notice %></p>

<p>
  <strong>Begins:</strong>
  <%= @academico_course_schedulle.begins %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @academico_course_schedulle.ends %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @academico_course_schedulle.disabled %>
</p>

<%= link_to 'Edit', edit_academico_course_schedulle_path(@academico_course_schedulle) %> |
<%= link_to 'Back', academico_course_schedulles_path %>




<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Horario</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>
                <h2>Hora Inicio:</h2>
                <h4><%= @academico_course_schedulle.begins.strftime('%H:%M %p') %></h4>
                <h2>Hora fin:</h2>
                <h4><%= @academico_course_schedulle.ends.strftime('%H:%M %p') %></h4>
                <h2>Estado:</h2>
                <h4><%= @academico_course_schedulle.status %></h4>
              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_academico_course_schedulle_path(@academico_course_schedulle), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_course_schedulles_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>