<%= form_for(facturacion_book, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if facturacion_book.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(facturacion_book.errors.count, "error") %> prohibited this facturacion_book from being saved:</h2>

      <ul>
        <% facturacion_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :min_stock, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Existencias Mínimas <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :min_stock, :class=>"form-control col-md-7 col-xs-12 numeric-input-validated",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :price, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Precio <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :price, :class=>"form-control col-md-7 col-xs-12 numeric-input-validated",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :academico_level_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nivel
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.select :academico_level_id, Academico::Level.all.map {|b| [b.display_name, b.id] }, { include_blank: true }, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :academico_program_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Programa
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.select :academico_program_id, Academico::Program.all.map {|b| [b.display_name, b.id] }, { include_blank: true }, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_books_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>
