<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%=@facturacion_book.name %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Nombre:</h2>
                <h4><%= @facturacion_book.name %></h4>

                <h2>Existencias:</h2>
                <h4><%= @facturacion_book.quantity %></h4>

                <h2>Existencias Mínimas:</h2>
                <h4><%= @facturacion_book.min_stock %></h4>
                
                <h2>Precio:</h2>
                <h4><%= @facturacion_book.price %></h4>
                
                <h2>Descripción:</h2>
                <h4><%= @facturacion_book.description %></h4>

                <h2>Nivel:</h2>
                <h4><%= @facturacion_book.academico_level.try(:display_name) %></h4>

                <h2>Programa:</h2>
                <h4><%= @facturacion_book.academico_program.try(:display_name) %></h4>

              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_facturacion_book_path(@facturacion_book), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', facturacion_books_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>