<%= form_for(academico_time_frame, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_time_frame.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_time_frame.errors.count, "error") %> prohibited this academico_time_frame from being saved:</h2>

      <ul>
      <% academico_time_frame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :year, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Año <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= select_tag 'academico_time_frame[year]', options_for_select((Date.today.year - 30...Date.today.year + 10), selected: f.object.year || Date.today.year), include_blank: false, :class=>"select2_single form-control",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :number, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Número <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :number, :class=>"form-control",:required=>"required", :type => "number", :min => "0" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control",:required=>"required", data: f.object.persisted? && f.object.name.present? ? { field_edited: false } : {} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :admin_branch_office_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Sucursal <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :admin_branch_office_id, Admin::BranchOffice.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :start_date, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Fecha de Inicio <span class="required">*
    <%end%>
    <fieldset class="col-md-6 col-sm-6 col-xs-12">
      <div class="control-group">
        <div class="controls">
          <div class="xdisplay_inputx form-group has-feedback">
            <%= f.text_field :start_date, :value => f.object.formatted_date(:start_date, Date.today.beginning_of_month), :class=>"form-control field_datepicker", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
            <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="item form-group">
    <%= f.label :end_date, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Fecha de Fin <span class="required">*
    <% end %>
    <fieldset class="col-md-6 col-sm-6 col-xs-12">
      <div class="control-group">
        <div class="controls">
          <div class="xdisplay_inputx form-group has-feedback">
            <%= f.text_field :end_date, :value => f.object.formatted_date(:end_date, Date.today.end_of_month), :class=>"form-control field_datepicker", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
            <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="item form-group">
    <%= f.label :academico_course_modality_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Modalidad <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :academico_course_modality_id, Academico::CourseModality.all, :id, :description, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :academico_course_schedulle_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Turno <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :academico_course_schedulle_id, f.object.new_record? ? Academico::CourseSchedulle::enableds : Academico::CourseSchedulle.all, :id, :printable_schedulle, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :academico_time_frame_status_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Estatus <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :academico_time_frame_status_id, Academico::TimeFrameStatus::all, :id, :description, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_time_frames_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
<script src="/assets/academico/time_frame.js"></script>