<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Cursos</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_academico_time_frame_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <div class="digg_pagination">
                <div class="pagination_pages">
                  <%= will_paginate @academico_time_frames, :container => false %>
                </div>
              </div>
              <%= form_tag destroy_multiple_academico_time_frames_path, method: :delete, data: { confirm: "Are you sure?"}, :class=>"multi_delete_form" do %>
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">Año</th>
                      <th class="column-title">Numero</th>
                      <th class="column-title">Nombre</th>
                      <th class="column-title">Sucursal</th>
                      <th class="column-title">Fecha Inicio</th>
                      <th class="column-title">Fecha Fin</th>
                      <th class="column-title">Modalidad</th>
                      <th class="column-title">Turno</th>
                      <th class="column-title no-link last" colspan="3">Action</th>
                      </th>
                      <th class="bulk-actions" colspan="7">
                        <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @academico_time_frames.each_with_index do |academico_time_frame, index| %>
                      <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                        <td class="center">
                                    <input type="checkbox" name="academico_time_frame_ids[]" id="academico_time_frame_id_<%=academico_time_frame.id%>" value="<%=academico_time_frame.id%>" class="flat deletable">
                              </td>

                        <td><%= academico_time_frame.year %></td>
                        <td><%= academico_time_frame.number %></td>
                        <td><%= academico_time_frame.name %></td>
                        <td><%= academico_time_frame.admin_branch_office.try(:display_name) %></td>
                        <td><%= academico_time_frame.start_date.strftime('%d-%m-%Y') %></td>
                        <td><%= academico_time_frame.end_date.strftime('%d-%m-%Y') %></td>
                        <td><%= academico_time_frame.academico_course_modality.try(:description) %></td>
                        <td><%= academico_time_frame.academico_course_schedulle.try(:printable_schedulle) %></td>

                        <td class=" last">
                          <% if check_permission('show', academico_time_frame) %>
                            <%= link_to content_tag(:i,nil,:class=>"fa fa-search"), academico_time_frame %>
                          <% end %>
                          </td>
                        <td class=" last">
                          <% if check_permission('edit', academico_time_frame) %>
                            <%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_academico_time_frame_path(academico_time_frame) %>
                          <% end %>
                        </td>
                        <td class=" last">
                          <% if check_permission('destroy', academico_time_frame) %>
                            <%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), academico_time_frame, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
