<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Curso: <%=@academico_time_frame.name %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Año:</h2>
                <h4><%= @academico_time_frame.year %></h4>

                <h2>Número:</h2>
                <h4><%= @academico_time_frame.number %></h4>

                <h2>Nombre:</h2>
                <h4><%= @academico_time_frame.name %></h4>

                <h2>Sucursal:</h2>
                <h4><%= @academico_time_frame.admin_branch_office.try(:display_name) %></h4>

                <h2>Fecha de inicio:</h2>
                <h4><%= @academico_time_frame.formatted_date(:start_date) %></h4>

                <h2>Fecha de fin:</h2>
                <h4><%= @academico_time_frame.formatted_date(:end_date) %></h4>

                <h2>Modalidad:</h2>
                <h4><%= @academico_time_frame.academico_course_modality.try(:description) %></h4>

                <h2>Turno:</h2>
                <h4><%= @academico_time_frame.academico_course_schedulle.try(:printable_schedulle) %></h4>

                <h2>Estatus:</h2>
                <h4><%= @academico_time_frame.academico_time_frame_status.try(:description) %></h4>
              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_academico_time_frame_path(@academico_time_frame), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_time_frames_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>