<%= form_for(facturacion_discount, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
	<% if facturacion_discount.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(facturacion_discount.errors.count, "error") %> prohibited this facturacion_discount from being saved:</h2>

			<ul>
				<% facturacion_discount.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="item form-group">
		<%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
			Nombre <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
			Descripción <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12", :required=>"required"%>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :discount_amount, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
			Monto de Descuento <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_field :discount_amount, :class=>"form-control col-md-7 col-xs-12", :required=>"required", :type=>"number", :"data-validate-minmax"=>"0,100", min: "0", max:"100" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-6 col-md-offset-3">
			<%=link_to("Cancelar", facturacion_discounts_path, :class=>"btn btn-primary")%>
			<button id="send" type="submit" class="btn btn-success">Guardar</button>
		</div>
	</div>

<% end %>