<%= form_for(academico_course_evaluation, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <%= hidden_field_tag 'change_course_allowed'  , value=@academico_course_evaluation.persisted? ?  'no' : 'yes', { id: 'change_course_allowed' } 
  %>
  <% if academico_course_evaluation.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_course_evaluation.errors.count, "error") %> prohibited course register from being saved:</h2>

      <ul>
        <% academico_course_evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :academico_courses_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Curso <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <% if f.object.new_record? %>
      <%= f.collection_select :academico_courses_id, @courses, :id, :description_of_the_course, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
      <% else %>
        <%= f.object.academico_course.description_of_the_course %>
      <% end %>
    </div>
  </div>

  <br>
  <% if f.object.persisted? %>
  <div class="clearfix child">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-2 col-sm-3 col-xs-3">
          <ul class="nav nav-tabs tabs-left">
            <% academico_course_evaluation.academico_session_evaluations.each_with_index do |session, index| %>
              <li class="<%= index == 0 ? 'active' : '' %>"><a href="#session-<%= index %>" data-toggle="tab" class="circle-theme-green"><span class="numberCircle <%= session.persisted? ? 'saved' : ''%>"><%= index+1 %></span></a></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-9">
          <!-- Tab panes -->
          <div class="tab-content">
            <%= f.fields_for :academico_session_evaluations do |f2| %>
              <%= f2.hidden_field :id %>
              <%= f2.hidden_field :academico_course_evaluations_id %>
              <%= f2.hidden_field :academico_sessions_id %>
              <div class="tab-pane <%= f2.index == 0 ? 'active' : '' %>" id="session-<%= f2.index %>">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="x_title lead text-capitalize">
                      <div class="checkbox">
                        <label data-toggle="collapse" data-target="#<%= f2.object.academico_session.topic.parameterize %>">
                          <%= f2.check_box :_destroy, {checked: f2.object.persisted?, class: 'js-switch'}, '0', '1' %> Guardar <u><%= f2.object.academico_session.topic %></u>
                        </label>
                      </div>
                    </div>
                    <div class="collapse <%= 'in' if f2.object.persisted? %>" id="<%= f2.object.academico_session.topic.parameterize %>">
                    <div class="table-responsive">
                      <table class="table table-striped table-condensed jambo_table table-sm">
                        <tr>
                          <th>Asistencia</th>
                          <th>Estudiantes</th>
                          <% f2.object.academico_session.all_session_assignments.each do |assignment| %>
                            <th><%= assignment.description %></th>
                          <% end %>
                        </tr>
                        <%= f2.fields_for :academico_student_evaluations do |f3| %>
                          <tr>
                            <td>
                              <%= f3.hidden_field :id %>
                              <%= f3.hidden_field :academico_session_evaluations_id %>
                              <%= f3.hidden_field :academico_students_id %>
                              <%= f3.check_box :_destroy, {:checked => !f2.object.persisted? || f3.object.persisted?, :class => 'flat'}, '0', '1' %></td>
                            <td><%= f3.object.academico_student.full_name %></td>
                            <% f3.object.all_scores.each do |student_score| %>
                              <%= f3.fields_for :academico_student_scores, student_score do |f4| %>
                                <td>
                                  <%= f4.hidden_field :id %>
                                  <%= f4.hidden_field :academico_student_evaluations_id %>
                                  <%= f4.hidden_field :academico_session_assignments_id %>
                                  <%= f4.number_field :score, :class=>"form-control col-md-4 col-sm-5 col-xs-6 input-sm", :type=>"number", min: 0, max: f4.object.max_possible_score, placeholder: f4.object.max_possible_score %></td>
                              <% end %>
                            <% end %>
                          </tr>
                        <% end %>
                      </table>
                    </div>

                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_course_evaluations_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>