<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Curso: <%=@academico_course_evaluation.academico_course.description_of_the_course %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Profesor:</h2>
                <h4><%= @academico_course_evaluation.academico_staff.display_name %></h4>

                <br/>
                <% @academico_course_evaluation.academico_session_evaluations.each do |evaluation| %>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-12">
                          <label><%= evaluation.academico_session.topic %> : <%= evaluation.academico_session.formatted_date(:schedulle) %></label>
                          <table class="table table-striped jambo_table">
                            <tr class="headings">
                              <th class="column-title">Estudiante</th>
                              <th class="column-title">Notas</th>
                            </thead>
                            <tbody>
                            <% evaluation.academico_student_evaluations.each do |student_evaluation| %>
                              <tr>
                                <td><%= student_evaluation.academico_student.full_name%></td>
                                <td>
                                  <ul class="list-group">
                                  <% student_evaluation.academico_student_scores.each do |score| %>
                                    <li class="list-group-item">
                                      <%= score.academico_session_assignment.description %> : <%= score.score %>
                                    </li>
                                  <% end %>
                                  </ul>
                                </td>
                              </tr>
                            <% end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_academico_course_evaluation_path(@academico_course_evaluation), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_course_evaluations_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
