<%= form_for(academico_age_range, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_age_range.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_age_range.errors.count, "error") %> prohibited this academico_age_range from being saved:</h2>

      <ul>
        <% academico_age_range.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>
  
  <div class="item form-group">
    <%= f.label :min_age, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Edad Mínima <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :min_age, :class=>"form-control col-md-7 col-xs-12",:required=>"required", :type=>"number", :"data-validate-minmax"=>"0,100", min: "0", max:"100" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :max_age, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Edad Máxima <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :max_age, :class=>"form-control col-md-7 col-xs-12",:required=>"required", :type=>"number", :"data-validate-minmax"=>"0,100", min: "0", max:"100" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Descripción
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_age_ranges_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>