<div class="right_col" role="main">
	<div class="">
		<div class="row top_tiles">
			<% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>

		</div>

		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>


		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">

			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">

			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">

			</div>

			<div class="col-md-4">

			</div>

			<div class="col-md-4">

			</div>
		</div>
	</div>
</div>