<%= form_for(facturacion_carrier, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
	<% if facturacion_carrier.errors.any? %>
		<div id="error_explanation" class="alert-danger">
			<h2><%= pluralize(facturacion_carrier.errors.count, "error") %> prohibited this facturacion_carrier from being saved:</h2>

			<ul>
				<% facturacion_carrier.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="item form-group">
		<%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Nombre <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :contact_name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Contacto <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_field :contact_name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :phone, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Teléfono <span class="required">*
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_field :phone, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :address, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Dirección
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_area :address, :class=>"form-control col-md-7 col-xs-12" %>
		</div>
	</div>

	<div class="item form-group">
		<%= f.label :description, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
		Descripción
		<%end%> 
		<div class="col-md-6 col-sm-6 col-xs-12">
			<%= f.text_area :description, :class=>"form-control col-md-7 col-xs-12"%>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-6 col-md-offset-3">
			<%=link_to("Cancelar", facturacion_carriers_path, :class=>"btn btn-primary")%>
			<button id="send" type="submit" class="btn btn-success">Guardar</button>
		</div>
	</div>
<% end %>