<%= form_for(academico_teacher_attendance, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_teacher_attendance.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_teacher_attendance.errors.count, "error") %> prohibited this schedulle from being saved:</h2>

      <ul>
        <% academico_teacher_attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :academico_courses_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Curso <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <% if f.object.new_record? %>
        <%= f.collection_select :academico_courses_id, Academico::Course.all, :id, :description_of_the_course, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required", style: "width: 100%;"} %>
      <% else %>
        <%= f.object.academico_course.description_of_the_course %>
      <% end %>
    </div>
  </div>
  <div class="item form-group">
    <%= f.label :academico_staffs_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Profesor <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <% if f.object.new_record? %>
        <%= f.collection_select :academico_staffs_id, Academico::Staff.all, :id, :display_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required", style: "width: 100%;"} %>
      <% else %>
        <%= f.object.academico_staff.display_name %>
      <% end %>
    </div>
  </div>

  <div class="item form-group">
    <div class="col-md-9 col-sm-10 col-xs-12">
      <br>
      <% if f.object.academico_teacher_attendance_details.empty? %>
        <span class="text-warning bg-warning">No hay sesiones asociadas en el temario o no existe un temario para el curso
        <% if f.object.persisted? && defined?(@temary) %>Verifique la información del <%= link_to 'temario', academico_temary_path(@temary) %>
        <% elsif @academico_teacher_attendance.try(:academico_course).present? %>
          Verifique si el docente tiene temario en el <%= link_to 'curso', edit_academico_course_path(@academico_teacher_attendance.try(:academico_course)) %>
        <% end %>
        </span>
      <% else %>
      <div id="academico_teacher_attendance_details">
        <%= f.fields_for :academico_teacher_attendance_details do |f2| %>
          <div class="clearfix child">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="control-group">

                    <%= f2.hidden_field :id %>
                    <%= f2.hidden_field :academico_teacher_attendances_id %>
                    <%= f2.hidden_field :academico_sessions_id %>
                    <div class="col-md-2 col-sm-2 col-xs-2 text-right">
                      <%= f2.check_box :marked, :class => 'js-switch' %>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10">
                      <span class="form-group form-control">
                        <%= f2.object.academico_session.topic %>
                      </span>
                    </div>
                    <fieldset class="col-md-4 col-sm-4 col-xs-12">
                      <div class="control-group">
                        <div class="controls">
                          <div class="xdisplay_inputx form-group has-feedback">
                            <%= f2.text_field :schedulle, :value => f2.object.formatted_date(:schedulle), :class=>"form-control field_datepicker", :required=>"required", :placeholder=>"dd/mm/yyyy"%>
                            <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
                          </div>
                        </div>
                      </div >
                    </fieldset>

                  </div>
                </div>
              </div>
            </div>

        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_teacher_attendances_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>