<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Asistencia docente</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Curso:</h2>
                <h4><%= @academico_teacher_attendance.academico_course.description_of_the_course %></h4>
              </blockquote>

              <blockquote>

                <h2>Profesor:</h2>
                <h4><%= @academico_teacher_attendance.academico_staff.display_name %></h4>
              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_academico_teacher_attendance_path(@academico_teacher_attendance), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_teacher_attendances_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
