<%= form_for(academico_course, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if academico_course.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(academico_course.errors.count, "error") %> prohibited this academico_course from being saved:</h2>

      <ul>
      <% academico_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="x_panel">
		<div class="x_content">
      <div class="" role="tabpanel" data-example-id="togglable-tabs">
				<ul class="nav nav-tabs bar_tabs" role="tablist">
					<li class="active"><a href="#curso" role="tab" data-toggle="tab" aria-expanded="true">Curso</a>
					</li>
					<li><a href="#docente1" role="tab" data-toggle="tab" aria-expanded="false">Docente 1</a>
          </li>
          <li><a href="#docente2" role="tab" data-toggle="tab" aria-expanded="false">Docente 2</a>
          </li>
          <li><a href="#matricula" role="tab" data-toggle="tab" aria-expanded="false">Candidatos para Matricula</a>
					</li>
        </ul>
      </div>

      <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
        <br/>
        <%= f.label "", :class=>"control-label col-md-3 col-sm-3 col-xs-9 " do %>
          <%= hidden_field_tag :hidden_room_size, f.object.seats %>
          Cupos: <em id="seats" style="color:red;"><%= f.object.seats %></em>
        <%end%>
        <%= f.label "", :class=>"control-label col-md-3 col-sm-3 col-xs-9 " do %>
          Cupos ocupados: <em id="seats_used" style="color:red;"><%= f.object.taken_seats %></em>
        <%end%>
        <%= f.label "", :class=>"control-label col-md-3 col-sm-3 col-xs-9 " do %>
          Cupos disponibles: <em id="seats_available" style="color:red;"><%= f.object.idle_seats %></em>
        <%end%>
        <br/>
        <br/>
        <br/>
      </div>

      <div class="col-xs-12">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="curso">
            <div class="item form-group">
              <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Nombre <span class="required">*
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.text_field :name, :class=>"form-control",:required=>"required" %>
              </div>
            </div>

            <div class="item form-group">
              <%= f.label :academico_time_frame_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Curso <span class="required">*
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :academico_time_frame_id, (f.object.new_record? ? Academico::TimeFrame.active_times_frames : Academico::TimeFrame.all), :id, :display_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required", :style => 'width: 100%;'} %>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Sucursal
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= text_field_tag 'read_only_branch_office', f.object.course_office, :disabled => true, :class=>"form-control" %>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Modalidad
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= text_field_tag 'read_only_modality', f.object.course_modality, :disabled => true, :class=>"form-control" %>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Turno
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= text_field_tag 'read_only_schedulle', f.object.course_schedulle, :disabled => true, :class=>"form-control" %>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Fecha Inicio
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= text_field_tag 'read_only_start_date', f.object.course_start_date, :disabled => true, :class=>"form-control" %>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Fecha Fin
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= text_field_tag 'read_only_end_date', f.object.course_end_date, :disabled => true, :class=>"form-control" %>
              </div>
            </div>

            <div class="item form-group">
              <%= f.label :academico_level_programs_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Grupo <span class="required">*
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :academico_level_programs_id, Academico::LevelProgram.all, :id, :group_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required", :style => 'width: 100%;'} %>
              </div>
            </div>

            <div class="item form-group">
              <%= f.label :academico_room_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Salón
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :academico_room_id, Academico::Room.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
              </div>
            </div>

            <div class="item form-group">
              <%= f.label :facturacion_book_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Libro
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :facturacion_book_id, Facturacion::Book.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
              </div>
            </div>

            <% if !f.object.new_record? %>
              <div class="item form-group">
                <%= f.label :academico_course_status_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
                Estatus
                <%end%>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <% Academico::CourseStatus.all.each do |status| %>
                    <label class="radio-inline"><%= radio_button_tag "academico_course[academico_course_status_id]", status.id, status.id == academico_course.academico_course_status_id %><%= status.description %></label>
                  <% end %>
                </div>
              </div>
            <% end %>


            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Resultados
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <% if f.object.academico_course_result.present? %>
                  <% if check_permission('show', f.object.academico_course_result) %>
                    <%= link_to 'Ver', academico_course_result_path(f.object.academico_course_result), class: 'btn btn-primary' %>
                  <% else %>
                    <span class="fa fa-lock"></span>
                  <% end %>

                  <% if check_permission('edit', f.object.academico_course_result) %>
                    <%= link_to 'Editar', edit_academico_course_result_path(f.object.academico_course_result), class: 'btn btn-primary' %>
                  <% else %>
                    <span class="fa fa-lock"></span>
                  <% end %>
                <% else %>
                  <% if f.object.is_finished? && check_permission('new', 'Academico::CourseResult') %>
                    <%= link_to 'Nuevo', new_academico_course_result_path(course_id: f.object.id), class: 'btn btn-primary'  %>
                  <% end %>
                <% end %>
              </div>
            </div>


            <% if f.object.created_by.present? %>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                Creado por
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.object.created_by_staff.display_name %>
                </div>
              </div>
            <% end %>

            <% if f.object.updated_by.present? %>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                Actualizado por
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.object.updated_by_staff.display_name %>
                </div>
              </div>
            <% end %>

          </div>

          <div class="tab-pane" id="docente1">
            <div class="item form-group">
              <%= f.label :academico_academic_users_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Docente
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :academico_staff_id, @potential_teachers, :id, :display_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
              </div>
            </div>

            <% first_teacher_temary = f.object.temary_record(f.object.academico_staff_id) %>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Temario
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <% if first_teacher_temary.present? %>
                  <% if check_permission('edit', first_teacher_temary) %>
                    <%= link_to 'Editar', edit_academico_temary_path(first_teacher_temary), class: 'btn btn-primary' %>
                  <% else %>
                    <span class="fa fa-lock"></span>
                  <% end %>
                <% else %>
                  <% if current_user.id == f.object.try(:academico_staff).try(:academico_academic_users_id) %>
                    <%= link_to 'Nuevo', new_academico_temary_path( course_id: f.object.id), class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <% first_teacher_evaluation = f.object.course_evaluation_record(f.object.academico_staff_id) %>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Evaluaciones
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <% if first_teacher_evaluation.present? %>
                  <% if check_permission('edit', first_teacher_evaluation) %>
                    <%= link_to 'Editar', edit_academico_course_evaluation_path(first_teacher_evaluation), class: 'btn btn-primary' %>
                  <% else %>
                    <span class="fa fa-lock"></span>
                  <% end %>
                <% end %>
              </div>
            </div>


            <% first_teacher_attendance = f.object.teacher_attendance_record(f.object.academico_staff_id) %>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Asistencia
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <% if first_teacher_attendance.present? %>
                  <% if check_permission('edit', first_teacher_attendance) %>
                  <%= link_to 'Editar', edit_academico_teacher_attendance_path(first_teacher_attendance), class: 'btn btn-primary' %>
                  <% else %>
                    <span class="fa fa-lock"></span>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>



          <div class="tab-pane" id="docente2">
            <div class="item form-group">
              <%= f.label :second_academico_staff_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
              Segundo Docente
              <%end%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :second_academico_staff_id, @potential_teachers, :id, :display_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
              </div>
            </div>

            <% second_teacher_temary = f.object.temary_record(f.object.second_academico_staff_id) %>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Temario
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <% if second_teacher_temary.present? %>
                  <% if check_permission('edit', second_teacher_temary) %>
                  <%= link_to 'Editar', edit_academico_temary_path(second_teacher_temary), class: 'btn btn-primary' %>
                  <% else %>
                    <span class="fa fa-lock"></span>
                  <% end %>
                <% else %>
                  <% if current_user.id == f.object.try(:second_academico_staff).try(:academico_academic_users_id) %>
                  <%= link_to 'Nuevo',new_academico_temary_path( course_id: f.object.id), class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <% second_teacher_evaluation = f.object.course_evaluation_record(f.object.second_academico_staff_id) %>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Evaluaciones
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <% if second_teacher_evaluation.present? %>
                  <% if check_permission('edit', second_teacher_evaluation) %>
                    <%= link_to 'Editar', edit_academico_course_evaluation_path(second_teacher_evaluation), class: 'btn btn-primary' %>
                  <% else %>
                    <span class="fa fa-lock"></span>
                  <% end %>
                <% end %>
              </div>
            </div>

            <% second_teacher_attendance = f.object.teacher_attendance_record(f.object.second_academico_staff_id) %>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Asistencia
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <% if second_teacher_attendance.present? %>
                  <% if check_permission('edit', second_teacher_attendance) %>
                    <%= link_to 'Editar', edit_academico_teacher_attendance_path(second_teacher_attendance), class: 'btn btn-primary' %>
                  <% else %>
                    <span class="fa fa-lock"></span>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>

          <div class="tab-pane" id="matricula">
            <% if f.object.persisted? %>
              <div id="registration">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <table id="eli-datatable" class="table table-striped table-bordered table-hover">
                  <thead><tr><th>#</th><th>Incluir</th><th>Nombre</th><th>Edad</th><th>Estado</th></tr></thead>
                  <tbody>
                    <%= f.fields_for :academico_registrations, f.object.academico_registrations.to_a.sort_by! {|registration| [registration['academico_registration_statuses_id']]} do |ff| %>
                      <tr>
                        <%= ff.hidden_field :id %>
                        <%= ff.hidden_field :academico_courses_id %>
                        <td><%= ff.index + 1 %></td>
                        <td><%= ff.check_box :_destroy, {:checked => ff.object.persisted?, :class => 'flat registration_picker'}, '0', '1' %></td>
                        <td>
                          <%= ff.hidden_field :academico_students_id %>
                          <%= ff.hidden_field :academico_registration_statuses_id, value: 2 %>
                          <%= ff.object.academico_student.display_name  %>
                        </td>
                        <td>
                          <%= ff.object.academico_student.try(:age)  %>
                        </td>
                        <td data-order="<%= ff.object.academico_registration_statuses_id %>"><%= ff.object.academico_registration_status.description  %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>

        </div>
        <!--tab content-->
      </div><!--col xs9-->
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", academico_courses_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>
<script src="/assets/academico/courses.js"></script>
