<%content_for :dialog do%>
  <%= form_tag academico_courses_path, method: "get" do %>


    <!-- Trigger the modal with a button -->
    <%=filter_button_tag "Filtrar" %>
    <!-- Modal -->
    <div id="ModalFilter" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Filtrar Grupos</h4>
          </div>
          <div class="modal-body">
              <div class="clearfix form-group">
                <%= label_tag "Estado", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select(:filter, :status_eq, Academico::CourseStatus.all, :id, :description, {:include_blank => true, selected: '2'},{:class=>"select2_single form-control"}) %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Turno", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select :filter, :schedulle_eq, Academico::CourseSchedulle.all, :id, :printable_schedulle, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :style => 'width: 100%;'} %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Nivel", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select(:filter, :level_eq, Academico::Level.all, :id, :name, {:include_blank => true},{:class=>"select2_single form-control"}) %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Programa", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select(:filter, :program_eq, Academico::Program.all, :id, :name, {:include_blank => true},{:class=>"select2_single form-control"}) %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Docente", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select :filter, :staff_eq, Academico::Staff.all, :id, :display_name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :style => 'width: 100%;'} %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Fecha inicio entre", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="control-group">
                    <div class="controls">
                      <div class="xdisplay_inputx form-group has-feedback">
                        <%= text_field :filter, :start_date_begins, :class=>"form-control datepicker schedulle is-filter", :placeholder=>"dd/mm/yyyy"%>
                        <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
                      </div>
                      <div class="xdisplay_inputx form-group has-feedback">
                        <%= text_field :filter, :start_date_ends, :class=>"form-control datepicker schedulle is-filter", :placeholder=>"dd/mm/yyyy"%>
                        <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Fecha fin entre", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="control-group">
                    <div class="controls">
                      <div class="xdisplay_inputx form-group has-feedback">
                        <%= text_field :filter, :end_date_begins, :class=>"form-control datepicker schedulle is-filter", :placeholder=>"dd/mm/yyyy"%>
                        <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
                      </div>
                      <div class="xdisplay_inputx form-group has-feedback">
                        <%= text_field :filter, :end_date_ends, :class=>"form-control datepicker schedulle is-filter", :placeholder=>"dd/mm/yyyy"%>
                        <span class="form-control-feedback fa fa-calendar-o right" aria-hidden="true"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="clearfix modal-footer">
            <!--data-dismiss="modal"-->
            <a type="button" href="<%=academico_courses_path%>" class="btn btn-default">Quitar Filtros</a>
            <button type="submit" class="btn btn-default">Filtrar</button>
          </div>
        </div>

      </div>
    </div>
  <% end %>
<%end%>

<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Grupos</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%=content_for :dialog%>
              </li>
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_academico_course_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <div class="digg_pagination">
                <div class="pagination_pages">
                  <%= will_paginate @academico_courses, :container => false %>
                </div>
              </div>
              <%= form_tag destroy_multiple_academico_courses_path, method: :delete, data: { confirm: "Are you sure?"}, :class=>"multi_delete_form" do %>
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">Grupo</th>
                      <th class="column-title">Turno</th>
                      <th class="column-title">Modalidad</th>
                      <th class="column-title">Salón</th>
                      <th class="column-title">Alumnos</th>
                      <th class="column-title">Docente</th>
                      <th class="column-title">Segundo Docente</th>
                      <th class="column-title">Curso</th>
                      <th class="column-title">Estado</th>
                      <th class="column-title no-link last" colspan="3">Action</th>
                      </th>
                      <th class="bulk-actions" colspan="4">
                        <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @academico_courses.each_with_index do |academico_course, index| %>
                      <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                        <td class="center">
                            <input type="checkbox" name="academico_course_ids[]" id="academico_course_id_<%=academico_course.id%>" value="<%=academico_course.id%>" class="flat deletable">
                        </td>

                        <td><%= academico_course.academico_level_program.group_name %></td>
                        <td><%= academico_course.course_schedulle %></td>
                        <td><%= academico_course.course_modality %></td>
                        <td><%= academico_course.course_room %></td>
                        <td><%= academico_course.taken_seats %></td>
                        <td><%= academico_course.staff %>
                        <td><%= academico_course.second_staff %>
                        </td>
                        <td><%= academico_course.academico_time_frame.try(:display_name) %></td>
                        <td><span class="label label-success"><%= academico_course.academico_course_status.description %></span></td>
                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), academico_course %></td>
                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_academico_course_path(academico_course) %></td>
                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), academico_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
