<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Curso: <%=@academico_course.academico_level_program.group_name %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Nombre:</h2>
                <h4><%= @academico_course.name %></h4>

                <h2>Grupo:</h2>
                <h4><%= @academico_course.academico_level_program.group_name %></h4>

                <h2>Curso:</h2>
                <h4><%= @academico_course.academico_time_frame.try(:name) %></h4>

                <h2>Turno:</h2>
                <h4><%= @academico_course.course_schedulle %></h4>

                <h2>Modalidad:</h2>
                <h4><%= @academico_course.course_modality %></h4>

                <h2>Sucursal:</h2>
                <h4><%= @academico_course.course_office %></h4>

                <h2>Salón:</h2>
                <h4><%= @academico_course.academico_room.name if @academico_course.academico_room.present?%></h4>

                <h2>Libro:</h2>
                <h4><%= @academico_course.facturacion_book.display_name if @academico_course.facturacion_book.present?%></h4>

                <h2>Alumnos:</h2>
                <h4><%= @academico_course.taken_seats %></h4>

                <h2>Docente:</h2>
                <h4><%= @academico_course.staff %></h4>

                <h2>Segundo Docente:</h2>
                <h4><%= @academico_course.second_staff %></h4>

                <h2>Estado:</h2>
                <h4><%= @academico_course.academico_course_status.description %></h4>

                <h2>Fecha de Inicio:</h2>
                <h4><%= @academico_course.course_start_date %></h4>

                <h2>Fecha de Fin:</h2>
                <h4><%= @academico_course.course_end_date %></h4>
              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_academico_course_path(@academico_course), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', academico_courses_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
