<%= form_for(facturacion_accounting_account, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if facturacion_accounting_account.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(facturacion_accounting_account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% facturacion_accounting_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :facturacion_accounting_account_categories_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Categoría <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :facturacion_accounting_account_categories_id, Facturacion::AccountingAccountCategory.all, :id, :description, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :parent_account, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Cuenta padre
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :parent_account, Facturacion::AccountingAccount.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :facturacion_account_types_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Tipo cuenta <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :facturacion_account_types_id, Facturacion::AccountType.all, :id, :name, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1", :required=>"required"} %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :name, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Nombre <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :name, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :account_number, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Número <span class="required">*
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :account_number, :class=>"form-control col-md-7 col-xs-12",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :facturacion_account_to_records_id, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Es cuenta de
    <%end%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :facturacion_account_to_records_id, Facturacion::AccountToRecord.all, :id, :description, { include_blank: true}, {:class=>"select2_single form-control", :tabindex=>"-1"} %>
    </div>
  </div>

  <div class="item form-group col-md-11 col-sm-11 col-xs-12 absolute_form_group" style="padding: 0">
    <%= f.label :is_disabled, :class=>"control-label col-md-4 col-sm-3 col-xs-12" do %>
      Activa <span class="required">*</span>
    <%end%> 
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.check_box :is_disabled, {:class=>"js-switch", :checked => true}, false, true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_accounting_accounts_path, :class=>"btn btn-primary")%>
      <%= submit_tag 'Guardar', class: "btn btn-success", id: "send", data: {disable_with: "Enviando..." } %>
    </div>
  </div>
<% end %>