<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Editar cuenta contable</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <% if alert.present?%>
              <div class="alert alert-error">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= alert %>
              </div>
            <% end %>
            <%= render 'form', facturacion_accounting_account: @facturacion_accounting_account %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>