<%content_for :dialog do%>
  <%= form_tag facturacion_accounting_accounts_path, method: "get" do %>


    <!-- Trigger the modal with a button -->
    <%=filter_button_tag "Filtrar" %>
    <!-- Modal -->
    <div id="ModalFilter" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Filtrar Cuentas</h4>
          </div>
          <div class="modal-body">
              <div class="clearfix form-group">
                <%= label_tag "Categoría", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select(:filter, :account_category_eq, Facturacion::AccountingAccountCategory.all, :id, :description, {include_blank: true, selected: params.try(:[], :filter).try(:[], :account_category_eq)},{:class=>"select2_single form-control"}) %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Cuenta padre", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select :filter, :parent_account_eq, Facturacion::AccountingAccount.all, :id, :name, { include_blank: true, selected: params.try(:[], :filter).try(:[], :parent_account_eq)}, {:class=>"select2_single form-control", :tabindex=>"-1", :style => 'width: 100%;'} %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Tipo cuenta", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select(:filter, :account_type_eq, Facturacion::AccountType.all, :id, :name, {include_blank: true, selected: params.try(:[], :filter).try(:[], :account_type_eq)},{:class=>"select2_single form-control"}) %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Número", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= text_field :filter, :account_number_like, {class: "form-control", value: params.try(:[], :filter).try(:[], :account_number_like)} %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Nombre", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= text_field :filter, :name_like, {class: "form-control", value: params.try(:[], :filter).try(:[], :name_like)} %>
                </div>
              </div>


              <div class="clearfix form-group">
                <%= label_tag "Estado", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= select_tag 'filter[status_eq]', options_for_select({'Inactivo'=> true,  'Activo'=> false}, false), {:class=>"select2_single form-control", :style => 'width: 100%;'} %>
                </div>
              </div>

          </div>
          <div class="clearfix modal-footer">
            <!--data-dismiss="modal"-->
            <a type="button" href="<%=facturacion_accounting_accounts_path%>" class="btn btn-default">Quitar Filtros</a>
            <button type="submit" class="btn btn-default">Filtrar</button>
          </div>
        </div>

      </div>
    </div>
  <% end %>
<%end%>

<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Catálogo contable</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%=content_for :dialog%>
              </li>
              <li>
                <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_facturacion_accounting_account_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <div class="digg_pagination">
                <div class="pagination_pages">
                  <%= will_paginate @facturacion_accounting_accounts, :container => false %>
                </div>
              </div>
              <%= form_tag destroy_multiple_facturacion_accounting_accounts_path, method: :delete, data: { confirm: "Are you sure?"}, :class=>"multi_delete_form" do %>
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">Número de cuenta</th>
                      <th class="column-title">Nombre cuenta</th>
                      <th class="column-title">Tipo cuenta</th>
                      <th class="column-title">Categoría</th>
                      <th class="column-title">Cuenta padre</th>
                      <th class="column-title">Estado</th>
                      <th class="column-title no-link last" colspan="3">Action</th>
                      </th>
                      <th class="bulk-actions" colspan="7">
                        <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @facturacion_accounting_accounts.each_with_index do |facturacion_accounting_account, index| %>
                      <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                        <td class="center">
                                    <input type="checkbox" name="facturacion_accounting_account_ids[]" id="facturacion_accounting_account_id_<%=  facturacion_accounting_account.id%>" value="<%=facturacion_accounting_account.id%>" class="flat deletable">
                              </td>

                        <td><%= facturacion_accounting_account.account_number %></td>
                        <td><%= facturacion_accounting_account.name %></td>
                        <td><%= facturacion_accounting_account.facturacion_account_type.name %></td>
                        <td><%= facturacion_accounting_account.facturacion_accounting_account_category.description %></td>
                        <td><%= facturacion_accounting_account.facturacion_parent_account.name if facturacion_accounting_account.facturacion_parent_account.present? %></td>
                        <td><%= facturacion_accounting_account.status %></td>

                        <td class=" last">
                          <%= link_to content_tag(:i,nil,:class=>"fa fa-search"), facturacion_accounting_account %>
                        </td>
                        <td class=" last">
                          <%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_facturacion_accounting_account_path(facturacion_accounting_account) %>
                        </td>
                        <td class=" last">
                          <%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), facturacion_accounting_account, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
