<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Cuenta: <%=@facturacion_accounting_account.name %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Número:</h2>
                <h4><%= @facturacion_accounting_account.account_number %></h4>

                <h2>Categoría:</h2>
                <h4><%= @facturacion_accounting_account.facturacion_accounting_account_category.description if @facturacion_accounting_account.facturacion_accounting_account_category.present? %></h4>

                <h2>Tipo:</h2>
                <h4><%= @facturacion_accounting_account.facturacion_account_type.name %></h4>

                <h2>Padre:</h2>
                <h4><%= @facturacion_accounting_account.facturacion_parent_account.name if @facturacion_accounting_account.facturacion_parent_account.present? %></h4>

              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar', edit_facturacion_accounting_account_path(@facturacion_accounting_account), :class=>"btn btn-primary" %>
                  <%= link_to 'Atrás', facturacion_accounting_accounts_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
