<%= form_for(facturacion_course_book_registration, html: {:class=>"form-horizontal form-label-left", :novalidate => nil}) do |f| %>
  <% if facturacion_course_book_registration.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(facturacion_course_book_registration.errors.count, "error") %> prohibited this facturacion_course_book_registration from being saved:</h2>

      <ul>
        <% facturacion_course_book_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :book_price, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Precio de Libro <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :book_price, :class=>"form-control col-md-7 col-xs-12 numeric-input-validated",:required=>"required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :registration_price, :class=>"control-label col-md-3 col-sm-3 col-xs-12" do %>
    Precio de Matricula <span class="required">*
    <%end%> 
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :registration_price, :class=>"form-control col-md-7 col-xs-12 numeric-input-validated",:required=>"required" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%=link_to("Cancelar", facturacion_course_book_registrations_path, :class=>"btn btn-primary")%>
      <button id="send" type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
<% end %>
