<%content_for :dialog do%>
  <%= form_tag facturacion_course_book_registrations_path, method: "get" do %>


    <!-- Trigger the modal with a button -->
    <%=filter_button_tag "Filtrar" %>
    <!-- Modal -->
    <div id="ModalFilter" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Filtrar</h4>
          </div>
          <div class="modal-body">
              <div class="clearfix form-group">
                <%= label_tag "Grupo", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select(:filter, :academico_course_eq, Academico::Course.all, :id, :name, {include_blank: true, selected: params.try(:[], :filter).try(:[], :academico_course_eq)},{:class=>"select2_single form-control"}) %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Nivel", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select(:filter, :academico_level_eq, Academico::Level.all, :id, :name, {include_blank: true, selected: params.try(:[], :filter).try(:[], :academico_level_eq)},{:class=>"select2_single form-control"}) %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Programa", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select(:filter, :academico_program_eq, Academico::Program.all, :id, :name, {include_blank: true, selected: params.try(:[], :filter).try(:[], :academico_program_eq)},{:class=>"select2_single form-control"}) %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Libro", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select :filter, :facturacion_book_eq, Facturacion::Book.all, :id, :name, { include_blank: true, selected: params.try(:[], :filter).try(:[], :facturacion_book_eq)}, {:class=>"select2_single form-control", :tabindex=>"-1", :style => 'width: 100%;'} %>
                </div>
              </div>
              <div class="clearfix form-group">
                <%= label_tag "Status del Curso", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <%= collection_select :filter, :status_eq, Academico::CourseStatus.all, :id, :description, { include_blank: true, selected: params.try(:[], :filter).try(:[], :status_eq)}, {:class=>"select2_single form-control", :tabindex=>"-1", :style => 'width: 100%;'} %>
                </div>
              </div>

          </div>
          <div class="clearfix modal-footer">
            <!--data-dismiss="modal"-->
            <a type="button" href="<%=facturacion_course_book_registrations_path%>" class="btn btn-default">Quitar Filtros</a>
            <button type="submit" class="btn btn-default">Filtrar</button>
          </div>
        </div>

      </div>
    </div>
  <% end %>
<%end%>

<%content_for :dialog_book do%>

    <!-- Trigger the modal with a button -->
    <%=bulk_action_popup "Nuevo Precio de Libro", "ModalBookPrice" %>
    <!-- Modal -->
    <div id="ModalBookPrice" class="modal fade bulks" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Nuevo Precio de Libro</h4>
          </div>
          <div class="modal-body">
              <div class="clearfix form-group">
                <%= label_tag "Precio", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                   <%= text_field :book_price, :new_book_price, {class: "form-control numeric-input-validated"} %>
                </div>
              </div>
          </div>
          <div class="clearfix modal-footer">
            <button type="submit" class="btn btn-default">Actualizar</button>
          </div>
        </div>

      </div>
    </div>
<%end%>

<%content_for :dialog_registration do%>

    <!-- Trigger the modal with a button -->
    <%=bulk_action_popup "Nuevo Precio de Matricula", "ModalRegistrationPrice" %>
    <!-- Modal -->
    <div id="ModalRegistrationPrice" class="modal fade bulks" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Nuevo Precio de Matricula</h4>
          </div>
          <div class="modal-body">
              <div class="clearfix form-group">
                <%= label_tag "Precio", nil, :class=>"control-label col-md-4 col-sm-3 col-xs-12" %>
                <div class="col-md-8 col-sm-6 col-xs-12">
                   <%= text_field :registration_price, :new_registration_price, {class: "form-control numeric-input-validated"} %>
                </div>
              </div>
          </div>
          <div class="clearfix modal-footer">
            <button type="submit" class="btn btn-default">Actualizar</button>
          </div>
        </div>

      </div>
    </div>
<%end%>


<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Precios de Libros - Matricula por grupo de curso</h2>
            <ul class="nav navbar-right panel_toolbox panel_button">
              <li>
                <%=content_for :dialog%>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="table-responsive">
              <%= form_tag bulk_prices_facturacion_course_book_registrations_path, method: "put" do %>
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">

                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">Curso</th>
                      <th class="column-title">Nivel</th>
                      <th class="column-title">Programa</th>
                      <th class="column-title">Libro</th>
                      <th class="column-title">Salon</th>
                      <th class="column-title">Precio Libro</th>
                      <th class="column-title">Precio Matricula</th>
                      <th class="column-title"></th>
                      <th class="bulk-actions " colspan="4">
                        <%=content_for :dialog_book%>
             
                      
                        <%=content_for :dialog_registration%>
                      </th>
                      <th class="bulk-actions " colspan="5">
                      </th>

                    </tr>
                  </thead>
                  <% @facturacion_course_book_registrations.each_with_index do |facturacion_course_book_registration, index| %>
                    <tbody>
                      
                        <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                          <td class="center">
                            <input
                              type="checkbox"
                              name="facturacion_course_book_registration_ids[]"
                              id="facturacion_course_book_registration_id_<%=facturacion_course_book_registration.id%>"
                              value="<%=facturacion_course_book_registration.id%>"
                              class="flat deletable">
                          </td>
                          <td><%= facturacion_course_book_registration.academico_course.try(:name) %></td>
                          <td><%= facturacion_course_book_registration.academico_course.try(:academico_level).try(:display_name) %></td>
                          <td><%= facturacion_course_book_registration.academico_course.try(:academico_program).try(:display_name) %></td>
                          <td><%= facturacion_course_book_registration.academico_course.try(:facturacion_book).try(:display_name) %></td>
                          <td><%= facturacion_course_book_registration.academico_course.try(:academico_room).try(:name) %></td>
                          <td><%= facturacion_course_book_registration.book_price || 0.00 %></td>
                          <td><%= facturacion_course_book_registration.registration_price || 0.00%></td>
                          <td class=" last">
                            <%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"),
                              edit_facturacion_course_book_registration_path(facturacion_course_book_registration) %>
                          </td>
                        </tr>
                      
                    </tbody>
                  <% end %>
                </table>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  $('.modal').on('shown.bs.modal', function() {
    $(".bulks input").val("");
  })
  $('.modal').on('hidden.bs.modal', function() {
    $(".bulks input").val("");
  })

</script>