<div class="right_col" role="main" style="min-height: 1053px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%=@facturacion_course_book_registration.academico_course.academico_time_frame.display_name%></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">

        <div class="x_panel">

          <div class="x_content">
            <% if notice.present?%>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="col-md-8 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>

                <h2>Curso:</h2>
                <h4><%= @facturacion_course_book_registration.academico_course.try(:display_name) %></h4>

                <h2>Libro:</h2>
                <h4><%= @facturacion_course_book_registration.academico_course.try(:facturacion_book).try(:display_name) %></h4>

                <h2>Salon:</h2>
                <h4><%= @facturacion_course_book_registration.academico_course.try(:academico_room).try(:name) %></h4>

                <h2>Nivel:</h2>
                <h4><%= @facturacion_course_book_registration.academico_course.try(:academico_level).try(:display_name) %></h4>
                
                <h2>Programa:</h2>
                <h4><%= @facturacion_course_book_registration.academico_course.try(:academico_program).try(:display_name) %></h4>
                
                <h2>Precio de libro:</h2>
                <h4><%= @facturacion_course_book_registration.book_price %></h4>

                <h2>Precio de Matricula:</h2>
                <h4><%= @facturacion_course_book_registration.registration_price %></h4>

              </blockquote>

              <blockquote class="blockquote-reverse">

                  <%= link_to 'Editar',  edit_facturacion_course_book_registration_path(@facturacion_course_book_registration),
                    :class=>"btn btn-primary" %>
                    <%= link_to 'Atrás', facturacion_course_book_registrations_path, :class=>"btn btn-success" %>

              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>