.header-detail {
  font-size: 14px;
  float: right;
}

.header-detail .label { 
  background-color: #bbb;
  font-weight: bold;
}

table.records {
  border-collapse: collapse;
  border: 1px solid #000000;
  page-break-inside: avoid;
} 

table.records thead {
  font-size: 16px;
  font-weight: bold;
  background-color: #bbb;
  display: table-header-group
}

table.records tbody {
  font-size: 14px;
}

table.records tr {
  page-break-inside: avoid;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.title {
  font-weight: bold;
  text-align: center;
}