/*body*/
.nav-md .container.body .right_col{
    padding: 30px 40px 40px;
    margin-left: 180px;
}
.nav-sm .container.body .right_col{
	padding: 30px 40px 40px;
}




body{
	color: #000;
}




.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm{
    border-right: 5px solid #70b152;
}
.nav-md .container.body .col-md-3.left_col.menu_fixed,
.sidebar-footer{
	border-right: 0;
}
.nav-md ul.nav.child_menu li:after{
    border-left: 1px solid #70b152;
}

/*menu*/
.menu_fixed:after {
	content: "";
	position: absolute;
	top: 5rem;
	left: 100%;
	height: 50px;
	width: 3px;
	background: #ef6618;
	z-index: 1;



}


.w5{
	width: 5rem;
}
.w10{
	width: 10rem;
}
.w8{
	width: 8rem;
}
.w6{
	width: 6rem;
}






.show_detail .child .col-xs-12:hover:before, .show_detail .input_value:hover:before{
	width: 50px;
	background: #fecf07;
}
.show_detail .child .col-xs-12:before, .show_detail .input_value:before{
    content: "";
    position: absolute;
    bottom:0;
    left: 12px; 
    height: 2px;
    width: 15px;
    background: #ef6618;
    z-index: 1;
    /*transition*/
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.show_detail .child .col-xs-12, .show_detail .input_value{
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding: 15px 12px;
	color: rgb(0, 119, 109);
	background-color: rgba(45,155,146,0.1);
	border: 0;
	box-shadow: none;
	cursor: not-allowed;
	position: relative;
}













@media (max-width: 991px) {

	.nav-md .container.body .right_col {
    width: 100%;
    padding-right: 0;
    margin: 0;
	}

	.right_col {
    padding: 110px 40px !important
	}
}

/*panel white body*/
.x_panel{
	border:0;
	margin-top: 10px;
    padding: 40px;
}
/*title page*/
.title_page{
	font-weight: 100;
	font-size: 40px;
	color: #275821;
	padding-bottom: 20px;
}
.x_title{
	border:0;
	margin-bottom: 30px;
}









blockquote *{
	font-size: 13px,
}
blockquote{
	border:0;
	font-size: 0;
}
blockquote h2{
	width: 150px;
	display: inline-block;
	color: #2d9b92;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 900;
	padding: 15px;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin-bottom: 2px;
	height: 45px;
}
.x_content blockquote h4{
	width: 70%;
	display: inline-block;
	padding: 15px;
	font-size: 14px;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-color: rgba(45,155,146,0.1);
	color: rgba(45,155,146,1);
	margin-bottom: 2px;
	vertical-align: top;
	min-height: 45px;
}

.x_content blockquote + .blockquote-reverse{
	margin-top: 40px;
	border: 0;
	margin-right: 6%;
}
.x_content .col-md-8.col-lg-8.col-sm-7{
	width: 100%;
	max-width: 700px;
}







.x_title h2{
	font-size: 13px;
	font-weight: bold;
	color: #2d9b92;
	display: inline-block;
	position: relative;
	width: auto;
	overflow: initial;
}


.x_title h2:before{
	content: "";
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	height: 2px;
	border-bottom: 2px solid #fecf07;
}









.x_content{
	margin-top: 0;
}

.x_title .panel_button{
	display: inline-block;
	vertical-align: middle;
	float: none !important;
}






/*alert*/
.alert-success{
	border:0;
	background: rgba(239, 102, 24,0.05);
	color:#ef6618;
	font-weight: normal;
    font-size: 12px;
}






/*table*/
.fc th, .fc td {
    border-style: solid;
    border-width: 1px;
	border-color: #bebebe;
}
.full_calendar td.fc-day:hover, .simple-calendar td:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
.full_calendar thead.fc-head, .simple-calendar thead{
	background: inherit;
	color: #000;
	font-weight: bold;
}
.fc-head-container.fc-widget-header{
	border-top: 2px solid rgba(255,255,255,0);
	border-left: 1px solid rgba(255,255,255,0);
	border-right: 1px solid rgba(255,255,255,0);
}
fc-widget-content{
	border-top: 2px solid rgba(255,255,255,0);
}
.fc-day-header.fc-widget-header{
	padding:10px;
	text-transform: uppercase;
	border-left: 1px solid rgba(255,255,255,0);
	border-right: 1px solid rgba(255,255,255,0);
	font-weight: bold;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.fc-day-number{
	color: #000
}
.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td{
	padding:10px;
	font-size: 14px;
}
.prev-month, td.fc-other-month{
    background-color: #f5f5f5;
}
.fc-other-month>.fc-day-number{
    color: rgba(0,0,0,0.3);	
}
.fc-row.fc-rigid .fc-content-skeleton{
	top: auto;
	bottom: 0;
}
.fc-content-skeleton tbody{
	display: none;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
	line-height: normal;
}
/*title agenda*/
.fc-toolbar .fc-center, .fc-toolbar .fc-center>h2{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 900;
	color: #000;
}
.fc-toolbar .fc-center>h2{
	float: none;
	padding: 10px;
}
.full_calendar .fc-toolbar .fc-center{
	padding-top: 0;
}
.full_calendar .fc-toolbar .fc-left{
    margin-top: -5px;
}
/*button hoy*/
.fc .fc-toolbar>*>.fc-today-button{
	/*position: absolute;*/
	/*float: none !important;*/
	/*left: 0;*/
	margin-left: 5px;
	font-weight: 900;
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	background: #e3e7eb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:0;
	width:40px;
	height: 40px;
	/*top: -6px;*/
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	box-shadow: none;
	text-shadow: none;
}
/*arrow*/
.full_calendar .fc-toolbar .fc-left .fc-button-group{
	float: right;
	margin-top: 5px;
}
.full_calendar .fc-toolbar .fc-left .fc-today-button{
    position: relative;
    float: left;
}
.full_calendar .fc-toolbar .fc-left .fc-today-button.fc-state-disabled{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	color: rgba(0,0,0,0.5);
	background: #e3e7eb;
}
.full_calendar .fc-toolbar .fc-left .fc-today-button:before{
    content: "";
    display: block;
    position: absolute;
    right: -6px;
    width: 18px;
    height: 18px;
    bottom: -6px;
    background: #fff;
    -webkit-border-radius: 200%;
    -moz-border-radius: 200%;
    border-radius: 200%;
}
.full_calendar .fc-toolbar .fc-left .fc-today-button:after{
    content: "";
    display: block;
    position: absolute;
    right: -2px;
    width: 10px;
    height: 10px;
    bottom: -2px;
    background: #fff;
    border: 3px solid #275821;
    -webkit-border-radius: 200%;
    -moz-border-radius: 200%;
    border-radius: 200%;
}
/*.full_calendar .fc-toolbar .fc-left .fc-button-group{
	position: absolute;
	left:0;
	right: 135px;
	margin:auto;
	float: none;
	width: 232px;
    top: 0px;
}
.fc .fc-button-group>.fc-next-button{
	float: right;

}*/
.full_calendar .fc-prev-button,
.full_calendar .fc-next-button
{
	background: inherit;
	border: 0;
	box-shadow: none;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.full_calendar .fc-prev-button:hover,
.full_calendar .fc-next-button:hover{
	color: #0072ff;
}
/*filter*/
.full_calendar .fc-month-button,
.full_calendar .fc-agendaWeek-button,
.full_calendar .fc-agendaDay-button{
	background: inherit;
	border:0;
	box-shadow: none;
	position: relative;
	cursor: pointer;
}
.full_calendar .fc-agendaWeek-button:before,
.full_calendar .fc-agendaWeek-button:after{
	content: "";
	position: absolute;
	height: 10px;
	width: 1px;
	top: 0;
	bottom: 0;
	margin:auto;
}
.full_calendar .fc-agendaWeek-button:before{
	left: -10px;
	border-left:2px solid #dbdbdb;
}
.full_calendar .fc-agendaWeek-button:after{
	right: -10px;
	border-left:2px solid #dbdbdb;
}
.full_calendar.fc .fc-right .fc-button-group>.fc-state-active{
	background: #70b152;
	color: #fff;
	text-shadow: none;
}
.full_calendar .fc-agendaWeek-button{
	margin-right: 20px;
	margin-left: 20px;
}
.full_calendar.fc .fc-right .fc-button-group>*{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	color: rgba(0,0,0,0.5);
}
@media (max-width: 700px) {
	.fc-toolbar .fc-center{
		width: 100%;
		margin-top: 10px;
	}
}

/*table*/
.fc-ltr .fc-axis br{
	display: none;
}
.fc-ltr .fc-axis{
	border:0;
	text-align: center;
	width: 80px !important;
}
.fc-widget-header{
	border:0;
}
.fc-row.fc-widget-header,.fc-row.fc-week.fc-widget-content{
	border: 0 !important;
}
.fc-day-header.fc-widget-header.fc-future{
	text-align: center;
}
.fc-day-header.fc-widget-header.fc-past span,
.fc-day-header.fc-widget-header.fc-future span{
	margin-left: 0;
	float: right;
}
@media (max-width: 700px) {
	.fc-day-header.fc-widget-header.fc-past span,
	.fc-day-header.fc-widget-header.fc-future span{
		margin-left: -75px;
	}
}
.fc-unthemed td.fc-today{
	background: inherit;
}

.fc-highlight{
	background: #fefce9 !important;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

/*resumen*/
.new_container_resumen{
	position: relative;
}
.resumen{
	width: 100%;
	max-width: 400px;
	background: #fff;
	padding: 10px;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: absolute;
	right: 0;
	top: 0;
}
.title_resumen{
    color: #275821;
	font-size: 12px;
	font-weight: 900;

	display: inline-block;
	text-transform: uppercase;
}
.regular_font{
	margin-left: 5px;
	font-weight: 600;
}

/*option action*/
.action_button_gray{
    width: 19px;
    height: 8px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/button_action_g.png);
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.action_container{
	float: right;
}
.action_container .dropdown{
    width: 19px;
    height: 8px;
}
.action_container .open>.dropdown-menu{
	top: 16px;
    left: auto;
    right: 0;
    min-width: 120px;
	background: #f5f5f5;
	border: 2px solid #fff;
	
}
.action_container .open>ul.dropdown-menu.msg_list li{
	background: #fff;
	/*color: #fff;*/
}
/*container resumen*/
.container_resumen{
    color: #275821;
}
.container_resumen .info_text_number {
	color: rgba(0,0,0,0.5);
}
.container_resumen .fs_0.inline_divs>div{
		/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 5px;
}
.container_resumen .inline_divs > *{
	font-size: 12px;
}
.container_resumen .inline_divs .number_view{
	font-size: 45px;
	font-weight: 300;
	line-height: normal;
}
/*colors*/
.point_visual{
	width: 5px;
	height: 5px;
}
.m_right_10{
	margin-right: 10px;
}
.bck_green{
	background:#1ABB9C;
}
.bck_blue{
	background:#0b84ff;
}
.bck_gray{
	background:#949494;
}
/*lighting*/
.bck_green.point_visual{
	-moz-box-shadow:    0px 0px 5px 0px #1ABB9C;
	-webkit-box-shadow: 0px 0px 5px 0px #1ABB9C;
	box-shadow:         0px 0px 5px 0px #1ABB9C;
	background:#1ABB9C;
}
.bck_blue.point_visual{
	-moz-box-shadow:    0px 0px 5px 0px #0b84ff;
	-webkit-box-shadow: 0px 0px 5px 0px #0b84ff;
	box-shadow:         0px 0px 5px 0px #0b84ff;
	background:#0b84ff;
}
.bck_gray.point_visual{
	-moz-box-shadow:    0px 0px 5px 0px #949494;
	-webkit-box-shadow: 0px 0px 5px 0px #949494;
	box-shadow:         0px 0px 5px 0px #949494;
	background:#949494;
}
@media (max-width: 700px) {
	.resumen{
		width: 100%;
		max-width: none;
		background: #fff;
		position: relative;
		right: auto;
		top: auto;
		margin-bottom: 20px;
	}
}

/*container*/
/*subindice y botones */
.x_title .panel_button.navbar-right {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
}
.panel_button.nav>li>a{
	padding: 5px 10px;
	margin-left: 20px;
}

/*colors*/
/*background:#e1f1ec;
color:#579d8a;*/

.fc-day-grid-event.fc-h-event.fc-event .fc-content{
	padding: 2px 10px 2px 25px;
	position: relative;
}
.fc-day-grid-event.fc-h-event.fc-event .fc-content:before{
	content: "";
	position: absolute;
	display: block;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
	width: 5px;
	height: 5px;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.fc-content-skeleton .fc-more-cell .fc-more{
    font-size: 12px;
    color: #b1b1b1;
    text-decoration:underline;
}

/*panel*/
.nav-md ul.nav.child_menu li:after,
.nav-md ul.nav.child_menu li:before {
    background: #fff;
}
.profile_info span,
.profile_info a{
	color: #fff;
}








/*invoice receipts*/
.fs_15{
	font-size: 1.5rem;
}
.bck_turkey{
	background-color:#2d9b92; 
}
.c_turkey{
	color: #2d9b92;
}
.pad_l_05{
	padding-left: 0.5rem
}
.pad_tb_2{
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.pad_b_2{
	padding-bottom: 2rem;
}
.pad_b_1{
	padding-bottom: 1rem;
}
.pad_r_30_900,
.pad_t_2_900,
.pad_1_900,
.pad_b_1,
.pad_b_2,
.pad_tb_2,
.pad_l_05{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.w10{
	width: 10rem;
}
.w5{
	width: 7rem;
}
.max_w_20{
	max-width: 20rem;
}
.max_w_25{
	max-width: 25rem;
}
.split_dashed{
	height: 1px;
	border-bottom: 1px dashed #ccc;
}

.v_bottom_all > *,
.v_bottom_all{
	vertical-align: bottom;
}
.right_0{
	right: 0
}
.bottom_0{
	bottom: 0;
}



@media screen and (min-width: 899px){ 
	.pad_1_900{
		padding: 1rem;
	}
	.bck_body_900{
		background-color: #edf2f5;
	}
	.absolute_900{
		position: absolute;
	}
	.to_900{
		display: none;
	}
	.pad_t_2_900{
		padding-top: 2rem;
	}
	.pad_r_30_900{
		padding-right: 30rem;
	}
	.pad_r_25_900{
		padding-right: 25rem;
	}
	.pad_r_23_900{
		padding-right: 23rem;
	}
	.pad_r_27_900{
		padding-right: 27rem;
	}
	.pad_r_28_900{
		padding-right: 28rem;
	}


	/*input*/
	text-area.form-control.bck_white, input.form-control.bck_white, .item input.bck_white, .item textarea.bck_white, .bad input.bck_white, .bad select.bck_white, .bad textarea.bck_white{
		background-color: white;
	}

	.pad_r_28_900,
	.pad_t_2_900,
	.pad_r_30_900,
	.pad_r_25_900,
	.pad_r_23_900,
	.pad_r_27_900{
		/*box-sizing*/
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}


}
	text-area.form-control.default_input,
	input.form-control.default_input,
	.item input.default_input,
	.item textarea.default_input,
	.bad input.default_input,
	.bad select.default_input,
	.bad textarea.default_input,
	.default_input{
		border:0;
		background-color: transparent;

	}