.bg-green{
	background: #70b152 !important;
    border: 1px solid #70b152 !important;
    color: #fff;
}












/*tables*/
table.jambo_table thead{
	background: inherit;
	border-bottom: 2px solid #ffcf08;

}
table.jambo_table thead th,
.table > thead > tr > th{
	font-weight: normal;
}
table.jambo_table thead,.antoo.submit-form{
	color: #2d9b92;
	text-transform: uppercase;
	font-size: 11px;
}
















.table>caption+thead>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>th, .table>thead:first-child>tr:first-child>td{
	border: 0;
}
table.jambo_table{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}

.table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td{
	padding: 10px;
	line-height: normal;
	color: rgba(0,0,0,1);
	vertical-align: middle;
}
.table>thead>tr>th{
	padding: 20px 10px;
}
.table>tbody>tr>td{
	border-color: #ecf4f9;
}
table.jambo_table tbody tr:hover td{
	background: #f4ffef;
    border-top: 1px solid #ddecd5;
    border-bottom: 1px solid #ddecd5;
}
.table>tbody>tr>td{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/*label*/
.digg_pagination .page_info{
	font-style: italic;
}
.digg_pagination .page_info b{
    background: #70b152;
    padding: 5px 10px;
    text-transform: capitalize;
    margin: 0 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*responsive table*/
.table-responsive{
	border:0;
}
/*checkbox*/
.antoo.submit-form{
	color: #275821 !important;
	text-transform: uppercase !important;
	font-size: 11px !important;
	font-weight: 900 !important;
}
.antoo.submit-form .icon_svg{
	margin-left: 10px;
}
.antoo.submit-form .svg-icon path,
.antoo.submit-form .svg-icon polygon,
.antoo.submit-form .svg-icon rect {
  fill: #a7a7a7;
  /*transition*/
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.antoo.submit-form .svg-icon circle {
  stroke: #a7a7a7;
  /*transition*/
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.antoo.submit-form .svg-icon:hover path,
.antoo.submit-form .svg-icon:hover polygon,
.antoo.submit-form .svg-icon:hover rect {
  fill: #598e42;
}

.antoo.submit-form .svg-icon:hover circle {
  stroke: #598e42;
}

/*icons svg*/
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.icon_svg{
	/*display: block;*/
	width: 15px;
	height: 15px;
	vertical-align: top;
}
.icon_svg svg{
	display: block;
}
.svg-icon {
  width: 100%;
  height: 100%;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #a7a7a7;
  /*transition*/
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.svg-icon circle {
  stroke: #a7a7a7;
  stroke-width: 1;
  /*transition*/
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.svg-icon:hover path,
.svg-icon:hover polygon,
.svg-icon:hover rect {
  fill: #598e42;
}

.svg-icon:hover circle {
  stroke: #598e42;
}
/*split*/
.split_right_icon_section,
.split_left_icon_section{
	position: relative;
}
.split_right_icon_section:before,
.split_left_icon_section:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: block;
	width: 2px;
	height: 10px;
}
.split_left_icon_section:before{
	left: 0;
	border-left: 2px solid rgba(0,0,0,0.1)
}
.split_right_icon_section:before{
	right: 0;
	border-right: 2px solid rgba(0,0,0,0.1)
}

/*paciente*/
.x_title .panel_button.navbar-right{
	margin-left: 40px;
}

/*buttons x title*/
.x_title .panel_button.navbar-right .btn.btn-info{
	background: inherit;
	border: 0;
	color: rgba(0,0,0,0.3);
	font-weight: bold;
	/*color: rgba(0, 95, 212);*/
	padding: 0;
	box-shadow: none;
	margin-top: 0px;
	margin-right: 20px;
	vertical-align: middle;
	font-size: 11px;
	font-style: italic;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.x_title .panel_button.navbar-right .btn.btn-info:hover{
	color: rgba(112,177,82,1);
}
/*icons*/
.x_title .panel_button.navbar-right .btn.btn-info .icon_svg{
	/*display: block;*/
	margin-right: 10px;
	width: 28px;
	height: 28px;
	vertical-align: middle;
}

.x_title .panel_button.navbar-right .btn.btn-info .svg-icon path,
.x_title .panel_button.navbar-right .btn.btn-info .svg-icon polygon,
.x_title .panel_button.navbar-right .btn.btn-info .svg-icon rect {
  fill: rgba(112,177,82,1);
}

.x_title .panel_button.navbar-right .btn.btn-info .svg-icon circle {
  stroke: rgba(112,177,82,1);
}
/*plus*/
.panel_button.nav>li>a.plus_header_container{
	padding: 0;
	margin: 0;
}
.x_title .panel_button.navbar-right .plus.icon_svg{
	vertical-align: top;
	width: 28px;
	height: 28px;
}
.x_title .panel_button.navbar-right .plus.icon_svg .svg-icon path,
.x_title .panel_button.navbar-right .plus.icon_svg .svg-icon polygon,
.x_title .panel_button.navbar-right .plus.icon_svg .svg-icon rect {
  fill: rgba(112,177,82,1);
}

.x_title .panel_button.navbar-right .plus.icon_svg .svg-icon circle {
  stroke: rgba(112,177,82,1);
}

table.jambo_table tbody tr.selected td{
	background: #e6ffda;
}
table.jambo_table tbody tr.selected{
	background: #e6ffda;
}
table.jambo_table tbody tr.selected td{
	border-color:  #e6ffda;
}
table.jambo_table tbody tr td{
	border-left:0;
	border-right: 0;
}
table.jambo_table tbody tr:hover td{
	border-left:0;
	border-right: 0;
}

.icheckbox_flat-green, .iradio_flat-green{
	background: url(/assets/checkbox_lesther.png) no-repeat;
}


/*agenda*/
ul.bar_tabs{
	margin-top: 50px;
	text-transform: uppercase;
	background: inherit;
	border:0;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
	height: auto;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border:0;
	background: inherit;
}
ul.bar_tabs>li,
ul.bar_tabs>li a:focus,
ul.bar_tabs>li a:hover,
ul.bar_tabs>li a,
ul.bar_tabs>li.active{
	border:0;
	background: inherit;
	margin-left: 0;
}










.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	color: #fff;
	background: #ef6618;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn-info:focus, .btn-info.focus,
.btn-info:hover,
.btn-info:active:hover,
.btn-info:active:focus,
.btn-info:active.focus,
.btn-info.active:hover,
.btn-info.active:focus
 .btn-info.active.focus,
 .open > .btn-info.dropdown-toggle:hover,
 .open > .btn-info.dropdown-toggle:focus,
 .open > .btn-info.dropdown-toggle.focus{
    background-color: #ffce09;
    border-color: #ffce09;
    /*transition*/
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.btn-info{
    background-color: #ef6618;
    border-color: #ef6618;
}







ul.bar_tabs>li{
	display: inline-block;
	float: none;
	margin-right: 10px;
}
ul.bar_tabs>li a{
	padding: 5px 10px;
	font-size: 11px;
	font-weight: 600;
	color: #000;
}
.bar_tabs.nav:before, .bar_tabs.nav:after{
	content: none;
}
/*footer*/
footer .pull-right{
	font-style: italic;
}
.logo_bi{
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	display: block;
	width: 100px;
	height: 35px;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-image: url('/assets/logo_bi.png');
}
.logo_bi:hover{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}







/*forms*/
.form-group .control-label{
	color: #2d9b92;
    text-transform: uppercase;
    font-size: 11px;
    /*font-weight: 900;*/
}
.form-group{
	margin-bottom: 10px;

}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: rgba(45,155,146,0.1);
	color: rgba(45,155,146,1);
}







text-area.form-control, input.form-control,
.item input, .item textarea,
.bad input, .bad select, .bad textarea{
	background: rgba(255,206,9,0.15);
	border:0;
	box-shadow: none;
	border: 1px solid transparent;
}














input,text-area{
	font-family: 'Lato', sans-serif;
}
text-area.form-control,
input.form-control{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding: 10px;
	color: #555555;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}



.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control,
.form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled] .form-control:focus,
.form-control[disabled]:active, .form-control[readonly]:active, fieldset[disabled] .form-control:active{
	border: 1px solid transparent;
	background-color: rgba(45,155,146,0.1);
	color: rgba(45,155,146,1);
}


.item input:active, .item textarea:active, .bad input:active, .bad select:active, .bad textarea:active,
.item input:focus, .item textarea:focus, .bad input:focus, .bad select:focus, .bad textarea:focus,


text-area.form-control:active,
input.form-control:active,
text-area.form-control:focus,
input.form-control:focus{
	border: 1px solid #ef6618;
	background: #fff;
}



/*datepicker*/
.daterangepicker{
	border: 1px solid #ef6618;
	/*background-color:rgb(255, 250, 230);*/
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 5px;
}

.daterangepicker td.active:before{
	z-index: -1;
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	background-color: #ef6618;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.daterangepicker td.start-date.end-date.active,
.daterangepicker td.active, .daterangepicker td.active:hover{
	background-color: transparent;
	position: relative;
	z-index: 1;
}
.daterangepicker .calendar.single .calendar-table thead th {
    border-radius: 0;
    color: #ef6618;
}
.daterangepicker .calendar-table{
	/*background-color:rgb(255, 250, 230);*/
}
#total_note{
	color: #2d9b92 !important;
}
.btn-default{
	background-color: rgba(255,206,9,0.15);
	border-color: rgba(255,206,9,0.15);
	color: #f0641b;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.btn-default:focus,
.btn-default:active,
.btn-default:hover{
	background-color: rgba(240,100,27,1);
	border-color: rgba(240,100,27,1);
	color: #fff;
}


/*background: rgba(255,206,9,0.15);
	border:0;
	box-shadow: none;
	border: 1px solid transparent;*/



/*buttons*/
.btn{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.btn.btn-primary{
	background: inherit;
	color: rgba(0,0,0,0.5);
	border-color: transparent;
	box-shadow: none;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.btn.btn-success{
	background: #ef6618;
	color: #fff;
	border: 0;
	box-shadow: none;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/*panel*/
.x_panel{
	position: relative;
}
.col-md-12.col-sm-12.col-xs-12 > .x_panel:before{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50px;
	width: 3px;
	background: #2d9b92;
}
/*nav*/
.nav.side-menu > li.current-page,
.nav.side-menu > li.active{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}









.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover{
    border: 1px solid rgba(39, 88, 33, 0);
    color: rgba(45,155,146,1);
    background: transparent;
}










.btn.btn.btn-success:hover{
	background: #2d9b92;
}
.btn{
	font-size: 12px
}








/*panel shadow*/
.resumen{
	-moz-box-shadow:    -10px 10px 30px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: -10px 10px 30px 0px rgba(0,0,0,0.05);
	box-shadow:         -10px 10px 30px 0px rgba(0,0,0,0.05);
}

/*logo cie*/
/*.logo_cie_container{
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 3;
	left: 190px;
	background: #fff;
	bottom: 5px;
}
.logo_cie{
	position: absolute;
	background-image: url('/assets/logo_cie.png');
	width: 70%;
	height: 70%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
}
@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	.logo_cie{
		background-image: url('/assets/logo_cie.svg');
	}
}
@media (max-width: 991px) {
	.logo_cie_container{
		left: 20px;
	}

}*/


