/*container*/
/*vertical align*/
/*bck*/

.login,
body,
.login .container_login,
.login .midd_container.bck_cover
{

	width: 100%;
	height: 100%;
}

/*footer*/
.footer_login{
	position: absolute;
	bottom: 2rem;
	left: 0;
	width: 100%;
	padding: 2rem;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	font-size: 11px;
	font-weight: bold;
	color: #fff;
}
.footer_login{
	display: none;
}
.footer_index{
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	margin-top: 2rem;
}

.container_login{
	color: #fff;
}
.max_w_40{ max-width: 40rem; }
.max_w_30{ max-width: 30rem; }
.max_w_25{ max-width: 25rem; }
.max_w_20{ max-width: 20rem; }
.row_lm{ margin-top: 1rem; }
.fs_11{ font-size: 1.1rem }
.fs_12{ font-size: 1.2rem }
.fs_13{ font-size: 1.3rem }
.fs_14{ font-size: 1.4rem }
.fs_15{ font-size: 1.5rem }
.only_900{ display: none; }
.fixed_default{ position: fixed; position: top; left: 0; }


/*error*/
.error_login{  }


/*inputs*/
::-webkit-input-placeholder { /* WebKit browsers */
    font-style:italic;
    /*font-family: arial;*/
    text-transform: capitalize;
    font-size: 13px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style:italic;
    /*font-family: arial;*/
    text-transform: capitalize;
    font-size: 13px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style:italic;
    /*font-family: arial;*/
    text-transform: capitalize;
    font-size: 13px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style:italic;
    /*font-family: arial;*/
    text-transform: capitalize;
    font-size: 13px;
}

.input_login{
	margin-top: 0.5rem;
	padding: 1rem;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: 0;
	background: rgba(255,255,255,0.05);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}
.input_login:focus{
	background: rgba(255,255,255,0.15);
}
.submit_login{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-color: #f26518;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	font-weight: bold;
	border:0;
	padding: 0.8rem 1rem;
	-webkit-border-radius: 10rem;
	-moz-border-radius: 10rem;
	border-radius: 10rem;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.submit_login:hover{
	background: #2d9b92;
}
.form_login{
	padding-top: 1rem;
	padding-bottom: 7rem;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/*wrap*/
.login_wrap{
	padding: 2rem;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.midd_container.bck_cover{
	background-attachment:fixed;
	/*background-position: center bottom;*/
}
.midd_container.bck_cover{
	background-repeat: no-repeat;
	background-image: url('/assets/login_bck_480.jpg');
}
/*size*/
@media screen and (min-width: 481px){
	.midd_container.bck_cover{
		background-image: url('/assets/login_bck_700.jpg');
	}
}
@media screen and (min-width: 701px){
	.midd_container.bck_cover{
		background-image: url('/assets/login_bck_900.jpg');
	}
}

/*@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	.middle_container:before{
		background-image: url('../img/login_bck_HD_mac.jpg');
	}
}*/


/*title*/
.title_login{ font-size: 26px; }
.title_login span{ color: #f26518; }

/*logos*/
.logo_eli{
	width: 7rem;	
}


/*areas*/
.areas_login_container{
	padding: 5rem 0rem;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.areas_login{
	font-size: 0;
}
.areas_login > *{
	vertical-align: top; 
	font-size: 1rem;
	display: inline-block;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 33.3%;
	text-align: center;
}
.areas_login .svg_container_login .svg-icon{
	width: 2rem;
	height: 3rem;
	display: block;
	margin:0 auto 1rem;
} 
.areas_login .svg_container_login .svg-icon.academico_icon{
	width: 3rem;
	height: 3rem;

}
.areas_login .svg_container_login{ color: #fff; }
.areas_login .svg_container_login path{ fill: #fff; }
/*hover*/
.areas_login .svg_container_login{
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.areas_login .svg_container_login:hover path{ fill: #fdd31e; }
.areas_login .svg_container_login:hover{ color: #fdd31e; }



/*responsive*/
@media screen and (max-height: 600px){
	.bottom_logo.only_900{
		display: none;
	}
}
@media screen and (max-height: 499px){
	.login{ height: auto; }
	.midd_container.bck_cover.bck_panel_login{ background-attachment: scroll; }
	.fixed_min_500.absolute_default_s700{ position: fixed;
	    -webkit-backface-visibility: hidden;
	    -moz-backface-visibility:    hidden;
	    -ms-backface-visibility:     hidden;
	}
}
@media screen and (min-height: 500px){
	.login{ height: 100%; }
	.footer_login{
		display: block;
	}
	.footer_index{
		display: none;
	}
}
/*700*/
@media screen and (min-width: 481px){
	.areas_login_container{
		padding: 3rem 0;
	}
	/*logos*/
	.logo_eli{
		width: 8rem;	
	}
}
/*900*/
@media screen and (min-width: 901px){
	/*logos*/
	.logo_eli{ width: 10rem;	}
	.g_max_30w_s700{ max-width: 30rem; }
	.right_block_s700{ margin: 0 0 0 auto }
	.left_block_s700{ margin: 0 auto 0 0 }
	.pad_r_30_s700{
		/*box-sizing*/
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	.pad_r_30_s700{ padding-right: 30rem }
	.relative_s700{
		position: relative;
	}
	.wh100p_s700{ width: 100%; height: 100%; }
	.absolute_default_s700{ position: absolute; top: 0; left: 0;}

	/*login*/
	.container_login{ background-color: #fff; color: #000; }
	.title_login{ color: #2d9b92 ; margin-top: 2rem;}
	.login_wrap.text-center{ text-align: left; }
	.title_login span{ color: #9d3495 }
	/*areas*/
	.areas_login .svg_container_login{ color: #898989; }
	.areas_login .svg_container_login path{ fill: #898989; }
	/*hover*/
	.areas_login .svg_container_login:hover path{ fill: #f36418; }
	.areas_login .svg_container_login:hover{ color: #f36418; }

	.only_900{ display: block; }

	/*INPUTS*/
	.input_login{
	background: rgba(200,128,8,0.15);
		color: #000;
	}
	.input_login:focus{
		background: rgba(45,155,146,0.15);
	}

}

/*img*/
@media screen and (min-width: 901px){
	/*background green*/
	.midd_container.bck_cover.bck_panel_login{
		background-image: url('/assets/bck_panel_login.svg');
		/*background size*/
		-webkit-background-size: auto 13rem;
		-moz-background-size: auto 13rem;
		-o-background-size: auto 13rem;
		background-size: auto 13rem;
		background-position: top right
	}
	.logo_am{ background-image: url('/assets/logo_am.png'); }

	.bottom_logo{
		position: absolute;
		bottom: 3rem;
		left: 0rem;
		right: 0rem;
	}
	.container_complement_s700 > .bck_cover{
		background-image: url('/assets/login_bck_1024.jpg');
		background-position: center left;
	}
}
@media screen and (min-width: 1025px){
	.container_complement_s700 > .bck_cover{
		background-image: url('/assets/login_bck_1366.jpg');
	}
}
@media screen and (min-width: 1367px){
	.container_complement_s700 > .bck_cover{
		background-image: url('/assets/login_bck_HD.jpg');
	}
}

