.container_login{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#60ad3c+0,275821+62,17540e+100 */
background: #60ad3c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #60ad3c 0%, #275821 62%, #17540e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #60ad3c 0%,#275821 62%,#17540e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #60ad3c 0%,#275821 62%,#17540e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60ad3c', endColorstr='#17540e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.container_login,.login,html{
	height: 100%;
}

/*container*/
/*vertical align*/
/*bck*/
.middle_container:before{
	content: "";
	position: fixed;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
	/*background size*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('/assets/login_bck_800.jpg');
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.50;
}
/*size*/
@media screen and (min-width: 801px){
	.middle_container:before{
		background-image: url('/assets/login_bck_1024.jpg');
	}
}
@media screen and (min-width: 1025px){
	.middle_container:before{
		background-image: url('/assets/login_bck_1366.jpg');
	}
}
@media screen and (min-width: 1367px){
	.middle_container:before{
		background-image: url('/assets/login_bck_HD.jpg');
	}
}
@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	.middle_container:before{
		background-image: url('/assets/login_bck_HD_mac.jpg');
	}
}


.middle_container{
	height: 100%;
	display: table;
	width: 100%;
	position: relative;
}


/*cell*/
.middle_container > .middle_cell{
	display: table-cell;
    vertical-align: middle;
	position: relative;
	z-index: 2;
}

.login_wrap{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 20px;
	color: #fff;
}	

/*icon*/
.login_wrap .svg-icon {
  width: 30px;
  height: 30px;
}
.login_wrap .svg-icon.admin_icon {
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.container_login .svg-icon:hover path, .container_login .svg-icon:hover polygon, .container_login .svg-icon:hover rect {
    fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}
.icon_display_login{
	position: relative;
	width: 120px;
	height: 120px;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin: 0px 10px;
	/*transition*/
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease 	
}
.icon_display_login:before{
	content: "";
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: 1px solid rgba(255,255,255,0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 95px;
	height: 95px;
	-webkit-border-radius: 200%;
	-moz-border-radius: 200%;
	border-radius: 200%;
	margin:auto;
}
.icon_display_login:hover:before{
	width: 120px;
	height: 120px;
}
.login_wrap .svg_container{
	display: block;
	width: 100%;
	color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	margin:auto;
	height: 45px;
}
.lable_icon_login{
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 9px;
}

/*footer*/
.footer_login{
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 50px;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	color: #fff;
	font-size: 12px;
	text-align: center;
	display: none;
	z-index: 3;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.min_height_footer{
	position: relative;
	padding-top: 20px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	z-index: 3;
	display: block;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
@media screen and (min-height: 500px){
	.min_height_footer{
		display: none;
	}
	.footer_login{
		display: block;
	}
}

/*title*/
.title_login{
	font-size: 40px;
	font-weight: 300;
}
.description_title_login{
	font-weight: 300;
	font-style: italic;
	margin-bottom: 50px;
}


/*FORM*/
.form_container_login{
	/*margin-top: 20px;*/
}
.form_login{
	padding: 40px;
	margin: 0 auto;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	max-width: 350px;
	background: rgba(0,0,0,0.3);
}
.form_login input{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 10px 10px 10px 30px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	color: #fff;
	margin-bottom: 10px;
	width: 100%;
	background: rgba(255,255,255,0);
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.form_login input:focus{
	padding: 10px;
	border-bottom: 1px solid rgba(255,255,255,1);
}



.title_login_form{
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	margin-bottom:10px;
}
.title_login_form > div{
	vertical-align: middle;
	margin-right: 10px;
}
.container_title_login_form{
	margin-bottom: 30px;
}
.description_title_login_form{
	font-style: italic;
	font-size: 13px;
	margin-bottom: 10px;	
}
.submit_forgot{
	margin-top: 15px;
	position: relative;
	padding-right: 100px;

}
.submit_forgot a{
	font-size: 13px;
	color: #fff;
}
.button_submit a{
	position: absolute;
	right: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	top: 0;
	padding: 10px 20px;
	background: #fff;
	color: #002b8e;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	display: block;
	/*transition*/
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.button_submit a:hover{
	background: #00a1ff;
	color: #fff;
}

/*icon*/
.icon_form{
  position: absolute;
  left: 0;
  bottom: 20px;
  /*transition*/
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.container_icon_input:hover .icon_form{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.icon_form .svg-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.icon_form span{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 10px;
}

.form_login input:focus ~ .icon_form{
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	left: -10px;
}