
#notice {
  color: green;
}

.field_with_errors input {
  border: 1px solid red
}

#error_explanation {
  padding: 7px;
  border-bottom: solid 1px red;
  margin-bottom: 20px;
  ul {
    margin: 0;
    list-style: none;
    li:before {
      content: "\f0e5";
      font-family: FontAwesome;
      padding-right: 0.5em;
    }
  }

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #f2dede;
    color: #a94442;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

ul.panel_button > li > a {
  font-size: 1.2em;
}
.table-responsive {
  overflow-y: hidden;
}
blockquote h4 {
  padding-left: 15px;
  padding-bottom: 10px;
}

.document_numeric_input, .detail_amount, .detail_discount, .subtotal {
  text-align:right 
}

.show_detail .child .col-xs-12, .show_detail .input_value {
  background: rgba(22,146,242,0.1);
  padding: 5px;
}
.show_detail .child {
  margin-bottom: 2px;
}
.label {
  border-radius: 0;
  padding: 5px;
}