<%content_for :dialog do%>
  <!-- Trigger the modal with a button -->

  <%=filter_button_tag "BCN"%>
  
  <!-- Modal -->
  <div id="ModalFilter" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="x_title">
            <h2>Cargar tasas</h2>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= form_for(@admin_exchange_rate_uploader, :url => admin_exchange_rates_path, html: {:class=>"form-horizontal form-label-left dropzone dz-clickable", :novalidate => nil}) do |f| %>
              <div class="dz-default dz-message">
                <span>Deposite el archivo al contenedor o click para buscar un archivo</span>
              </div>
              <div class="col-md-8 col-sm-6 col-xs-12">
                <%= f.file_field(:bcn_file, {:class=>"form-control col-md-7 col-xs-12 file dz-hidden-input", style: "visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;"}) %>
              </div>
            <% end %>
            <script src="/assets/nprogress.js"></script>
            <script src="/assets/dropzone.js"></script>
          </div>
        </div>
        <br><br>
        <div class="modal-footer">
          <!--data-dismiss="modal"-->
          <div class="col-md-6 col-md-offset-3">
            <a type="button" href="<%=admin_exchange_rates_path%>" class="btn btn-primary">Cancelar</a>
            <button type="submit" class="btn btn-success">Cargar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
<%end%>

<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="title_page">
        <!--Facturación-->
    </div>
    <div class="x_title">
      <h2>Tasas de cambio</h2>
      <ul class="nav navbar-right panel_toolbox panel_button">
        <li>
          <%=content_for :dialog%>
        </li>
        <li>
          <%= link_to(content_tag(:i, nil, :class=>"fa  fa-plus"),new_admin_exchange_rate_path, :"data-toggle"=>"tooltip", :"data-placement"=>"top", :title=>"", :rel=>"nofollow", :"data-original-title"=>"Nuevo")%>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <% if notice.present?%>
      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <%= notice %>
      </div>
    <% end %>


    <div class="row">

    <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

          <div class="x_content">
            
            <div class="table-responsive">
              <%= form_tag destroy_multiple_admin_exchange_rates_path, method: :delete, data: { confirm: "Are you sure?"}, :class=>"multi_delete_form" do %>
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">Fecha</th>
                      <th class="column-title">Tasa de cambio</th>
                      <th class="column-title no-link last" colspan="3">Action</th>
                      </th>
                      <th class="bulk-actions" colspan="5">
                        <a type="button" id="delete_records" class="antoo submit-form" style="color:#fff; font-weight:500; cursor:pointer">Eliminar ( <span class="action-cnt"> </span> ) <i class="fa fa-trash-o"></i></button>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @admin_exchange_rates.each_with_index do |admin_exchange_rate, index| %>
                      <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                        <td class="center">
                                    <input type="checkbox" name="admin_exchange_rate_ids[]" id="admin_exchange_rate_id_<%=admin_exchange_rate.id%>" value="<%=admin_exchange_rate.id%>" class="flat deletable">
                              </td>

                        <td><%= admin_exchange_rate.date %></td>
                        <td><%= admin_exchange_rate.value %></td>
                        
                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-search"), admin_exchange_rate %></td>
                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-pencil"), edit_admin_exchange_rate_path(admin_exchange_rate) %></td>
                        <td class=" last"><%= link_to content_tag(:i,nil,:class=>"fa fa-trash-o"), admin_exchange_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
