<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.text_field :name, autofocus: true, :placeholder => "Ingrese su usuario", :class => "w100p input_login" %>
  </div>
  <div>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Ingrese su contraseña", :class=>"w100p input_login" %>
  </div>
  <br>
  <%= f.button :class=>"submit_login inline pointer", :value =>"" do%>
  Entrar
  <%end%>
  <div class="forgot text-center">
    <%= link_to "Atrás", root_path(), :class=>"italic underline login_wrap" %>
  </div>
<% end %>
