// Place all the styles related to the facturacion/invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facturacion_invoice_details_fields {
  font-size: 12px;
  .form-control {
    font-size: inherit;
  }
}