// Place all the styles related to the facturacion/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#facturacion_note_detail {
  [data-role="invoice_reference"] {
    .associate_invoice {
      padding: 5px 7px;
      margin-left: auto;
      margin-right: auto;
    }
    .invoice_select, .payment_concept {
      border: 0px none;
      display: none;
    }
    &.note_of_invoice {
      .invoice_select, .payment_concept {
        display: initial;
      }
    }
  }
}
