<%= wicked_pdf_stylesheet_link_tag stylesheet %>
<h2 class="title">AMERICAN NICARAGUAN SCHOOL</h2>
<h3 class="title">ALUMNOS ELI</h3>

<div>
  <table class="header-detail">
    <tbody>
      <% if defined?(@level) %>
        <tr>
          <td class="label">Nivel:</td>
          <td><%= @level.name %></td>
        </tr>
      <% end %>
      <% if defined?(@program) %>
        <tr>
          <td class="label">Programa:</td>
          <td><%= @program.name %></td>
        </tr>
      <% end %>
      <% if defined?(@branch_office) %>
        <tr>
          <td class="label">Sucursal:</td>
          <td><%= @branch_office.description %></td>
        </tr>
      <% end %>
      <% if defined?(@schedulle) %>
        <tr>
          <td class="label">Turno:</td>
          <td><%= @schedulle.printable_schedulle %></td>
        </tr>
      <% end %>
      <% if defined?(@staff) %>
        <tr>
          <td class="label">Profesor:</td>
          <td><%= @staff.display_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
<br />

<% @students.each do |program, students| %>
  
    <table class="records" cellpadding="5">
      <thead>
        <tr class="headings">
          <th colspan="9"><%= program %></th>
        </tr>
        <tr>
          <th colspan="9"></th>
        </tr>
        <tr>
          <th>cod_cli</th>
          <th>Nombre</th>
          <th>Fecha de Nacimiento</th>
          <th>Nivel</th>
          <th>Turno</th>
          <th>Maestro 1</th>
          <th>Maestro 2</th>
          <th>Aula</th>
          <th>Sucursal</th>
        </tr>
      </thead>
      <tbody>
        <% students.each_with_index do |report_row, index| %>
          <tr>
            <td><%= report_row[:student_code] %> </td>
            <td><%= report_row[:full_name] %></td>
            <td><%= report_row[:birth_date] %> </td>
            <td><%= report_row[:level] %></td>
            <td><%= report_row[:schedulle] %></td>
            <td><%= report_row[:first_teacher] %></td>
            <td><%= report_row[:second_teacher] %></td>
            <td><%= report_row[:room] %></td>
            <td><%= report_row[:branch_office] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
  <br/>
<% end %>
