<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Transacciones</h2>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="table-responsive">
              
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Fecha</th>
                    <th class="column-title">Tipo de documento</th>
                    <th class="column-title">Numero de documento</th>
                    <th class="column-title">Monto de la transacción</th>
                    <th class="column-title">Descripción</th>                                                                        
                  </tr>
                </thead>

                <tbody>
                  <% @admin_billing_transactions.each_with_index do |admin_billing_transaction, index| %>
                    <tr class="<%= index.odd? ? 'odd' : 'even'%> pointer">
                      <td><%= admin_billing_transaction.date %></td>
                      <td><%= admin_billing_transaction.facturacion_document_type.display_name %></td>
                      <td><%= document_related_link(admin_billing_transaction)%></td>
                      <td><%= admin_billing_transaction.transaction_amount %></td>
                      <td><%= admin_billing_transaction.description %></td>
                    </tr>
                  <% end %>
                </tbody>

              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>