<!DOCTYPE html>
<html class="login">
<head>
	<title>Eli</title>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
	<%= favicon_link_tag 'favicon.ico'%>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<!-- meta ie compatibility -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
	<!-- detecting devices/removing zoom -->

	<!-- favicon -->


	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>

	<!-- jquery librery -->

	<!-- google font -->
	<!-- fuente lato -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

	<!-- screens -->
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/assets/default.css" />
	<!-- Smartphones (portrait 240 - 320) -->
	<link rel="stylesheet" href="/assets/s240_base.css" type="text/css" media="only screen and (min-width : 240px)" />
	<link rel="stylesheet" href="/assets/s240_body.css" type="text/css" media="only screen and (min-width : 240px)" />
	<link rel="stylesheet" href="/assets/s240_update.css" type="text/css" media="only screen and (min-width : 240px)" />
	<link rel="stylesheet" href="/assets/s240_login.css" type="text/css" media="only screen and (min-width : 240px)" />


	<!-- hacks -->
	<!--[if IE]>
	<link rel="stylesheet" href="css/s_ie.css" type="text/css" media="screen"/>
	<![endif]-->

</head>

<body>
	<%= yield %>
</body>
</html>